In [61]:
import pandas as pd
# import re

In [90]:
df = pd.read_csv('resources/fifa-18-demo-player-dataset/CompleteDataset.csv')
df.drop(columns=['Unnamed: 0', 'Flag', 'Club Logo', 'Value', 'Wage', 'Photo'], inplace=True)
df

/Users/Michael/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Name,Age,Nationality,Overall,Potential,Club,Special,Acceleration,Aggression,Agility,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,2228,89,63,89,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,Argentina,93,93,FC Barcelona,2154,92,48,90,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,Brazil,92,94,Paris Saint-Germain,2100,94,56,96,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. Suárez,30,Uruguay,92,92,FC Barcelona,2291,88,78,86,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,M. Neuer,31,Germany,92,92,FC Bayern Munich,1493,58,29,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,2143,79,80,78,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
6,De Gea,26,Spain,90,92,Manchester United,1458,57,38,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,E. Hazard,26,Belgium,90,91,Chelsea,2096,93,54,93,...,59.0,47.0,81.0,61.0,87.0,87.0,82.0,88.0,64.0,82.0
8,T. Kroos,27,Germany,90,90,Real Madrid CF,2165,60,60,71,...,76.0,72.0,87.0,82.0,81.0,81.0,77.0,80.0,78.0,77.0
9,G. Higuaín,29,Argentina,90,90,Juventus,1961,78,50,75,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
10,Sergio Ramos,31,Spain,90,90,Real Madrid CF,2153,75,84,79,...,84.0,87.0,74.0,83.0,70.0,71.0,72.0,69.0,81.0,72.0
11,K. De Bruyne,26,Belgium,89,92,Manchester City,2162,76,68,80,...,66.0,57.0,84.0,70.0,85.0,85.0,81.0,85.0,71.0,81.0
12,T. Courtois,25,Belgium,89,92,Chelsea,1282,46,23,61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,A. Sánchez,28,Chile,89,89,Arsenal,2181,88,80,90,...,62.0,56.0,79.0,64.0,85.0,85.0,83.0,86.0,66.0,83.0
14,L. Modrić,31,Croatia,89,89,Real Madrid CF,2228,75,62,93,...,78.0,72.0,86.0,80.0,83.0,84.0,76.0,83.0,80.0,76.0
15,G. Bale,27,Wales,89,89,Real Madrid CF,2263,93,65,77,...,72.0,67.0,81.0,71.0,87.0,87.0,87.0,87.0,74.0,87.0
16,S. Agüero,29,Argentina,89,89,Manchester City,2074,90,63,86,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0
17,G. Chiellini,32,Italy,89,89,Juventus,1867,68,92,59,...,78.0,86.0,60.0,76.0,55.0,58.0,59.0,56.0,75.0,59.0
18,G. Buffon,39,Italy,89,89,Juventus,1335,49,38,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,P. Dybala,23,Argentina,88,93,Juventus,2063,88,48,91,...,55.0,43.0,78.0,55.0,86.0,86.0,83.0,87.0,60.0,83.0
20,J. Oblak,24,Slovenia,88,93,Atlético Madrid,1290,43,34,67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,A. Griezmann,26,France,88,91,Atlético Madrid,2104,87,69,90,...,56.0,48.0,76.0,57.0,85.0,84.0,85.0,86.0,60.0,85.0
22,Thiago,26,Spain,88,90,FC Bayern Munich,2185,77,57,90,...,72.0,66.0,85.0,76.0,83.0,83.0,77.0,83.0,75.0,77.0
23,P. Aubameyang,28,Gabon,88,88,Borussia Dortmund,2078,95,43,77,...,62.0,52.0,74.0,59.0,84.0,83.0,85.0,84.0,65.0,85.0
24,L. Bonucci,30,Italy,88,88,Milan,1995,62,82,60,...,79.0,86.0,75.0,83.0,66.0,66.0,65.0,63.0,76.0,65.0
25,J. Boateng,28,Germany,88,88,FC Bayern Munich,1989,72,82,58,...,81.0,85.0,73.0,82.0,66.0,69.0,65.0,65.0,79.0,65.0
26,D. Godín,31,Uruguay,88,88,Atlético Madrid,1930,62,86,63,...,79.0,86.0,69.0,80.0,62.0,63.0,64.0,61.0,76.0,64.0
27,M. Hummels,28,Germany,88,88,FC Bayern Munich,2038,62,66,64,...,80.0,85.0,77.0,83.0,69.0,70.0,69.0,68.0,78.0,69.0
28,M. Özil,28,Germany,88,88,Arsenal,1927,75,48,83,...,52.0,41.0,79.0,57.0,82.0,83.0,76.0,83.0,58.0,76.0
29,H. Lloris,30,France,88,88,Tottenham Hotspur,1318,65,31,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17951,M. Hurst,21,Scotland,48,58,St. Johnstone FC,991,40,20,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17952,A. Osmanoski,17,FYR Macedonia,48,68,SpVgg Unterhaching,1377,68,53,63,...,47.0,46.0,47.0,47.0,47.0,48.0,46.0,47.0,47.0,46.0
17953,K. Cotter,18,England,48,67,Luton Town,1329,67,53,64,...,47.0,44.0,47.0,46.0,45.0,48.0,44.0,46.0,48.0,44.0
17954,T. Robinson,19,England,48,64,Bradford City,1257,69,26,65,...,37.0,32.0,41.0,35.0,45.0,47.0,45.0,47.0,39.0,45.0
17955,R. Hughes,18,Scotland,48,63,Hamilton Academical FC,1330,59,57,62,...,47.0,48.0,47.0,48.0,46.0,47.0,44.0,46.0,47.0,44.0
17956,Z. Mohammed,17,England,48,64,Accrington Stanley,1167,62,41,43,...,44.0,47.0,33.0,41.0,32.0,34.0,34.0,33.0,42.0,34.0
17957,D. Peppard,17,Republic of Ireland,47,61,Bohemian FC,1199,56,59,52,...,46.0,45.0,41.0,45.0,39.0,42.0,37.0,40.0,46.0,37.0
17958,C. Rogers,17,Republic of Ireland,47,59,Bray Wanderers,1189,60,41,46,...,46.0,47.0,36.0,43.0,35.0,37.0,37.0,35.0,44.0,37.0
17959,N. McLaughlin,18,Scotland,47,64,Partick Thistle F.C.,1330,69,52,54,...,43.0,40.0,46.0,44.0,47.0,48.0,46.0,47.0,44.0,46.0
17960,L. Kiely,18,Republic of Ireland,47,69,Shamrock Rovers,1290,43,47,47,...,41.0,41.0,45.0,43.0,44.0,45.0,42.0,44.0,41.0,42.0
17961,J. Latibeaudiere,17,England,47,73,Manchester City,1132,57,45,44,...,45.0,46.0,35.0,42.0,32.0,35.0,32.0,32.0,43.0,32.0
17962,J. Payne,18,England,47,63,Barnet,1219,65,43,64,...,46.0,46.0,35.0,40.0,36.0,39.0,36.0,38.0,45.0,36.0
17963,G. Manley,19,Republic of Ireland,47,58,Cork City,1298,57,59,58,...,46.0,48.0,46.0,48.0,42.0,44.0,41.0,42.0,46.0,41.0
17964,P. Phillips,18,Republic of Ireland,47,67,Cork City,1297,56,51,51,...,47.0,48.0,46.0,48.0,43.0,44.0,41.0,42.0,46.0,41.0
17965,A. Byrne,18,Republic of Ireland,47,61,Cork City,1346,58,54,59,...,46.0,43.0,46.0,46.0,46.0,47.0,44.0,45.0,46.0,44.0
17966,K. Fujikawa,18,Japan,47,67,Júbilo Iwata,1317,59,55,50,...,46.0,47.0,46.0,47.0,43.0,45.0,40.0,44.0,46.0,40.0
17967,K. Egan,19,England,47,67,Exeter City,1225,63,51,57,...,46.0,46.0,37.0,41.0,38.0,42.0,37.0,42.0,46.0,37.0
17968,T. Brownsword,17,England,47,68,Morecambe,1143,55,47,49,...,45.0,46.0,32.0,40.0,32.0,34.0,33.0,32.0,43.0,33.0
17969,F. Prohart,18,Austria,47,67,Wolfsberger AC,1238,62,27,69,...,33.0,27.0,41.0,31.0,48.0,47.0,46.0,49.0,35.0,46.0
17970,A. Kilgour,19,England,47,56,Bristol Rovers,1208,52,56,60,...,43.0,46.0,38.0,43.0,37.0,38.0,38.0,37.0,42.0,38.0
17971,R. White,18,England,47,65,Bolton Wanderers,1265,51,33,51,...,33.0,32.0,42.0,33.0,49.0,46.0,52.0,47.0,34.0,52.0
17972,A. Conway,19,Republic of Ireland,47,63,Galway United,1314,60,44,47,...,46.0,45.0,41.0,43.0,42.0,44.0,42.0,44.0,46.0,42.0
17973,T. Sawyer,18,England,46,58,Grimsby Town,1267,65,43,57,...,45.0,42.0,45.0,43.0,46.0,47.0,45.0,47.0,46.0,45.0
17974,J. Keeble,18,England,46,56,Grimsby Town,1105,66,40,45,...,46.0,45.0,34.0,41.0,33.0,35.0,33.0,34.0,44.0,33.0
17975,T. Käßemodel,28,Germany,46,46,FC Erzgebirge Aue,1174,25,52,40,...,37.0,38.0,45.0,42.0,42.0,42.0,41.0,41.0,38.0,41.0
17976,A. Kelsey,17,England,46,63,Scunthorpe United,755,24,16,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17977,B. Richardson,47,England,46,46,Wycombe Wanderers,832,25,44,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17978,J. Young,17,Scotland,46,61,Swindon Town,1194,66,26,60,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
17979,J. Lundstram,18,England,46,64,Crewe Alexandra,1302,57,46,58,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
17980,L. Sackey,18,Ghana,46,64,Scunthorpe United,1031,48,52,49,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [66]:
positions_list = list(df['Preferred Positions'].apply(lambda x: x.split(' ', 1)[0]).drop_duplicates())
positions_list

['ST',
 'RW',
 'LW',
 'GK',
 'CDM',
 'CB',
 'RM',
 'CM',
 'LM',
 'LB',
 'CAM',
 'RB',
 'CF',
 'RWB',
 'LWB']

In [67]:
positions_dict = {'ST': 'Attack',
                  'RW': 'Attack',
                  'LW': 'Attack',
                  'GK': 'Defense',
                  'CDM': 'Midfield',
                  'CB': 'Defense',
                  'RM': 'Midfield',
                  'CM': 'Midfield',
                  'LM': 'Midfield',
                  'LB': 'Defense',
                  'CAM': 'Midfield',
                  'RB': 'Defense',
                  'CF': 'Attack',
                  'RWB': 'Defense',
                  'LWB': 'Defense'}

In [111]:
df2 = df[['Name', 'Club', 'Nationality', 'Preferred Positions', 'Overall']].copy()
df2['Preferred Positions'] = df2['Preferred Positions'].apply(lambda x: x.split(' ', 1)[0]).replace(positions_dict)

team = 'Brazil'
df2[df2['Nationality'] == team].head(14).groupby(['Nationality', 'Preferred Positions']).mean()

                                 Overall
Nationality Preferred Positions
Brazil      Attack                 92.00
            Defense                85.25
            Midfield               84.80

In [112]:
epl2018 = pd.read_csv('resources/leagues/epl2018.csv')
epl2018.head()

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,0,E0,11/08/17,Arsenal,Leicester,4,3,H,2,2,...,2.32,21,-1.00,1.91,1.85,2.10,2.02,1.49,4.73,7.25
1,1,E0,12/08/17,Brighton,Man City,0,2,A,0,0,...,2.27,20,1.50,1.95,1.91,2.01,1.96,11.75,6.15,1.29
2,2,E0,12/08/17,Chelsea,Burnley,2,3,A,0,3,...,2.23,20,-1.75,2.03,1.97,1.95,1.90,1.33,5.40,12.25
3,3,E0,12/08/17,Crystal Palace,Huddersfield,0,3,A,0,2,...,1.72,18,-0.75,2.10,2.05,1.86,1.83,1.79,3.56,5.51
4,4,E0,12/08/17,Everton,Stoke,1,0,H,1,0,...,1.76,19,-0.75,1.94,1.90,2.01,1.98,1.82,3.49,5.42

In [43]:
bundesliga2018 = pd.read_csv('resources/leagues/bundesliga2018.csv')
bundesliga2018.head()

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,0,D1,18/08/17,Bayern Munich,Leverkusen,3,1,H,2,0,...,2.88,17,-2.00,2.26,2.18,1.77,1.72,1.28,6.70,11.30
1,1,D1,19/08/17,Hamburg,Augsburg,1,0,H,1,0,...,1.68,18,-0.25,1.88,1.84,2.07,2.03,2.32,3.32,3.47
2,2,D1,19/08/17,Hertha,Stuttgart,2,0,H,0,0,...,1.87,18,-0.50,2.09,2.05,1.87,1.83,2.02,3.60,4.07
3,3,D1,19/08/17,Hoffenheim,Werder Bremen,1,0,H,0,0,...,2.50,16,-0.75,2.04,1.98,1.91,1.88,1.85,4.19,4.12
4,4,D1,19/08/17,Mainz,Hannover,0,1,A,0,0,...,1.76,16,-0.50,2.01,1.97,1.93,1.89,1.85,3.75,4.65

In [44]:
seriea2018 = pd.read_csv('resources/leagues/seriea2018.csv')
seriea2018.head()

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,0,I1,19/08/17,Juventus,Cagliari,3,0,H,2,0,...,2.41,16,-2.00,1.83,1.80,2.13,2.07,1.13,9.74,27.70
1,1,I1,19/08/17,Verona,Napoli,1,3,A,0,2,...,2.29,16,1.25,1.98,1.95,1.97,1.92,8.37,5.21,1.41
2,2,I1,20/08/17,Atalanta,Roma,0,1,A,0,1,...,2.06,16,0.25,1.91,1.88,2.04,1.99,2.99,3.44,2.53
3,3,I1,20/08/17,Bologna,Torino,1,1,D,1,1,...,1.75,16,0.25,1.90,1.87,2.06,2.00,3.35,3.47,2.31
4,4,I1,20/08/17,Crotone,Milan,0,3,A,0,3,...,2.06,17,1.00,1.89,1.85,2.08,2.02,7.42,4.37,1.52

In [45]:
laliga2018 = pd.read_csv('resources/leagues/laliga2018.csv')
laliga2018.head()

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,0,SP1,18/08/17,Leganes,Alaves,1,0,H,1,0,...,1.46,18,-0.50,2.07,2.03,1.90,1.86,1.98,3.35,4.63
1,1,SP1,18/08/17,Valencia,Las Palmas,1,0,H,1,0,...,2.27,16,-0.75,2.05,1.97,1.96,1.91,1.78,4.24,4.43
2,2,SP1,19/08/17,Celta,Sociedad,2,3,A,1,1,...,1.84,18,-0.25,2.08,2.05,1.87,1.83,2.12,3.53,3.74
3,3,SP1,19/08/17,Girona,Ath Madrid,2,2,D,2,0,...,1.74,16,1.25,1.77,1.75,2.25,2.16,6.93,3.83,1.63
4,4,SP1,19/08/17,Sevilla,Espanol,1,1,D,1,1,...,2.09,16,-1.00,2.12,2.06,1.86,1.82,1.64,4.18,5.82