In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn
# from scipy.stats import poisson,skellam

import statsmodels.api as sm
import statsmodels.formula.api as smf

from league_team_names import epl_team_dict, bundesliga_team_dict, laliga_team_dict, seriea_teams_dict

country_group_dict = pd.read_csv('resources/worldcup_country_groups.csv', ).to_dict

In [61]:
players_df = pd.read_csv('resources/fifa-18-demo-player-dataset/CompleteDataset.csv')
players_df.drop(['Unnamed: 0', 'Flag', 'Club Logo', 'Value', 'Wage', 'Photo', 'Potential', "Special"], axis=1, inplace=True)
players_df[players_df['Nationality']=='Belgium'][['Name', 'Overall', 'Preferred Positions']]

/Users/michaelstrenk/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                   Name  Overall Preferred Positions
7             E. Hazard       90                 LW
11         K. De Bruyne       89          RM CM CAM
12          T. Courtois       89                 GK
50            R. Lukaku       86                 ST
56      T. Alderweireld       86                 CB
59        R. Nainggolan       86             CAM CM
61           D. Mertens       86           ST LW CF
69          Y. Carrasco       85              RM LM
86        J. Vertonghen       85                 CB
90           V. Kompany       85                 CB
183          M. Dembélé       83             CDM CM
274           A. Witsel       82         CAM CDM CM
323          T. Meunier       81              RM RB
361          C. Benteke       81                 ST
372         S. Mignolet       81                 GK
374         K. Mirallas       81              LW LM
394        Y. Tielemans       80             CAM CM
417        M. Batshuayi       80                 ST
421           T. Hazard       80           RM LM CF
540       L. Dendoncker       79          CB CM CDM
645         M. Fellaini       79             CDM CM
717         T. Bongonda       78           RW LM LW
727            D. Origi       78           RW LW ST
781           N. Chadli       78          CAM LM RM
801           G. Gillet       78             CM CDM
806        T. Vermaelen       78              LB CB
827            D. Origi       78           RW LW ST
847        N. Lombaerts       78                 CB
893         K. Casteels       78                 GK
1076       J. Van Damme       77              LB CB
...                 ...      ...                 ...
15530      J. Schryvers       59                 RB
15679         J. Triest       58              CB ST
15743           J. Pupe       58                 CB
15791        M. Zeroual       58                CAM
15921          V. Baume       58                 GK
16209         M. Chajia       57                 CF
16238        R. Bushiri       57                 CB
16239      A. Cavagnera       57                CDM
16269          A. Koita       57              LM RM
16300          T. Demol       57                CAM
16302          B. Dione       57                 ST
16306         T. Ivanof       57          LW RW CAM
16312      L. Matarrese       57                 CB
16330       N. Mingiedi       57              RB CB
16397     M. Schillings       56                 CB
16413        J. Soladio       56                 ST
16475       H. Smolders       56                 CB
16504         Y. Achter       56          LM RM CAM
16532       M. Janssens       56                 GK
16557        F. Karatas       56             CAM CM
16604     C. Libertiaux       56                 GK
16608     M. Schevenels       56                 GK
16620       J. Bataille       56              RW RM
16631  Y. Vandersmissen       56                 LB
16674          N. Rodes       56                CDM
16758       Y. De Nayer       55                 GK
16926         S. Spahiu       55                 CM
16927         A. Galens       55                 GK
16929          M. Hoxha       55                CAM
16964       D. Jubitana       55                 CM

[272 rows x 3 columns]

In [3]:
# positions_list = list(players_df['Preferred Positions'].apply(lambda x: x.split(' ', 1)[0]).drop_duplicates())
# positions_list

In [4]:
positions_dict = {'ST': 'Attack',
                  'RW': 'Attack',
                  'LW': 'Attack',
                  'GK': 'Defense',
                  'CDM': 'Midfield',
                  'CB': 'Defense',
                  'RM': 'Midfield',
                  'CM': 'Midfield',
                  'LM': 'Midfield',
                  'LB': 'Defense',
                  'CAM': 'Attack',
                  'RB': 'Defense',
                  'CF': 'Attack',
                  'RWB': 'Defense',
                  'LWB': 'Defense'}

In [5]:
players_df

,Name,Age,Nationality,Overall,Club,Acceleration,Aggression,Agility,Balance,Ball control,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,Real Madrid CF,89,63,89,63,93,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,Argentina,93,FC Barcelona,92,48,90,95,95,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,Brazil,92,Paris Saint-Germain,94,56,96,82,95,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. Suárez,30,Uruguay,92,FC Barcelona,88,78,86,60,91,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,M. Neuer,31,Germany,92,FC Bayern Munich,58,29,52,35,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,R. Lewandowski,28,Poland,91,FC Bayern Munich,79,80,78,80,89,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
6,De Gea,26,Spain,90,Manchester United,57,38,60,43,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,E. Hazard,26,Belgium,90,Chelsea,93,54,93,91,92,...,59.0,47.0,81.0,61.0,87.0,87.0,82.0,88.0,64.0,82.0
8,T. Kroos,27,Germany,90,Real Madrid CF,60,60,71,69,89,...,76.0,72.0,87.0,82.0,81.0,81.0,77.0,80.0,78.0,77.0
9,G. Higuaín,29,Argentina,90,Juventus,78,50,75,69,85,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
10,Sergio Ramos,31,Spain,90,Real Madrid CF,75,84,79,60,84,...,84.0,87.0,74.0,83.0,70.0,71.0,72.0,69.0,81.0,72.0
11,K. De Bruyne,26,Belgium,89,Manchester City,76,68,80,75,87,...,66.0,57.0,84.0,70.0,85.0,85.0,81.0,85.0,71.0,81.0
12,T. Courtois,25,Belgium,89,Chelsea,46,23,61,45,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,A. Sánchez,28,Chile,89,Arsenal,88,80,90,87,87,...,62.0,56.0,79.0,64.0,85.0,85.0,83.0,86.0,66.0,83.0
14,L. Modrić,31,Croatia,89,Real Madrid CF,75,62,93,94,92,...,78.0,72.0,86.0,80.0,83.0,84.0,76.0,83.0,80.0,76.0
15,G. Bale,27,Wales,89,Real Madrid CF,93,65,77,65,87,...,72.0,67.0,81.0,71.0,87.0,87.0,87.0,87.0,74.0,87.0
16,S. Agüero,29,Argentina,89,Manchester City,90,63,86,91,89,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0
17,G. Chiellini,32,Italy,89,Juventus,68,92,59,64,57,...,78.0,86.0,60.0,76.0,55.0,58.0,59.0,56.0,75.0,59.0
18,G. Buffon,39,Italy,89,Juventus,49,38,55,49,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,P. Dybala,23,Argentina,88,Juventus,88,48,91,85,93,...,55.0,43.0,78.0,55.0,86.0,86.0,83.0,87.0,60.0,83.0
20,J. Oblak,24,Slovenia,88,Atlético Madrid,43,34,67,49,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,A. Griezmann,26,France,88,Atlético Madrid,87,69,90,80,86,...,56.0,48.0,76.0,57.0,85.0,84.0,85.0,86.0,60.0,85.0
22,Thiago,26,Spain,88,FC Bayern Munich,77,57,90,86,92,...,72.0,66.0,85.0,76.0,83.0,83.0,77.0,83.0,75.0,77.0
23,P. Aubameyang,28,Gabon,88,Borussia Dortmund,95,43,77,70,82,...,62.0,52.0,74.0,59.0,84.0,83.0,85.0,84.0,65.0,85.0
24,L. Bonucci,30,Italy,88,Milan,62,82,60,52,75,...,79.0,86.0,75.0,83.0,66.0,66.0,65.0,63.0,76.0,65.0
25,J. Boateng,28,Germany,88,FC Bayern Munich,72,82,58,53,71,...,81.0,85.0,73.0,82.0,66.0,69.0,65.0,65.0,79.0,65.0
26,D. Godín,31,Uruguay,88,Atlético Madrid,62,86,63,58,76,...,79.0,86.0,69.0,80.0,62.0,63.0,64.0,61.0,76.0,64.0
27,M. Hummels,28,Germany,88,FC Bayern Munich,62,66,64,58,77,...,80.0,85.0,77.0,83.0,69.0,70.0,69.0,68.0,78.0,69.0
28,M. Özil,28,Germany,88,Arsenal,75,48,83,70,90,...,52.0,41.0,79.0,57.0,82.0,83.0,76.0,83.0,58.0,76.0
29,H. Lloris,30,France,88,Tottenham Hotspur,65,31,55,54,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17951,M. Hurst,21,Scotland,48,St. Johnstone FC,40,20,45,52,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17952,A. Osmanoski,17,FYR Macedonia,48,SpVgg Unterhaching,68,53,63,58,43,...,47.0,46.0,47.0,47.0,47.0,48.0,46.0,47.0,47.0,46.0
17953,K. Cotter,18,England,48,Luton Town,67,53,64,50,44,...,47.0,44.0,47.0,46.0,45.0,48.0,44.0,46.0,48.0,44.0
17954,T. Robinson,19,England,48,Bradford City,69,26,65,74,48,...,37.0,32.0,41.0,35.0,45.0,47.0,45.0,47.0,39.0,45.0
17955,R. Hughes,18,Scotland,48,Hamilton Academical FC,59,57,62,51,50,...,47.0,48.0,47.0,48.0,46.0,47.0,44.0,46.0,47.0,44.0
17956,Z. Mohammed,17,England,48,Accrington Stanley,62,41,43,60,27,...,44.0,47.0,33.0,41.0,32.0,34.0,34.0,33.0,42.0,34.0
17957,D. Peppard,17,Republic of Ireland,47,Bohemian FC,56,59,52,55,43,...,46.0,45.0,41.0,45.0,39.0,42.0,37.0,40.0,46.0,37.0
17958,C. Rogers,17,Republic of Ireland,47,Bray Wanderers,60,41,46,62,35,...,46.0,47.0,36.0,43.0,35.0,37.0,37.0,35.0,44.0,37.0
17959,N. McLaughlin,18,Scotland,47,Partick Thistle F.C.,69,52,54,72,45,...,43.0,40.0,46.0,44.0,47.0,48.0,46.0,47.0,44.0,46.0
17960,L. Kiely,18,Republic of Ireland,47,Shamrock Rovers,43,47,47,65,47,...,41.0,41.0,45.0,43.0,44.0,45.0,42.0,44.0,41.0,42.0
17961,J. Latibeaudiere,17,England,47,Manchester City,57,45,44,64,30,...,45.0,46.0,35.0,42.0,32.0,35.0,32.0,32.0,43.0,32.0
17962,J. Payne,18,England,47,Barnet,65,43,64,58,33,...,46.0,46.0,35.0,40.0,36.0,39.0,36.0,38.0,45.0,36.0
17963,G. Manley,19,Republic of Ireland,47,Cork City,57,59,58,70,42,...,46.0,48.0,46.0,48.0,42.0,44.0,41.0,42.0,46.0,41.0
17964,P. Phillips,18,Republic of Ireland,47,Cork City,56,51,51,65,41,...,47.0,48.0,46.0,48.0,43.0,44.0,41.0,42.0,46.0,41.0
17965,A. Byrne,18,Republic of Ireland,47,Cork City,58,54,59,77,43,...,46.0,43.0,46.0,46.0,46.0,47.0,44.0,45.0,46.0,44.0
17966,K. Fujikawa,18,Japan,47,Júbilo Iwata,59,55,50,79,48,...,46.0,47.0,46.0,47.0,43.0,45.0,40.0,44.0,46.0,40.0
17967,K. Egan,19,England,47,Exeter City,63,51,57,65,35,...,46.0,46.0,37.0,41.0,38.0,42.0,37.0,42.0,46.0,37.0
17968,T. Brownsword,17,England,47,Morecambe,55,47,49,59,30,...,45.0,46.0,32.0,40.0,32.0,34.0,33.0,32.0,43.0,33.0
17969,F. Prohart,18,Austria,47,Wolfsberger AC,62,27,69,71,46,...,33.0,27.0,41.0,31.0,48.0,47.0,46.0,49.0,35.0,46.0
17970,A. Kilgour,19,England,47,Bristol Rovers,52,56,60,51,42,...,43.0,46.0,38.0,43.0,37.0,38.0,38.0,37.0,42.0,38.0
17971,R. White,18,England,47,Bolton Wanderers,51,33,51,69,44,...,33.0,32.0,42.0,33.0,49.0,46.0,52.0,47.0,34.0,52.0
17972,A. Conway,19,Republic of Ireland,47,Galway United,60,44,47,54,28,...,46.0,45.0,41.0,43.0,42.0,44.0,42.0,44.0,46.0,42.0
17973,T. Sawyer,18,England,46,Grimsby Town,65,43,57,51,42,...,45.0,42.0,45.0,43.0,46.0,47.0,45.0,47.0,46.0,45.0
17974,J. Keeble,18,England,46,Grimsby Town,66,40,45,48,34,...,46.0,45.0,34.0,41.0,33.0,35.0,33.0,34.0,44.0,33.0
17975,T. Käßemodel,28,Germany,46,FC Erzgebirge Aue,25,52,40,52,46,...,37.0,38.0,45.0,42.0,42.0,42.0,41.0,41.0,38.0,41.0
17976,A. Kelsey,17,England,46,Scunthorpe United,24,16,38,26,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17977,B. Richardson,47,England,46,Wycombe Wanderers,25,44,35,44,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17978,J. Young,17,Scotland,46,Swindon Town,66,26,60,77,41,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
17979,J. Lundstram,18,England,46,Crewe Alexandra,57,46,58,74,43,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
17980,L. Sackey,18,Ghana,46,Scunthorpe United,48,52,49,47,32,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [6]:
overall_score_df = players_df[['Name', 'Club', 'Nationality', 'Preferred Positions', 'Overall']].copy()
overall_score_df['Preferred Positions'] = overall_score_df['Preferred Positions'].apply(lambda x: x.split(' ', 1)[0]).replace(positions_dict)

team = 'Brazil'
overall_score_df[overall_score_df['Nationality'] == team].head(14).groupby(['Nationality', 'Preferred Positions']).mean()

                                   Overall
Nationality Preferred Positions
Brazil      Attack               87.333333
            Defense              85.250000
            Midfield             84.666667

In [7]:
epl2018 = pd.read_csv('resources/leagues/epl2018.csv')
bundesliga2018 = pd.read_csv('resources/leagues/bundesliga2018.csv')
seriea2018 = pd.read_csv('resources/leagues/seriea2018.csv')
laliga2018 = pd.read_csv('resources/leagues/laliga2018.csv')
epl2018.head()

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,0,E0,11/08/17,Arsenal,Leicester,4,3,H,2,2,...,2.32,21,-1.00,1.91,1.85,2.10,2.02,1.49,4.73,7.25
1,1,E0,12/08/17,Brighton,Man City,0,2,A,0,0,...,2.27,20,1.50,1.95,1.91,2.01,1.96,11.75,6.15,1.29
2,2,E0,12/08/17,Chelsea,Burnley,2,3,A,0,3,...,2.23,20,-1.75,2.03,1.97,1.95,1.90,1.33,5.40,12.25
3,3,E0,12/08/17,Crystal Palace,Huddersfield,0,3,A,0,2,...,1.72,18,-0.75,2.10,2.05,1.86,1.83,1.79,3.56,5.51
4,4,E0,12/08/17,Everton,Stoke,1,0,H,1,0,...,1.76,19,-0.75,1.94,1.90,2.01,1.98,1.82,3.49,5.42

In [8]:
results_dict = {'H': 2, "D": 1, "A": 0}
cols = ['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']
test_df = epl2018[cols].rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals', 'FTR': 'Results'}).copy()
test_df['Results'] = test_df['Results'].replace(results_dict)
test_df

           HomeTeam        AwayTeam  HomeGoals  AwayGoals  Results
0           Arsenal       Leicester          4          3        2
1          Brighton        Man City          0          2        0
2           Chelsea         Burnley          2          3        0
3    Crystal Palace    Huddersfield          0          3        0
4           Everton           Stoke          1          0        2
5       Southampton         Swansea          0          0        1
6           Watford       Liverpool          3          3        1
7         West Brom     Bournemouth          1          0        2
8        Man United        West Ham          4          0        2
9         Newcastle       Tottenham          0          2        0
10      Bournemouth         Watford          0          2        0
11          Burnley       West Brom          0          1        0
12        Leicester        Brighton          2          0        2
13        Liverpool  Crystal Palace          1          0        2
14      Southampton        West Ham          3          2        2
15            Stoke         Arsenal          1          0        2
16          Swansea      Man United          0          4        0
17     Huddersfield       Newcastle          1          0        2
18        Tottenham         Chelsea          1          2        0
19         Man City         Everton          1          1        1
20      Bournemouth        Man City          1          2        0
21   Crystal Palace         Swansea          0          2        0
22     Huddersfield     Southampton          0          0        1
23       Man United       Leicester          2          0        2
24        Newcastle        West Ham          3          0        2
25          Watford        Brighton          0          0        1
26          Chelsea         Everton          2          0        2
27        Liverpool         Arsenal          4          0        2
28        Tottenham         Burnley          1          1        1
29        West Brom           Stoke          1          1        1
..              ...             ...        ...        ...      ...
350         Swansea         Chelsea          0          1        0
351      Man United         Arsenal          2          1        2
352        West Ham        Man City          1          4        0
353       Tottenham         Watford          2          0        2
354        Brighton      Man United          1          0        2
355     Bournemouth         Swansea          1          0        2
356         Everton     Southampton          1          1        1
357       Leicester        West Ham          0          2        0
358           Stoke  Crystal Palace          1          2        0
359         Watford       Newcastle          2          1        2
360       West Brom       Tottenham          1          0        2
361         Arsenal         Burnley          5          0        2
362         Chelsea       Liverpool          1          0        2
363        Man City    Huddersfield          0          0        1
364         Swansea     Southampton          0          1        0
365         Chelsea    Huddersfield          1          1        1
366       Leicester         Arsenal          3          1        2
367        Man City        Brighton          3          1        2
368       Tottenham       Newcastle          1          0        2
369        West Ham      Man United          0          0        1
370         Burnley     Bournemouth          1          2        0
371  Crystal Palace       West Brom          2          0        2
372    Huddersfield         Arsenal          0          1        0
373       Liverpool        Brighton          4          0        2
374      Man United         Watford          1          0        2
375       Newcastle         Chelsea          3          0        2
376     Southampton        Man City          0          1        0
377         Swansea           Stoke          1          2        0
378       Tottenham       Leicester          5          4        2
379        West Ham         Everton          3          1        2

[380 rows x 5 columns]

In [9]:
player_overall_df = players_df[['Name', 'Club', 'Nationality', 'Preferred Positions', 'Overall']].copy()
player_overall_df['Preferred Positions'] = player_overall_df['Preferred Positions'].apply(lambda x: x.split(' ', 1)[0]).replace(positions_dict)

In [10]:
def get_team_stats(team, type='Club', no_of_players=13, return_df=False):
    mask = overall_score_df[type] == team
    groupby_cols = [type, 'Preferred Positions']
    team_stats_df = player_overall_df[mask].head(no_of_players).groupby(groupby_cols).mean().round(0)
    if return_df == True:
        return team_stats_df
    else:
        df = team_stats_df.reset_index().pivot(type, 'Preferred Positions')
        attack = df['Overall'].values[0][0]
        mid = df['Overall'].values[0][1]
        defense = df['Overall'].values[0][2]
        return [attack, mid, defense]

In [11]:
get_team_stats('Brazil', type='Nationality', return_df=False)

[87.0, 86.0, 85.0]

In [12]:
get_team_stats('Chelsea')

[86.0, 85.0, 84.0]

In [13]:
# epl_teams = list(test_df['HomeTeam'].drop_duplicates().values)
# epl_teams

In [14]:
# epl_team_dict = {'Arsenal': 'Arsenal',
#                  'Brighton': 'Brighton & Hove Albion',
#                  'Chelsea': 'Chelsea',
#                  'Crystal Palace': 'Crystal Palace',
#                  'Everton': 'Everton',
#                  'Southampton': 'Southampton',
#                  'Watford': 'Watford',
#                  'West Brom': 'West Bromwich Albion',
#                  'Man United': 'Manchester United',
#                  'Newcastle': 'Newcastle United',
#                  'Bournemouth': 'Bournemouth',
#                  'Burnley': 'Burnley',
#                  'Leicester': 'Leicester City',
#                  'Liverpool': 'Liverpool',
#                  'Stoke': 'Stoke City',
#                  'Swansea': 'Swansea City',
#                  'Huddersfield': 'Huddersfield Town',
#                  'Tottenham': 'Tottenham Hotspur',
#                  'Man City': 'Manchester City',
#                  'West Ham': 'West Ham United'}

In [15]:
# bund_teams = list(bundesliga2018['HomeTeam'].drop_duplicates().values)
# bund_teams

In [16]:
# bundesliga_team_dict = {'Bayern Munich': 'FC Bayern Munich',
#                         'Hamburg': 'Hamburger SV',
#                         'Hertha': 'Hertha BSC Berlin',
#                         'Hoffenheim': 'TSG 1899 Hoffenheim',
#                         'Mainz': '1. FSV Mainz 05',
#                         'Schalke 04': 'FC Schalke 04',
#                         'Wolfsburg': 'VfL Wolfsburg',
#                         'Freiburg': 'SC Freiburg',
#                         "M'gladbach": 'Borussia Mönchengladbach',
#                         'FC Koln': '1. FC Köln',
#                         'Augsburg': 'FC Augsburg',
#                         'Dortmund': 'Borussia Dortmund',
#                         'Ein Frankfurt': 'Eintracht Frankfurt',
#                         'Leverkusen': 'Bayer 04 Leverkusen',
#                         'Stuttgart': 'VfB Stuttgart',
#                         'Werder Bremen': 'SV Werder Bremen',
#                         'Hannover': 'Hannover 96',
#                         'RB Leipzig': 'RB Leipzig'}

In [17]:
# laliga_teams = list(laliga2018['HomeTeam'].drop_duplicates().values)
# laliga_teams

In [18]:
# laliga_team_dict = {'Leganes': 'CD Leganés',
#                     'Valencia': 'Valencia CF',
#                     'Celta': 'RC Celta de Vigo',
#                     'Girona': 'Girona CF',
#                     'Sevilla': 'Sevilla FC',
#                     'Ath Bilbao': 'Athletic Club de Bilbao',
#                     'Barcelona': 'FC Barcelona',
#                     'La Coruna': 'RC Deportivo de La Coruña',
#                     'Levante': 'Levante UD',
#                     'Malaga': 'Málaga CF',
#                     'Betis': 'Real Betis Balompié',
#                     'Sociedad': 'Real Sociedad',
#                     'Alaves': 'Deportivo Alavés',
#                     'Las Palmas': 'UD Las Palmas',
#                     'Eibar': 'SD Eibar',
#                     'Espanol': 'RCD Espanyol',
#                     'Getafe': 'Getafe CF',
#                     'Real Madrid': 'Real Madrid CF',
#                     'Villarreal': 'Villarreal CF',
#                     'Ath Madrid': 'Atlético Madrid'
#                     }

In [19]:
# seriea_teams = list(seriea2018['HomeTeam'].drop_duplicates().values)
# seriea_teams

In [20]:
# seriea_teams_dict = {'Juventus': 'Juventus',
#                      'Verona': 'Hellas Verona',
#                      'Atalanta': 'Atalanta',
#                      'Bologna': 'Bologna',
#                      'Crotone': 'Crotone',
#                      'Inter': 'Inter',
#                      'Lazio': 'Lazio',
#                      'Sampdoria': 'Sampdoria',
#                      'Sassuolo': 'Sassuolo',
#                      'Udinese': 'Udinese',
#                      'Benevento': 'Benevento Calcio',
#                      'Genoa': 'Genoa',
#                      'Roma': 'Roma',
#                      'Chievo': 'Chievo Verona',
#                      'Fiorentina': 'Fiorentina',
#                      'Milan': 'Milan',
#                      'Napoli': 'Napoli',
#                      'Spal': 'Ferrara (SPAL)',
#                      'Torino': 'Torino',
#                      'Cagliari': 'Cagliari'
#                     }

In [21]:
team_cols = ['HomeTeam', 'AwayTeam']
epl2018[team_cols] = epl2018[team_cols].replace(epl_team_dict)
bundesliga2018[team_cols] = bundesliga2018[team_cols].replace(bundesliga_team_dict)
seriea2018[team_cols] = seriea2018[team_cols].replace(seriea_teams_dict)
laliga2018[team_cols] = laliga2018[team_cols].replace(laliga_team_dict)

In [22]:
seriea2018['HomeTeam'].drop_duplicates().sort_values()

2             Atalanta
10    Benevento Calcio
3              Bologna
24            Cagliari
13       Chievo Verona
4              Crotone
18      Ferrara (SPAL)
15          Fiorentina
11               Genoa
1        Hellas Verona
5                Inter
0             Juventus
6                Lazio
16               Milan
17              Napoli
12                Roma
7            Sampdoria
8             Sassuolo
19              Torino
9              Udinese
Name: HomeTeam, dtype: object

In [23]:
results_dict = {'H': 'HomeWin', "D": 'Draw', "A": 'AwayWin'}
cols = ['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']

league_results_df = pd.concat([epl2018, bundesliga2018, seriea2018, laliga2018])[cols]
league_results_df.rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals', 'FTR': 'Result'}, inplace=True)
league_results_df['Result'] = league_results_df['Result'].replace(results_dict)
league_results_df['Goal diff'] = league_results_df['HomeGoals'] - league_results_df['AwayGoals']

league_results_df.reset_index(drop=True, inplace=True)
league_results_df

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Result,Goal diff
0,Arsenal,Leicester City,4,3,HomeWin,1
1,Brighton & Hove Albion,Manchester City,0,2,AwayWin,-2
2,Chelsea,Burnley,2,3,AwayWin,-1
3,Crystal Palace,Huddersfield Town,0,3,AwayWin,-3
4,Everton,Stoke City,1,0,HomeWin,1
5,Southampton,Swansea City,0,0,Draw,0
6,Watford,Liverpool,3,3,Draw,0
7,West Bromwich Albion,Bournemouth,1,0,HomeWin,1
8,Manchester United,West Ham United,4,0,HomeWin,4
9,Newcastle United,Tottenham Hotspur,0,2,AwayWin,-2
10,Bournemouth,Watford,0,2,AwayWin,-2
11,Burnley,West Bromwich Albion,0,1,AwayWin,-1
12,Leicester City,Brighton & Hove Albion,2,0,HomeWin,2
13,Liverpool,Crystal Palace,1,0,HomeWin,1
14,Southampton,West Ham United,3,2,HomeWin,1
15,Stoke City,Arsenal,1,0,HomeWin,1
16,Swansea City,Manchester United,0,4,AwayWin,-4
17,Huddersfield Town,Newcastle United,1,0,HomeWin,1
18,Tottenham Hotspur,Chelsea,1,2,AwayWin,-1
19,Manchester City,Everton,1,1,Draw,0
20,Bournemouth,Manchester City,1,2,AwayWin,-1
21,Crystal Palace,Swansea City,0,2,AwayWin,-2
22,Huddersfield Town,Southampton,0,0,Draw,0
23,Manchester United,Leicester City,2,0,HomeWin,2
24,Newcastle United,West Ham United,3,0,HomeWin,3
25,Watford,Brighton & Hove Albion,0,0,Draw,0
26,Chelsea,Everton,2,0,HomeWin,2
27,Liverpool,Arsenal,4,0,HomeWin,4
28,Tottenham Hotspur,Burnley,1,1,Draw,0
29,West Bromwich Albion,Stoke City,1,1,Draw,0
...,...,...,...,...,...,...
1416,RC Celta de Vigo,RC Deportivo de La Coruña,1,1,Draw,0
1417,Girona CF,SD Eibar,1,4,AwayWin,-3
1418,Villarreal CF,Valencia CF,1,0,HomeWin,1
1419,Atlético Madrid,RCD Espanyol,0,2,AwayWin,-2
1420,FC Barcelona,Real Madrid CF,2,2,Draw,0
1421,UD Las Palmas,Getafe CF,0,1,AwayWin,-1
1422,Málaga CF,Deportivo Alavés,0,3,AwayWin,-3
1423,CD Leganés,Levante UD,0,3,AwayWin,-3
1424,FC Barcelona,Villarreal CF,5,1,HomeWin,4
1425,Sevilla FC,Real Madrid CF,3,2,HomeWin,1
1426,Deportivo Alavés,Athletic Club de Bilbao,3,1,HomeWin,2
1427,Real Betis Balompié,Sevilla FC,2,2,Draw,0
1428,SD Eibar,UD Las Palmas,1,0,HomeWin,1
1429,Getafe CF,Atlético Madrid,0,1,AwayWin,-1
1430,Girona CF,Valencia CF,0,1,AwayWin,-1
1431,RC Deportivo de La Coruña,Villarreal CF,2,4,AwayWin,-2
1432,Real Madrid CF,RC Celta de Vigo,6,0,HomeWin,6
1433,Real Sociedad,CD Leganés,3,2,HomeWin,1
1434,RCD Espanyol,Málaga CF,4,1,HomeWin,3
1435,Levante UD,FC Barcelona,5,4,HomeWin,1
1436,RC Celta de Vigo,Levante UD,4,2,HomeWin,2
1437,UD Las Palmas,Girona CF,1,2,AwayWin,-1
1438,CD Leganés,Real Betis Balompié,3,2,HomeWin,1
1439,Málaga CF,Getafe CF,0,1,AwayWin,-1
1440,Sevilla FC,Deportivo Alavés,1,0,HomeWin,1
1441,Villarreal CF,Real Madrid CF,2,2,Draw,0
1442,Athletic Club de Bilbao,RCD Espanyol,0,1,AwayWin,-1
1443,Atlético Madrid,SD Eibar,2,2,Draw,0
1444,FC Barcelona,Real Sociedad,1,0,HomeWin,1
1445,Valencia CF,RC Deportivo de La Coruña,2,1,HomeWin,1

In [24]:
# Chart this

In [25]:
league_results_df['Result'].value_counts()

HomeWin    655
AwayWin    440
Draw       351
Name: Result, dtype: int64

In [26]:
homeTeam_attack = []
homeTeam_mid = []
homeTeam_def = []
awayTeam_attack = []
awayTeam_mid = []
awayTeam_def = []
data = []


for index, row in league_results_df.iterrows():
    try:
        home_team_stats = get_team_stats(row['HomeTeam'])
        home_attack = home_team_stats[0]
        home_midfield = home_team_stats[1]
        home_defense = home_team_stats[2]

        away_team_stats = get_team_stats(row['AwayTeam'])
        away_attack = away_team_stats[0]
        away_midfield = away_team_stats[1]
        away_defense = away_team_stats[2]
                
        homeTeam_attack.append(home_attack)
        homeTeam_mid.append(home_midfield)
        homeTeam_def.append(home_defense)
        awayTeam_attack.append(away_attack)
        awayTeam_mid.append(away_midfield)
        awayTeam_def.append(away_defense)

        
    except IndexError:
        homeTeam_attack.append(None)
        homeTeam_mid.append(None)
        homeTeam_def.append(None)
        awayTeam_attack.append(None)
        awayTeam_mid.append(None)
        awayTeam_def.append(None)
        continue

In [27]:
data = [homeTeam_attack, 
        homeTeam_mid, 
        homeTeam_def, 
        awayTeam_attack,
        awayTeam_mid, 
        awayTeam_def]

feature_cols = ['homeTeam_attack', 
                'homeTeam_mid', 
                'homeTeam_def', 
                'awayTeam_attack', 
                'awayTeam_mid',
                'awayTeam_def']

home_cols = ['homeTeam_attack', 
                'homeTeam_mid', 
                'homeTeam_def', 
                'awayTeam_attack', 
                'awayTeam_mid',
                'awayTeam_def']

away_cols = ['awayTeam_attack', 
             'awayTeam_mid',
             'awayTeam_def',
             'homeTeam_attack', 
             'homeTeam_mid', 
             'homeTeam_def']

rename_cols = ['A_Team_attack', 
               'A_Team_mid',
               'A_Team_def',
               'B_Team_attack', 
               'B_Team_mid', 
               'B_Team_def']
             

team_ratings_df = pd.DataFrame(data, index=feature_cols)

In [28]:
team_ratings_df = team_ratings_df.transpose()
team_ratings_df['HomeGoals'] = league_results_df['HomeGoals']
team_ratings_df['AwayGoals'] = league_results_df['AwayGoals']
team_ratings_df['result'] = league_results_df['Result']

In [29]:
team_ratings_df.dropna(inplace=True)

In [30]:
team_ratings_df.head()

,homeTeam_attack,homeTeam_mid,homeTeam_def,awayTeam_attack,awayTeam_mid,awayTeam_def,HomeGoals,AwayGoals,result
0,85.0,83.0,83.0,80.0,78.0,78.0,4,3,HomeWin
1,76.0,75.0,75.0,89.0,83.0,85.0,0,2,AwayWin
2,86.0,85.0,84.0,75.0,77.0,75.0,2,3,AwayWin
3,78.0,76.0,79.0,75.0,73.0,74.0,0,3,AwayWin
4,81.0,81.0,82.0,78.0,79.0,77.0,1,0,HomeWin

In [31]:
home_team_df = team_ratings_df[home_cols].copy()
home_team_df.columns = rename_cols
away_team_df = team_ratings_df[away_cols].copy()
away_team_df.columns = rename_cols

X = pd.concat([home_team_df, away_team_df]).reset_index(drop=True)

In [32]:
X.tail()

,A_Team_attack,A_Team_mid,A_Team_def,B_Team_attack,B_Team_mid,B_Team_def
2887,88.0,86.0,88.0,81.0,81.0,80.0
2888,79.0,80.0,79.0,80.0,80.0,81.0
2889,78.0,78.0,78.0,86.0,85.0,83.0
2890,80.0,80.0,80.0,86.0,85.0,86.0
2891,79.0,77.0,77.0,79.0,80.0,80.0

In [33]:
print(X.shape)
X.iloc[[0,1370]]

(2892, 6)

,A_Team_attack,A_Team_mid,A_Team_def,B_Team_attack,B_Team_mid,B_Team_def
0,85.0,83.0,83.0,80.0,78.0,78.0
1370,80.0,78.0,78.0,81.0,81.0,81.0

In [34]:
y = pd.DataFrame(pd.concat([team_ratings_df['HomeGoals'], team_ratings_df['AwayGoals']]).reset_index(drop=True), columns=['goals'])

In [35]:
print(y.shape)
y.iloc[[0,1370]]

(2892, 1)

      goals
0         4
1370      4

In [36]:
y.head()

   goals
0      4
1      0
2      2
3      0
4      1

In [37]:
data = X.join(y)

In [38]:
data.head()

,A_Team_attack,A_Team_mid,A_Team_def,B_Team_attack,B_Team_mid,B_Team_def,goals
0,85.0,83.0,83.0,80.0,78.0,78.0,4
1,76.0,75.0,75.0,89.0,83.0,85.0,0
2,86.0,85.0,84.0,75.0,77.0,75.0,2
3,78.0,76.0,79.0,75.0,73.0,74.0,0
4,81.0,81.0,82.0,78.0,79.0,77.0,1

# Poisson

In [39]:


goal_model_data = X.join(y)

goal_model_data

poisson_model = smf.glm(formula="goals ~ A_Team_attack + A_Team_mid + A_Team_def + B_Team_attack + B_Team_mid + B_Team_def", data=data, 
                        family=sm.families.Poisson()).fit()
poisson_model.summary()

/Users/michaelstrenk/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  goals   No. Observations:                 2892
Model:                            GLM   Df Residuals:                     2885
Model Family:                 Poisson   Df Model:                            6
Link Function:                    log   Scale:                             1.0
Method:                          IRLS   Log-Likelihood:                -4221.6
Date:                Tue, 12 Jun 2018   Deviance:                       3404.4
Time:                        20:55:49   Pearson chi2:                 3.01e+03
No. Iterations:                     5
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept        -1.6821      0.507     -3.317      0.001      -2.676      -0.688
A_Team_attack     0.0434      0.011      3.934      0.000       0.022       0.065
A_Team_mid        0.0020      0.012      0.170      0.865      -0.021       0.025
A_Team_def        0.0259      0.012      2.113      0.035       0.002       0.050
B_Team_attack    -0.0129      0.011     -1.149      0.250      -0.035       0.009
B_Team_mid       -0.0359      0.012     -2.903      0.004      -0.060      -0.012
B_Team_def        0.0020      0.013      0.155      0.877      -0.023       0.027
=================================================================================
"""

In [40]:
team_data_test1 = {'A_Team_attack': 84,
                  'A_Team_mid': 84,
                  'A_Team_def': 85,
                  'B_Team_attack': 80, 
                  'B_Team_mid': 78, 
                  'B_Team_def': 80}


poisson_model.predict(pd.DataFrame(data=team_data_test1, index=[1]))

1    1.932062
dtype: float64

In [41]:


team_data_test2 = {'A_Team_attack': 80,
                  'A_Team_mid': 78,
                  'A_Team_def': 80,
                  'B_Team_attack': 84, 
                  'B_Team_mid': 84, 
                  'B_Team_def': 85}


poisson_model.predict(pd.DataFrame(data=team_data_test2, index=[1]))

1    1.090379
dtype: float64

In [42]:
a_team_stats = get_team_stats('Brazil', type='Nationality')
print(a_team_stats)

[87.0, 86.0, 85.0]

In [43]:
def simulate_goals(game, a_team='A Team', b_team='B Team', verbose=False):
    a_goals = 0
    b_goals = 0
    outcome = 0

    random_event = np.random.random()
    counter = 0


    for index, row in pd.DataFrame(data=game).iterrows():
        for x in range(len(row)):
            counter += row[x]
            
            a_goals = index
            b_goals = x
            
            if counter > random_event:
                break
        if counter > random_event:
            break
    
    if verbose == True:
        print('Random float: {}'.format(random_event))
        print('{} goals: {}'.format(a_team, str(a_goals)))
        print('{} goals: {}\n'.format(b_team, str(b_goals)))
    
    return a_goals, b_goals


def show_game_summary(game, a_team='A Team', b_team='B Team', verbose=False):
    a_team_odds = np.sum(np.tril(game, -1))
    b_team_odds = np.sum(np.triu(game, 1))
    draw_odds = np.sum(np.diag(game))
    
    if verbose == True:
        print('{} chance of Win: {}%'.format(a_team, round(a_team_odds*100, 2)))
        print('{} chance of Win: {}%'.format(b_team, round(b_team_odds*100, 2)))
        print('Odds of a draw: {}%'.format(round(draw_odds*100, 2)))
    
    a_goals, b_goals = simulate_goals(game, a_team, b_team, verbose=verbose)
    
    return a_team_odds, b_team_odds, draw_odds, a_goals, b_goals


def simulate_match(foot_model, a_team, b_team, type='Club', max_goals=9, verbose=False):
    a_team_stats = get_team_stats(a_team, type=type)
    b_team_stats = get_team_stats(b_team, type=type)
    
    data1 = {'A_Team_attack': a_team_stats[0],
              'A_Team_mid': a_team_stats[1],
              'A_Team_def': a_team_stats[2],
              'B_Team_attack': b_team_stats[0], 
              'B_Team_mid': b_team_stats[1], 
              'B_Team_def': b_team_stats[2]}
    
    data2 = {'A_Team_attack': b_team_stats[0],
              'A_Team_mid': b_team_stats[1],
              'A_Team_def': b_team_stats[2],
              'B_Team_attack': a_team_stats[0], 
              'B_Team_mid': a_team_stats[1], 
              'B_Team_def': a_team_stats[2]}
        
    a_goals_avg = foot_model.predict(pd.DataFrame(data=data1, index=[1])).values[0]
    b_goals_avg = foot_model.predict(pd.DataFrame(data=data2, index=[1])).values[0]
    
    team_pred = [[poisson.pmf(i, team_avg) for i in range(0, max_goals+1)] for team_avg in [a_goals_avg, b_goals_avg]]
    game = (np.outer(np.array(team_pred[0]), np.array(team_pred[1])))
    show_game_summary(game, a_team, b_team, verbose=verbose)
    return game

In [59]:
game = simulate_match(poisson_model, 'Belgium', 'Germany', type='Nationality')
show_game_summary(game, 'Belgium', 'Germany', verbose=True)

Belgium chance of Win: 33.21%
Germany chance of Win: 42.5%
Odds of a draw: 24.29%
Random float: 0.6620272544730578
Belgium goals: 2
Germany goals: 1

(0.3320872363735382, 0.42498530193176426, 0.24291869883834877, 2, 1)

In [45]:
simulate_goals(game)

(1, 2)

## Getting the world cup squad Stats

In [58]:
get_team_stats('Belgium', type='Nationality', return_df=True)

                                 Overall
Nationality Preferred Positions
Belgium     Attack                  86.0
            Defense                 86.0
            Midfield                84.0

In [47]:
get_team_stats('Sweden', type='Nationality', return_df=True)

                                 Overall
Nationality Preferred Positions
Sweden      Attack                  80.0
            Defense                 78.0
            Midfield                80.0

In [48]:
schedule_df = pd.read_csv('resources/worldcup_match_schedule.csv')
schedule_df.head()

     a_team        b_team
0    Russia  Saudi Arabia
1     Egypt       Uruguay
2  Portugal         Spain
3   Morocco          Iran
4    France     Australia

In [49]:
def get_bulk_team_stats(schedule):


    a_team_attack = []
    a_team_mid = []
    a_team_def = []
    b_team_attack = []
    b_team_mid = []
    b_team_def = []
    data = []


    for index, row in schedule.iterrows():
        try:
            a_team_stats = get_team_stats(row['a_team'], type='Nationality')
            a_attack = a_team_stats[0][0]
            a_midfield = a_team_stats[0][1]
            a_defense = a_team_stats[0][2]

            b_team_stats = get_team_stats(row['b_team'], type='Nationality')
            b_attack = b_team_stats[0][0]
            b_midfield = b_team_stats[0][1]
            b_defense = b_team_stats[0][2]

            if len(a_team_stats[0]) != 3 or len(b_team_stats[0]) != 3:
                a_team_attack.append(None)
                a_team_mid.append(None)
                a_team_def.append(None)
                b_team_attack.append(None)
                b_team_mid.append(None)
                b_team_def.append(None)
            else:            
                a_team_attack.append(a_attack)
                a_team_mid.append(a_midfield)
                a_team_def.append(a_defense)
                b_team_attack.append(b_attack)
                b_team_mid.append(b_midfield)
                b_team_def.append(b_defense)


        except IndexError:
            a_team_attack.append(None)
            a_team_mid.append(None)
            a_team_def.append(None)
            b_team_attack.append(None)
            b_team_mid.append(None)
            b_team_def.append(None)
            continue

    data = [a_team_attack, 
            a_team_mid, 
            a_team_def, 
            b_team_attack,
            b_team_mid, 
            b_team_def]

    rename_cols = ['A_Team_attack', 
                   'A_Team_mid',
                   'A_Team_def',
                   'B_Team_attack', 
                   'B_Team_mid', 
                   'B_Team_def']


    return pd.DataFrame(data, index=rename_cols).transpose()

In [50]:
# mask = overall_score_df['Nationality'] == 'Serbia'
# groupby_cols = ['Nationality', 'Preferred Positions']
# player_overall_df[mask].head(13).groupby(groupby_cols).mean().round(0)

In [51]:
def get_game_summary(df):

    a_team_odds = []
    b_team_odds = []
    draw_odds = []
    a_goals_count = []
    b_goals_count = []

    for index, row in schedule_df.iterrows():
        a_team = row[0]
        b_team = row[1]

        game = simulate_match(poisson_model, a_team, b_team, type='Nationality')
        a_team_probability, b_team_probability, draw_probability, a_goals, b_goals  = show_game_summary(game)

        a_team_odds.append(a_team_probability)
        b_team_odds.append(b_team_probability)
        draw_odds.append(draw_probability)
        a_goals_count.append(a_goals)
        b_goals_count.append(b_goals)
        
    
    df['a_team_chances'] = pd.Series(a_team_odds)
    df['b_team_chances'] = pd.Series(b_team_odds)
    df['draw_chances'] = pd.Series(draw_odds)
    df['a_goals'] = pd.Series(a_goals_count)
    df['b_goals'] = pd.Series(b_goals_count)
    
    return df

In [52]:
def calculate_stage_winner(df):
    a_team_points = []
    b_team_points = []

    for index, row in group_stage_results_df.iterrows():
        win = 3
        loss = 0
        draw = 1
        if row['a_goals'] == row['b_goals']:
            a_team_points.append(draw)
            b_team_points.append(draw)
        elif row['a_goals'] > row['b_goals']:
            a_team_points.append(win)
            b_team_points.append(loss)
        elif row['a_goals'] < row['b_goals']:
            a_team_points.append(loss)
            b_team_points.append(win)


        df['a_points'] = pd.Series(a_team_points)
        df['b_points'] = pd.Series(b_team_points)
        
    return df

group_stage_results_df = get_game_summary(schedule_df)
group_stage_results_df = calculate_stage_winner(group_stage_results_df)
group_stage_results_df

,a_team,b_team,a_team_chances,b_team_chances,draw_chances,a_goals,b_goals,a_points,b_points
0,Russia,Saudi Arabia,0.554290,0.202677,0.243023,1,3,0,3
1,Egypt,Uruguay,0.128553,0.675456,0.195929,3,5,0,3
2,Portugal,Spain,0.311893,0.449925,0.238170,4,1,3,0
3,Morocco,Iran,0.632917,0.147130,0.219929,0,2,0,3
4,France,Australia,0.783094,0.075025,0.141530,4,4,1,1
5,Peru,Denmark,0.210984,0.542639,0.246369,1,1,1,1
6,Argentina,Iceland,0.823846,0.058962,0.116335,2,1,3,0
7,Croatia,Nigeria,0.597850,0.175881,0.226247,0,3,0,3
8,Brazil,Switzerland,0.611717,0.175833,0.212408,1,1,1,1
9,Costa Rica,Serbia,0.214069,0.543399,0.242522,1,2,0,3
10,Germany,Mexico,0.657188,0.150520,0.192194,1,0,3,0
11,Sweden,Korea Republic,0.518825,0.238300,0.242864,1,0,3,0
12,Belgium,Panama,0.923147,0.015909,0.057690,5,0,3,0
13,Tunisia,England,0.078672,0.768211,0.152904,1,2,0,3
14,Poland,Senegal,0.349494,0.396617,0.253885,2,0,3,0
15,Colombia,Japan,0.516199,0.240412,0.243379,3,0,3,0
16,Russia,Egypt,0.559110,0.205155,0.235720,3,0,3,0
17,Uruguay,Saudi Arabia,0.668340,0.128277,0.203340,2,1,3,0
18,Portugal,Morocco,0.623699,0.167780,0.208472,1,1,1,1
19,Iran,Spain,0.029581,0.889751,0.078491,0,2,0,3
20,France,Peru,0.798459,0.070222,0.130769,3,1,3,0
21,Denmark,Australia,0.528053,0.215381,0.256560,3,1,3,0
22,Argentina,Croatia,0.481416,0.286253,0.232313,4,1,3,0
23,Nigeria,Iceland,0.484665,0.246092,0.269240,0,0,1,1
24,Brazil,Costa Rica,0.780784,0.077885,0.140939,4,2,3,0
25,Serbia,Switzerland,0.362511,0.370869,0.266617,2,0,3,0
26,Germany,Sweden,0.672681,0.142287,0.184901,3,0,3,0
27,Korea Republic,Mexico,0.228819,0.528535,0.242635,1,6,0,3
28,Belgium,Tunisia,0.830861,0.050144,0.118455,2,1,3,0
29,England,Panama,0.887484,0.027621,0.083513,1,1,1,1
30,Poland,Colombia,0.369895,0.374531,0.255570,2,2,1,1
31,Japan,Senegal,0.223569,0.539651,0.236766,1,5,0,3
32,Uruguay,Russia,0.489589,0.258490,0.251915,2,3,0,3
33,Saudi Arabia,Egypt,0.357711,0.365192,0.277096,1,3,0,3
34,Iran,Portugal,0.044405,0.850849,0.103763,0,2,0,3
35,Spain,Morocco,0.690533,0.126969,0.182378,1,0,3,0
36,Denmark,France,0.163342,0.633073,0.203524,0,1,0,3
37,Australia,Peru,0.364066,0.353009,0.282924,2,1,3,0
38,Nigeria,Argentina,0.119134,0.697792,0.182971,0,4,0,3
39,Iceland,Croatia,0.098119,0.738521,0.163164,1,1,1,1
40,Serbia,Brazil,0.171910,0.622105,0.205926,1,1,1,1
41,Switzerland,Costa Rica,0.542487,0.210987,0.246517,0,3,0,3
42,Korea Republic,Germany,0.072676,0.792767,0.134065,1,0,3,0
43,Mexico,Sweden,0.384883,0.360991,0.254122,3,0,3,0
44,England,Belgium,0.287742,0.474514,0.237731,1,3,0,3
45,Panama,Tunisia,0.195317,0.514835,0.289847,0,2,0,3
46,Japan,Poland,0.241997,0.507767,0.250229,1,1,1,1
47,Senegal,Colombia,0.397563,0.354153,0.248279,6,3,3,0

In [53]:
cols = {'a_team': 'Team', 'a_goals': 'Goals', 'a_points': 'Points',
        'b_team': 'Team', 'b_goals': 'Goals', 'b_points': 'Points'}

a_team_group_results_df = group_stage_results_df[['a_team', 'a_goals', 'a_points']].rename(columns=cols)
b_team_group_results_df = group_stage_results_df[['b_team', 'b_goals', 'b_points']].rename(columns=cols)

scoreboard_df = pd.concat([a_team_group_results_df, b_team_group_results_df]).reset_index(drop=True)
scoreboard_df = scoreboard_df.merge(pd.read_csv('resources/worldcup_country_groups.csv'), on='Team', how='left')
scoreboard_df = scoreboard_df.groupby(['Group', 'Team']).sum().reset_index()
scoreboard_df = scoreboard_df.sort_values(['Group', 'Points', 'Goals'], ascending=[True, False, False]).reset_index(drop=True)
scoreboard_df

   Group            Team  Goals  Points
0      A         Uruguay      9       6
1      A          Russia      7       6
2      A           Egypt      6       3
3      A    Saudi Arabia      5       3
4      B        Portugal      7       7
5      B           Spain      4       6
6      B            Iran      2       3
7      B         Morocco      1       1
8      C          France      8       7
9      C       Australia      7       4
10     C         Denmark      4       4
11     C            Peru      3       1
12     D       Argentina     10       9
13     D         Nigeria      3       4
14     D         Iceland      2       2
15     D         Croatia      2       1
16     E          Serbia      5       7
17     E          Brazil      6       5
18     E      Costa Rica      6       3
19     E     Switzerland      1       1
20     F          Mexico      9       6
21     F         Germany      4       6
22     F  Korea Republic      2       3
23     F          Sweden      1       3
24     G         Belgium     10       9
25     G         England      4       4
26     G         Tunisia      4       3
27     G          Panama      1       1
28     H         Senegal     11       6
29     H          Poland      5       5
30     H        Colombia      8       4
31     H           Japan      2       1

In [54]:
round_of_16_games = [(0, 5), (8, 13),
                     (16, 21), (24, 29),
                     (4, 1), (12, 9),
                     (20, 17), (28, 25)]

round_of_8_games = [(0, 1), (2, 3),
                     (4, 5), (6, 7)]

round_of_4_games = [(0, 1), (2, 3)]

round_of_2_games = [(0, 1)]

def get_team_penalties(team):
    mask = players_df['Nationality'] == team
    return pd.to_numeric(players_df[mask]['Penalties'].head(), errors='coerce').mean()

def simulate_penalties(a_team, b_team):
    a_pen = get_team_penalties(a_team)
    b_pen = get_team_penalties(b_team)
    
    if a_pen == b_pen:
        winner = a_team
    elif a_pen > b_pen:
        winner = a_team
    elif a_pen < b_pen:
        winner = b_team
    
    return winner

def get_knockout_winner(round_results_df):
    winners = []
    
    for index, row in round_results_df.iterrows():
        if row['a_goals'] == row['b_goals']:
            winner = simulate_penalties(row[0], row[1])
        elif row['a_goals'] > row['b_goals']:
            winner = row[0]
        elif row['a_goals'] < row['b_goals']:
            winner = row[1]
            
        winners.append(winner)
        
    round_results_df['Winner'] = pd.Series(winners)
    
    return round_results_df
    

def simulate_knockout_stage(df, schedule_tuples):
    a_team_lists = []
    b_team_lists = []

    a_team_odds = []
    b_team_odds = []
    draw_odds = []
    a_goals_count = []
    b_goals_count = []
    
    
    for match in schedule_tuples:
        a_team = df.iloc[match[0]]['Team']
        b_team = df.iloc[match[1]]['Team']
        a_team_lists.append(a_team)
        b_team_lists.append(b_team)

        game = simulate_match(poisson_model, a_team, b_team, type="Nationality")
        a_team_probability, b_team_probability, draw_probability, a_goals, b_goals  = show_game_summary(game)

        a_team_odds.append(a_team_probability)
        b_team_odds.append(b_team_probability)
        draw_odds.append(draw_probability)
        a_goals_count.append(a_goals)
        b_goals_count.append(b_goals)

    round_results_df = pd.DataFrame([a_team_lists, b_team_lists]).transpose()
    round_results_df = get_game_summary(round_results_df)
    round_results_df = get_knockout_winner(round_results_df)
    
    df = pd.DataFrame(round_results_df['Winner']).rename(columns={'Winner': 'Team'})    
    
    return df

In [55]:
def simulate_World_Cup(n_simulations=None, verbose=False):
    world_cup_winners = []
    n = 0
    while n < n_simulations:
        try:
            group_stage_results_df = get_game_summary(schedule_df)
            group_stage_results_df = calculate_stage_winner(group_stage_results_df)

            cols = {'a_team': 'Team', 'a_goals': 'Goals', 'a_points': 'Points',
                    'b_team': 'Team', 'b_goals': 'Goals', 'b_points': 'Points'}

            a_team_group_results_df = group_stage_results_df[['a_team', 'a_goals', 'a_points']].rename(columns=cols)
            b_team_group_results_df = group_stage_results_df[['b_team', 'b_goals', 'b_points']].rename(columns=cols)

            scoreboard_df = pd.concat([a_team_group_results_df, b_team_group_results_df]).reset_index(drop=True)
            scoreboard_df = scoreboard_df.merge(pd.read_csv('resources/worldcup_country_groups.csv'), on='Team', how='left')
            scoreboard_df = scoreboard_df.groupby(['Group', 'Team']).sum().reset_index()
            scoreboard_df = scoreboard_df.sort_values(['Group', 'Points', 'Goals'], ascending=[True, False, False])

            df_8 = simulate_knockout_stage(scoreboard_df, round_of_16_games)
            df_4 = simulate_knockout_stage(df_8, round_of_8_games)
            df_2 = simulate_knockout_stage(df_4, round_of_4_games)
            world_cup_winner = simulate_knockout_stage(df_2, round_of_2_games).iloc[0].item()

            world_cup_winners.append(world_cup_winner)
            
            if verbose == True:
                print(group_stage_results_df)
                print(scoreboard_df)
                print(df_8)
                print(df_4)
                print(df_2)
                print(pd.Series(world_cup_winners).value_counts())
                
            print('The winner of World Cup 2018 simulation {}/{} is {}'.format(n+1, n_simulations, world_cup_winner))
            

            n += 1
        except:
            print('Exception occured')
            continue
        
    return pd.Series(world_cup_winners).value_counts()

In [56]:
# world_cup_results = simulate_World_Cup(1000, verbose=False)

The winner of World Cup 2018 simulation 1/1000 is Belgium
The winner of World Cup 2018 simulation 2/1000 is Brazil
The winner of World Cup 2018 simulation 3/1000 is Spain
The winner of World Cup 2018 simulation 4/1000 is Uruguay
The winner of World Cup 2018 simulation 5/1000 is Morocco
The winner of World Cup 2018 simulation 6/1000 is England
The winner of World Cup 2018 simulation 7/1000 is Belgium
The winner of World Cup 2018 simulation 8/1000 is England
The winner of World Cup 2018 simulation 9/1000 is Iceland
The winner of World Cup 2018 simulation 10/1000 is Colombia
The winner of World Cup 2018 simulation 11/1000 is Uruguay
The winner of World Cup 2018 simulation 12/1000 is Argentina
The winner of World Cup 2018 simulation 13/1000 is Argentina
The winner of World Cup 2018 simulation 14/1000 is Argentina
The winner of World Cup 2018 simulation 15/1000 is Portugal
The winner of World Cup 2018 simulation 16/1000 is England
The winner of World Cup 2018 simulation 17/1000 is Portugal
The winner of World Cup 2018 simulation 18/1000 is Spain
The winner of World Cup 2018 simulation 19/1000 is Mexico
The winner of World Cup 2018 simulation 20/1000 is Colombia
The winner of World Cup 2018 simulation 21/1000 is Portugal
The winner of World Cup 2018 simulation 22/1000 is Mexico
The winner of World Cup 2018 simulation 23/1000 is Senegal
The winner of World Cup 2018 simulation 24/1000 is Belgium
The winner of World Cup 2018 simulation 25/1000 is Germany
The winner of World Cup 2018 simulation 26/1000 is Japan
The winner of World Cup 2018 simulation 27/1000 is France
The winner of World Cup 2018 simulation 28/1000 is Croatia
The winner of World Cup 2018 simulation 29/1000 is Germany
The winner of World Cup 2018 simulation 30/1000 is Sweden
The winner of World Cup 2018 simulation 31/1000 is Mexico
The winner of World Cup 2018 simulation 32/1000 is England
The winner of World Cup 2018 simulation 33/1000 is Mexico
The winner of World Cup 2018 simulation 34/1000 is England
The winner of World Cup 2018 simulation 35/1000 is England
The winner of World Cup 2018 simulation 36/1000 is Mexico
The winner of World Cup 2018 simulation 37/1000 is England
The winner of World Cup 2018 simulation 38/1000 is Iceland
The winner of World Cup 2018 simulation 39/1000 is Croatia
The winner of World Cup 2018 simulation 40/1000 is Germany
The winner of World Cup 2018 simulation 41/1000 is Mexico
The winner of World Cup 2018 simulation 42/1000 is Argentina
The winner of World Cup 2018 simulation 43/1000 is Belgium
The winner of World Cup 2018 simulation 44/1000 is Korea Republic
The winner of World Cup 2018 simulation 45/1000 is Argentina
The winner of World Cup 2018 simulation 46/1000 is Russia
The winner of World Cup 2018 simulation 47/1000 is Croatia
The winner of World Cup 2018 simulation 48/1000 is Sweden
The winner of World Cup 2018 simulation 49/1000 is England
The winner of World Cup 2018 simulation 50/1000 is Uruguay
The winner of World Cup 2018 simulation 51/1000 is England
The winner of World Cup 2018 simulation 52/1000 is Russia
The winner of World Cup 2018 simulation 53/1000 is France
The winner of World Cup 2018 simulation 54/1000 is Morocco
The winner of World Cup 2018 simulation 55/1000 is Egypt
The winner of World Cup 2018 simulation 56/1000 is Sweden
The winner of World Cup 2018 simulation 57/1000 is Serbia
The winner of World Cup 2018 simulation 58/1000 is Belgium
The winner of World Cup 2018 simulation 59/1000 is Senegal
The winner of World Cup 2018 simulation 60/1000 is Colombia
The winner of World Cup 2018 simulation 61/1000 is Colombia
The winner of World Cup 2018 simulation 62/1000 is Sweden
The winner of World Cup 2018 simulation 63/1000 is Egypt
The winner of World Cup 2018 simulation 64/1000 is England
The winner of World Cup 2018 simulation 65/1000 is Russia
The winner of World Cup 2018 simulation 66/1000 is Germany
The winner of World Cup 2018 simulation 67/1000 is Sweden
The winner of World Cup 2018 simulation 68/1000 is Croatia
The winner of World Cup 2018 simulation 69/1000 is England
The winner of World Cup 2018 simulation 70/1000 is Mexico
The winner of World Cup 2018 simulation 71/1000 is England
The winner of World Cup 2018 simulation 72/1000 is Spain
The winner of World Cup 2018 simulation 73/1000 is Spain
The winner of World Cup 2018 simulation 74/1000 is Belgium
The winner of World Cup 2018 simulation 75/1000 is Croatia
The winner of World Cup 2018 simulation 76/1000 is Colombia
The winner of World Cup 2018 simulation 77/1000 is Egypt
The winner of World Cup 2018 simulation 78/1000 is Belgium
The winner of World Cup 2018 simulation 79/1000 is Russia
The winner of World Cup 2018 simulation 80/1000 is Russia
The winner of World Cup 2018 simulation 81/1000 is Sweden
The winner of World Cup 2018 simulation 82/1000 is Mexico
The winner of World Cup 2018 simulation 83/1000 is Portugal
The winner of World Cup 2018 simulation 84/1000 is England
The winner of World Cup 2018 simulation 85/1000 is Germany
The winner of World Cup 2018 simulation 86/1000 is Germany
The winner of World Cup 2018 simulation 87/1000 is Nigeria
The winner of World Cup 2018 simulation 88/1000 is Uruguay
The winner of World Cup 2018 simulation 89/1000 is Sweden
The winner of World Cup 2018 simulation 90/1000 is Brazil
The winner of World Cup 2018 simulation 91/1000 is England
The winner of World Cup 2018 simulation 92/1000 is Croatia
The winner of World Cup 2018 simulation 93/1000 is Iceland
The winner of World Cup 2018 simulation 94/1000 is Sweden
The winner of World Cup 2018 simulation 95/1000 is Croatia
The winner of World Cup 2018 simulation 96/1000 is Poland
The winner of World Cup 2018 simulation 97/1000 is Belgium
The winner of World Cup 2018 simulation 98/1000 is Japan
The winner of World Cup 2018 simulation 99/1000 is Spain
The winner of World Cup 2018 simulation 100/1000 is Germany
The winner of World Cup 2018 simulation 101/1000 is Croatia
The winner of World Cup 2018 simulation 102/1000 is Argentina
The winner of World Cup 2018 simulation 103/1000 is England
The winner of World Cup 2018 simulation 104/1000 is Brazil
The winner of World Cup 2018 simulation 105/1000 is Spain
The winner of World Cup 2018 simulation 106/1000 is Spain
The winner of World Cup 2018 simulation 107/1000 is Belgium
The winner of World Cup 2018 simulation 108/1000 is Argentina
The winner of World Cup 2018 simulation 109/1000 is Portugal
The winner of World Cup 2018 simulation 110/1000 is Argentina
The winner of World Cup 2018 simulation 111/1000 is Japan
The winner of World Cup 2018 simulation 112/1000 is Germany
The winner of World Cup 2018 simulation 113/1000 is England
The winner of World Cup 2018 simulation 114/1000 is Portugal
The winner of World Cup 2018 simulation 115/1000 is Argentina
The winner of World Cup 2018 simulation 116/1000 is Morocco
The winner of World Cup 2018 simulation 117/1000 is England
The winner of World Cup 2018 simulation 118/1000 is Germany
The winner of World Cup 2018 simulation 119/1000 is Spain
The winner of World Cup 2018 simulation 120/1000 is Morocco
The winner of World Cup 2018 simulation 121/1000 is Argentina
The winner of World Cup 2018 simulation 122/1000 is Argentina
The winner of World Cup 2018 simulation 123/1000 is England
The winner of World Cup 2018 simulation 124/1000 is Croatia
The winner of World Cup 2018 simulation 125/1000 is Russia
The winner of World Cup 2018 simulation 126/1000 is Colombia
The winner of World Cup 2018 simulation 127/1000 is Portugal
The winner of World Cup 2018 simulation 128/1000 is England
The winner of World Cup 2018 simulation 129/1000 is Brazil
The winner of World Cup 2018 simulation 130/1000 is Portugal
The winner of World Cup 2018 simulation 131/1000 is Uruguay
The winner of World Cup 2018 simulation 132/1000 is Portugal
The winner of World Cup 2018 simulation 133/1000 is Germany
The winner of World Cup 2018 simulation 134/1000 is Germany
The winner of World Cup 2018 simulation 135/1000 is Spain
The winner of World Cup 2018 simulation 136/1000 is Germany
The winner of World Cup 2018 simulation 137/1000 is Mexico
The winner of World Cup 2018 simulation 138/1000 is Belgium
The winner of World Cup 2018 simulation 139/1000 is Argentina

The winner of World Cup 2018 simulation 140/1000 is Sweden
The winner of World Cup 2018 simulation 141/1000 is Argentina
The winner of World Cup 2018 simulation 142/1000 is England
The winner of World Cup 2018 simulation 143/1000 is Croatia
The winner of World Cup 2018 simulation 144/1000 is Japan
The winner of World Cup 2018 simulation 145/1000 is Mexico
The winner of World Cup 2018 simulation 146/1000 is Argentina
The winner of World Cup 2018 simulation 147/1000 is Egypt
The winner of World Cup 2018 simulation 148/1000 is Japan
The winner of World Cup 2018 simulation 149/1000 is Argentina
The winner of World Cup 2018 simulation 150/1000 is Nigeria
The winner of World Cup 2018 simulation 151/1000 is Colombia
The winner of World Cup 2018 simulation 152/1000 is Croatia
The winner of World Cup 2018 simulation 153/1000 is Belgium
The winner of World Cup 2018 simulation 154/1000 is Portugal
The winner of World Cup 2018 simulation 155/1000 is Mexico
The winner of World Cup 2018 simulation 156/1000 is Portugal
The winner of World Cup 2018 simulation 157/1000 is Croatia
The winner of World Cup 2018 simulation 158/1000 is Japan
The winner of World Cup 2018 simulation 159/1000 is Belgium
The winner of World Cup 2018 simulation 160/1000 is Belgium
The winner of World Cup 2018 simulation 161/1000 is Croatia
The winner of World Cup 2018 simulation 162/1000 is Germany
The winner of World Cup 2018 simulation 163/1000 is Mexico
The winner of World Cup 2018 simulation 164/1000 is Colombia
The winner of World Cup 2018 simulation 165/1000 is Portugal
The winner of World Cup 2018 simulation 166/1000 is Portugal
The winner of World Cup 2018 simulation 167/1000 is Germany
The winner of World Cup 2018 simulation 168/1000 is Portugal
The winner of World Cup 2018 simulation 169/1000 is England
The winner of World Cup 2018 simulation 170/1000 is Egypt
The winner of World Cup 2018 simulation 171/1000 is Portugal
The winner of World Cup 2018 simulation 172/1000 is Colombia
The winner of World Cup 2018 simulation 173/1000 is Croatia
The winner of World Cup 2018 simulation 174/1000 is Germany
The winner of World Cup 2018 simulation 175/1000 is Iceland
The winner of World Cup 2018 simulation 176/1000 is Belgium
The winner of World Cup 2018 simulation 177/1000 is Nigeria
The winner of World Cup 2018 simulation 178/1000 is Argentina
The winner of World Cup 2018 simulation 179/1000 is England
The winner of World Cup 2018 simulation 180/1000 is Belgium
The winner of World Cup 2018 simulation 181/1000 is Belgium
The winner of World Cup 2018 simulation 182/1000 is Mexico
The winner of World Cup 2018 simulation 183/1000 is Argentina
The winner of World Cup 2018 simulation 184/1000 is Nigeria
The winner of World Cup 2018 simulation 185/1000 is Uruguay
The winner of World Cup 2018 simulation 186/1000 is Argentina
The winner of World Cup 2018 simulation 187/1000 is Mexico
The winner of World Cup 2018 simulation 188/1000 is Argentina
The winner of World Cup 2018 simulation 189/1000 is Argentina
The winner of World Cup 2018 simulation 190/1000 is Argentina
The winner of World Cup 2018 simulation 191/1000 is Argentina
The winner of World Cup 2018 simulation 192/1000 is England
The winner of World Cup 2018 simulation 193/1000 is Belgium
The winner of World Cup 2018 simulation 194/1000 is Belgium
The winner of World Cup 2018 simulation 195/1000 is Argentina
The winner of World Cup 2018 simulation 196/1000 is Belgium
The winner of World Cup 2018 simulation 197/1000 is Germany
The winner of World Cup 2018 simulation 198/1000 is England
The winner of World Cup 2018 simulation 199/1000 is Mexico
The winner of World Cup 2018 simulation 200/1000 is Morocco
The winner of World Cup 2018 simulation 201/1000 is Croatia
The winner of World Cup 2018 simulation 202/1000 is Argentina
The winner of World Cup 2018 simulation 203/1000 is Argentina
The winner of World Cup 2018 simulation 204/1000 is Brazil
The winner of World Cup 2018 simulation 205/1000 is Mexico
The winner of World Cup 2018 simulation 206/1000 is Belgium
The winner of World Cup 2018 simulation 207/1000 is Argentina
The winner of World Cup 2018 simulation 208/1000 is Morocco
The winner of World Cup 2018 simulation 209/1000 is Germany
The winner of World Cup 2018 simulation 210/1000 is Argentina
The winner of World Cup 2018 simulation 211/1000 is Peru
The winner of World Cup 2018 simulation 212/1000 is England
The winner of World Cup 2018 simulation 213/1000 is England
The winner of World Cup 2018 simulation 214/1000 is Sweden
The winner of World Cup 2018 simulation 215/1000 is Mexico
The winner of World Cup 2018 simulation 216/1000 is Germany
The winner of World Cup 2018 simulation 217/1000 is England
The winner of World Cup 2018 simulation 218/1000 is France
The winner of World Cup 2018 simulation 219/1000 is Spain
The winner of World Cup 2018 simulation 220/1000 is Uruguay
The winner of World Cup 2018 simulation 221/1000 is Morocco
The winner of World Cup 2018 simulation 222/1000 is Croatia
The winner of World Cup 2018 simulation 223/1000 is Argentina
The winner of World Cup 2018 simulation 224/1000 is Colombia
The winner of World Cup 2018 simulation 225/1000 is Mexico
The winner of World Cup 2018 simulation 226/1000 is Spain
The winner of World Cup 2018 simulation 227/1000 is Mexico
The winner of World Cup 2018 simulation 228/1000 is Croatia
The winner of World Cup 2018 simulation 229/1000 is Russia
The winner of World Cup 2018 simulation 230/1000 is Mexico
The winner of World Cup 2018 simulation 231/1000 is Uruguay
The winner of World Cup 2018 simulation 232/1000 is Japan
The winner of World Cup 2018 simulation 233/1000 is Argentina
The winner of World Cup 2018 simulation 234/1000 is England
The winner of World Cup 2018 simulation 235/1000 is Russia
The winner of World Cup 2018 simulation 236/1000 is England
The winner of World Cup 2018 simulation 237/1000 is Japan
The winner of World Cup 2018 simulation 238/1000 is Germany
The winner of World Cup 2018 simulation 239/1000 is Spain
The winner of World Cup 2018 simulation 240/1000 is Russia
The winner of World Cup 2018 simulation 241/1000 is Spain
The winner of World Cup 2018 simulation 242/1000 is Belgium
The winner of World Cup 2018 simulation 243/1000 is Peru
The winner of World Cup 2018 simulation 244/1000 is Sweden
The winner of World Cup 2018 simulation 245/1000 is Russia
The winner of World Cup 2018 simulation 246/1000 is Argentina
The winner of World Cup 2018 simulation 247/1000 is Colombia
The winner of World Cup 2018 simulation 248/1000 is Portugal
The winner of World Cup 2018 simulation 249/1000 is Argentina
The winner of World Cup 2018 simulation 250/1000 is Germany
The winner of World Cup 2018 simulation 251/1000 is Denmark
The winner of World Cup 2018 simulation 252/1000 is Russia
The winner of World Cup 2018 simulation 253/1000 is Mexico
The winner of World Cup 2018 simulation 254/1000 is Senegal
The winner of World Cup 2018 simulation 255/1000 is Croatia
The winner of World Cup 2018 simulation 256/1000 is Portugal
The winner of World Cup 2018 simulation 257/1000 is Belgium
The winner of World Cup 2018 simulation 258/1000 is Germany
The winner of World Cup 2018 simulation 259/1000 is Colombia
The winner of World Cup 2018 simulation 260/1000 is Argentina
The winner of World Cup 2018 simulation 261/1000 is Portugal
The winner of World Cup 2018 simulation 262/1000 is Argentina
The winner of World Cup 2018 simulation 263/1000 is England
The winner of World Cup 2018 simulation 264/1000 is Sweden
The winner of World Cup 2018 simulation 265/1000 is Brazil
The winner of World Cup 2018 simulation 266/1000 is Spain
The winner of World Cup 2018 simulation 267/1000 is Belgium
The winner of World Cup 2018 simulation 268/1000 is Sweden
The winner of World Cup 2018 simulation 269/1000 is Belgium
The winner of World Cup 2018 simulation 270/1000 is Uruguay
The winner of World Cup 2018 simulation 271/1000 is Russia
The winner of World Cup 2018 simulation 272/1000 is Germany
The winner of World Cup 2018 simulation 273/1000 is Argentina
The winner of World Cup 2018 simulation 274/1000 is Portugal
The winner of World Cup 2018 simulation 275/1000 is Argentina
The winner of World Cup 2018 simulation 276/1000 is Uruguay

The winner of World Cup 2018 simulation 277/1000 is Sweden
The winner of World Cup 2018 simulation 278/1000 is Argentina
The winner of World Cup 2018 simulation 279/1000 is Sweden
The winner of World Cup 2018 simulation 280/1000 is Uruguay
The winner of World Cup 2018 simulation 281/1000 is Mexico
The winner of World Cup 2018 simulation 282/1000 is Croatia
The winner of World Cup 2018 simulation 283/1000 is Sweden
The winner of World Cup 2018 simulation 284/1000 is Germany
The winner of World Cup 2018 simulation 285/1000 is Germany
The winner of World Cup 2018 simulation 286/1000 is Argentina
The winner of World Cup 2018 simulation 287/1000 is Argentina
The winner of World Cup 2018 simulation 288/1000 is Spain
The winner of World Cup 2018 simulation 289/1000 is Mexico
The winner of World Cup 2018 simulation 290/1000 is Argentina
The winner of World Cup 2018 simulation 291/1000 is Egypt
The winner of World Cup 2018 simulation 292/1000 is Portugal
The winner of World Cup 2018 simulation 293/1000 is Germany
The winner of World Cup 2018 simulation 294/1000 is Nigeria
The winner of World Cup 2018 simulation 295/1000 is Morocco
The winner of World Cup 2018 simulation 296/1000 is Morocco
The winner of World Cup 2018 simulation 297/1000 is France
The winner of World Cup 2018 simulation 298/1000 is Japan
The winner of World Cup 2018 simulation 299/1000 is Mexico
The winner of World Cup 2018 simulation 300/1000 is Japan
The winner of World Cup 2018 simulation 301/1000 is Sweden
The winner of World Cup 2018 simulation 302/1000 is England
The winner of World Cup 2018 simulation 303/1000 is Belgium
The winner of World Cup 2018 simulation 304/1000 is Uruguay
The winner of World Cup 2018 simulation 305/1000 is France
The winner of World Cup 2018 simulation 306/1000 is Sweden
The winner of World Cup 2018 simulation 307/1000 is Egypt
The winner of World Cup 2018 simulation 308/1000 is England
The winner of World Cup 2018 simulation 309/1000 is Belgium
The winner of World Cup 2018 simulation 310/1000 is Germany
The winner of World Cup 2018 simulation 311/1000 is Croatia
The winner of World Cup 2018 simulation 312/1000 is Colombia
The winner of World Cup 2018 simulation 313/1000 is Belgium
The winner of World Cup 2018 simulation 314/1000 is Germany
The winner of World Cup 2018 simulation 315/1000 is Argentina
The winner of World Cup 2018 simulation 316/1000 is Germany
The winner of World Cup 2018 simulation 317/1000 is Argentina
The winner of World Cup 2018 simulation 318/1000 is Japan
The winner of World Cup 2018 simulation 319/1000 is Portugal
The winner of World Cup 2018 simulation 320/1000 is Colombia
The winner of World Cup 2018 simulation 321/1000 is England
The winner of World Cup 2018 simulation 322/1000 is Argentina
The winner of World Cup 2018 simulation 323/1000 is England
The winner of World Cup 2018 simulation 324/1000 is Argentina
The winner of World Cup 2018 simulation 325/1000 is Colombia
The winner of World Cup 2018 simulation 326/1000 is Croatia
The winner of World Cup 2018 simulation 327/1000 is England
The winner of World Cup 2018 simulation 328/1000 is Spain
The winner of World Cup 2018 simulation 329/1000 is Sweden
The winner of World Cup 2018 simulation 330/1000 is England
The winner of World Cup 2018 simulation 331/1000 is Spain
The winner of World Cup 2018 simulation 332/1000 is Germany
The winner of World Cup 2018 simulation 333/1000 is Iran
The winner of World Cup 2018 simulation 334/1000 is Argentina
The winner of World Cup 2018 simulation 335/1000 is Argentina
The winner of World Cup 2018 simulation 336/1000 is Colombia
The winner of World Cup 2018 simulation 337/1000 is Germany
The winner of World Cup 2018 simulation 338/1000 is Mexico
The winner of World Cup 2018 simulation 339/1000 is Poland
The winner of World Cup 2018 simulation 340/1000 is Argentina
The winner of World Cup 2018 simulation 341/1000 is Egypt
The winner of World Cup 2018 simulation 342/1000 is Belgium
The winner of World Cup 2018 simulation 343/1000 is Russia
The winner of World Cup 2018 simulation 344/1000 is England
The winner of World Cup 2018 simulation 345/1000 is Mexico
The winner of World Cup 2018 simulation 346/1000 is Croatia
The winner of World Cup 2018 simulation 347/1000 is Germany
The winner of World Cup 2018 simulation 348/1000 is Denmark
The winner of World Cup 2018 simulation 349/1000 is Uruguay
The winner of World Cup 2018 simulation 350/1000 is Nigeria
The winner of World Cup 2018 simulation 351/1000 is Iceland
The winner of World Cup 2018 simulation 352/1000 is Sweden
The winner of World Cup 2018 simulation 353/1000 is Belgium
The winner of World Cup 2018 simulation 354/1000 is Morocco
The winner of World Cup 2018 simulation 355/1000 is Brazil
The winner of World Cup 2018 simulation 356/1000 is Uruguay
The winner of World Cup 2018 simulation 357/1000 is Argentina
The winner of World Cup 2018 simulation 358/1000 is Uruguay
The winner of World Cup 2018 simulation 359/1000 is Saudi Arabia
The winner of World Cup 2018 simulation 360/1000 is Japan
The winner of World Cup 2018 simulation 361/1000 is England
The winner of World Cup 2018 simulation 362/1000 is Japan
The winner of World Cup 2018 simulation 363/1000 is Croatia
The winner of World Cup 2018 simulation 364/1000 is Croatia
The winner of World Cup 2018 simulation 365/1000 is Argentina
The winner of World Cup 2018 simulation 366/1000 is Portugal
The winner of World Cup 2018 simulation 367/1000 is England
The winner of World Cup 2018 simulation 368/1000 is Uruguay
The winner of World Cup 2018 simulation 369/1000 is Croatia
The winner of World Cup 2018 simulation 370/1000 is Croatia
The winner of World Cup 2018 simulation 371/1000 is Argentina
The winner of World Cup 2018 simulation 372/1000 is Argentina
The winner of World Cup 2018 simulation 373/1000 is Morocco
The winner of World Cup 2018 simulation 374/1000 is Sweden
The winner of World Cup 2018 simulation 375/1000 is Belgium
The winner of World Cup 2018 simulation 376/1000 is Uruguay
The winner of World Cup 2018 simulation 377/1000 is Uruguay
The winner of World Cup 2018 simulation 378/1000 is England
The winner of World Cup 2018 simulation 379/1000 is Germany
The winner of World Cup 2018 simulation 380/1000 is Egypt
The winner of World Cup 2018 simulation 381/1000 is Argentina
The winner of World Cup 2018 simulation 382/1000 is Croatia
The winner of World Cup 2018 simulation 383/1000 is Colombia
The winner of World Cup 2018 simulation 384/1000 is Uruguay
The winner of World Cup 2018 simulation 385/1000 is Colombia
The winner of World Cup 2018 simulation 386/1000 is Germany
The winner of World Cup 2018 simulation 387/1000 is Belgium
The winner of World Cup 2018 simulation 388/1000 is Germany
The winner of World Cup 2018 simulation 389/1000 is Croatia
The winner of World Cup 2018 simulation 390/1000 is Argentina
The winner of World Cup 2018 simulation 391/1000 is Colombia
The winner of World Cup 2018 simulation 392/1000 is Portugal
The winner of World Cup 2018 simulation 393/1000 is Portugal
The winner of World Cup 2018 simulation 394/1000 is France
The winner of World Cup 2018 simulation 395/1000 is Portugal
The winner of World Cup 2018 simulation 396/1000 is Belgium
The winner of World Cup 2018 simulation 397/1000 is Colombia
The winner of World Cup 2018 simulation 398/1000 is Sweden
The winner of World Cup 2018 simulation 399/1000 is Argentina
The winner of World Cup 2018 simulation 400/1000 is Portugal
The winner of World Cup 2018 simulation 401/1000 is Mexico
The winner of World Cup 2018 simulation 402/1000 is Germany
The winner of World Cup 2018 simulation 403/1000 is Argentina
The winner of World Cup 2018 simulation 404/1000 is Spain
The winner of World Cup 2018 simulation 405/1000 is England
The winner of World Cup 2018 simulation 406/1000 is Spain
The winner of World Cup 2018 simulation 407/1000 is Brazil
The winner of World Cup 2018 simulation 408/1000 is Germany
The winner of World Cup 2018 simulation 409/1000 is Belgium
The winner of World Cup 2018 simulation 410/1000 is England
The winner of World Cup 2018 simulation 411/1000 is Croatia
The winner of World Cup 2018 simulation 412/1000 is Peru
The winner of World Cup 2018 simulation 413/1000 is Sweden

The winner of World Cup 2018 simulation 414/1000 is Mexico
The winner of World Cup 2018 simulation 415/1000 is Belgium
The winner of World Cup 2018 simulation 416/1000 is Argentina
The winner of World Cup 2018 simulation 417/1000 is Croatia
The winner of World Cup 2018 simulation 418/1000 is Brazil
The winner of World Cup 2018 simulation 419/1000 is Belgium
The winner of World Cup 2018 simulation 420/1000 is Saudi Arabia
The winner of World Cup 2018 simulation 421/1000 is Germany
The winner of World Cup 2018 simulation 422/1000 is Germany
The winner of World Cup 2018 simulation 423/1000 is Iceland
The winner of World Cup 2018 simulation 424/1000 is Poland
The winner of World Cup 2018 simulation 425/1000 is Mexico
The winner of World Cup 2018 simulation 426/1000 is Croatia
The winner of World Cup 2018 simulation 427/1000 is Argentina
The winner of World Cup 2018 simulation 428/1000 is England
The winner of World Cup 2018 simulation 429/1000 is Belgium
The winner of World Cup 2018 simulation 430/1000 is Argentina
The winner of World Cup 2018 simulation 431/1000 is Colombia
The winner of World Cup 2018 simulation 432/1000 is Portugal
The winner of World Cup 2018 simulation 433/1000 is Colombia
The winner of World Cup 2018 simulation 434/1000 is Sweden
The winner of World Cup 2018 simulation 435/1000 is Sweden
The winner of World Cup 2018 simulation 436/1000 is Croatia
The winner of World Cup 2018 simulation 437/1000 is Spain
The winner of World Cup 2018 simulation 438/1000 is Argentina
The winner of World Cup 2018 simulation 439/1000 is Belgium
The winner of World Cup 2018 simulation 440/1000 is Belgium
The winner of World Cup 2018 simulation 441/1000 is Croatia
The winner of World Cup 2018 simulation 442/1000 is England
The winner of World Cup 2018 simulation 443/1000 is Belgium
The winner of World Cup 2018 simulation 444/1000 is Portugal
The winner of World Cup 2018 simulation 445/1000 is Germany
The winner of World Cup 2018 simulation 446/1000 is Germany
The winner of World Cup 2018 simulation 447/1000 is Sweden
The winner of World Cup 2018 simulation 448/1000 is Argentina
The winner of World Cup 2018 simulation 449/1000 is Mexico
The winner of World Cup 2018 simulation 450/1000 is Belgium
The winner of World Cup 2018 simulation 451/1000 is Belgium
The winner of World Cup 2018 simulation 452/1000 is Brazil
The winner of World Cup 2018 simulation 453/1000 is Egypt
The winner of World Cup 2018 simulation 454/1000 is Portugal
The winner of World Cup 2018 simulation 455/1000 is Poland
The winner of World Cup 2018 simulation 456/1000 is Japan
The winner of World Cup 2018 simulation 457/1000 is Germany
The winner of World Cup 2018 simulation 458/1000 is England
The winner of World Cup 2018 simulation 459/1000 is Croatia
The winner of World Cup 2018 simulation 460/1000 is Argentina
The winner of World Cup 2018 simulation 461/1000 is Uruguay
The winner of World Cup 2018 simulation 462/1000 is Morocco
The winner of World Cup 2018 simulation 463/1000 is Sweden
The winner of World Cup 2018 simulation 464/1000 is Germany
The winner of World Cup 2018 simulation 465/1000 is Germany
The winner of World Cup 2018 simulation 466/1000 is Japan
The winner of World Cup 2018 simulation 467/1000 is Serbia
The winner of World Cup 2018 simulation 468/1000 is Croatia
The winner of World Cup 2018 simulation 469/1000 is Saudi Arabia
The winner of World Cup 2018 simulation 470/1000 is Spain
The winner of World Cup 2018 simulation 471/1000 is Argentina
The winner of World Cup 2018 simulation 472/1000 is Colombia
The winner of World Cup 2018 simulation 473/1000 is Germany
The winner of World Cup 2018 simulation 474/1000 is Germany
The winner of World Cup 2018 simulation 475/1000 is Uruguay
The winner of World Cup 2018 simulation 476/1000 is Belgium
The winner of World Cup 2018 simulation 477/1000 is Portugal
The winner of World Cup 2018 simulation 478/1000 is Egypt
The winner of World Cup 2018 simulation 479/1000 is Argentina
The winner of World Cup 2018 simulation 480/1000 is England
The winner of World Cup 2018 simulation 481/1000 is Belgium
The winner of World Cup 2018 simulation 482/1000 is Iceland
The winner of World Cup 2018 simulation 483/1000 is Colombia
The winner of World Cup 2018 simulation 484/1000 is Germany
The winner of World Cup 2018 simulation 485/1000 is Uruguay
The winner of World Cup 2018 simulation 486/1000 is Brazil
The winner of World Cup 2018 simulation 487/1000 is Russia
The winner of World Cup 2018 simulation 488/1000 is Argentina
The winner of World Cup 2018 simulation 489/1000 is Morocco
The winner of World Cup 2018 simulation 490/1000 is Uruguay
The winner of World Cup 2018 simulation 491/1000 is Morocco
The winner of World Cup 2018 simulation 492/1000 is Croatia
The winner of World Cup 2018 simulation 493/1000 is Mexico
The winner of World Cup 2018 simulation 494/1000 is Iceland
The winner of World Cup 2018 simulation 495/1000 is Mexico
The winner of World Cup 2018 simulation 496/1000 is Sweden
The winner of World Cup 2018 simulation 497/1000 is Portugal
The winner of World Cup 2018 simulation 498/1000 is Portugal
The winner of World Cup 2018 simulation 499/1000 is Mexico
The winner of World Cup 2018 simulation 500/1000 is Mexico
The winner of World Cup 2018 simulation 501/1000 is Uruguay
The winner of World Cup 2018 simulation 502/1000 is England
The winner of World Cup 2018 simulation 503/1000 is Colombia
The winner of World Cup 2018 simulation 504/1000 is Uruguay
The winner of World Cup 2018 simulation 505/1000 is Croatia
The winner of World Cup 2018 simulation 506/1000 is Iceland
The winner of World Cup 2018 simulation 507/1000 is Morocco
The winner of World Cup 2018 simulation 508/1000 is Colombia
The winner of World Cup 2018 simulation 509/1000 is Iceland
The winner of World Cup 2018 simulation 510/1000 is Korea Republic
The winner of World Cup 2018 simulation 511/1000 is Colombia
The winner of World Cup 2018 simulation 512/1000 is Argentina
The winner of World Cup 2018 simulation 513/1000 is Argentina
The winner of World Cup 2018 simulation 514/1000 is Belgium
The winner of World Cup 2018 simulation 515/1000 is Croatia
The winner of World Cup 2018 simulation 516/1000 is Morocco
The winner of World Cup 2018 simulation 517/1000 is England
The winner of World Cup 2018 simulation 518/1000 is Argentina
The winner of World Cup 2018 simulation 519/1000 is Morocco
The winner of World Cup 2018 simulation 520/1000 is Nigeria
The winner of World Cup 2018 simulation 521/1000 is Portugal
The winner of World Cup 2018 simulation 522/1000 is Belgium
The winner of World Cup 2018 simulation 523/1000 is Nigeria
The winner of World Cup 2018 simulation 524/1000 is Germany
The winner of World Cup 2018 simulation 525/1000 is England
The winner of World Cup 2018 simulation 526/1000 is Brazil
The winner of World Cup 2018 simulation 527/1000 is England
The winner of World Cup 2018 simulation 528/1000 is Portugal
The winner of World Cup 2018 simulation 529/1000 is Brazil
The winner of World Cup 2018 simulation 530/1000 is Mexico
The winner of World Cup 2018 simulation 531/1000 is Colombia
The winner of World Cup 2018 simulation 532/1000 is Croatia
The winner of World Cup 2018 simulation 533/1000 is Colombia
The winner of World Cup 2018 simulation 534/1000 is Sweden
The winner of World Cup 2018 simulation 535/1000 is Germany
The winner of World Cup 2018 simulation 536/1000 is Serbia
The winner of World Cup 2018 simulation 537/1000 is England
The winner of World Cup 2018 simulation 538/1000 is Belgium
The winner of World Cup 2018 simulation 539/1000 is Belgium
The winner of World Cup 2018 simulation 540/1000 is Mexico
The winner of World Cup 2018 simulation 541/1000 is England
The winner of World Cup 2018 simulation 542/1000 is France
The winner of World Cup 2018 simulation 543/1000 is Sweden
The winner of World Cup 2018 simulation 544/1000 is Germany
The winner of World Cup 2018 simulation 545/1000 is Poland
The winner of World Cup 2018 simulation 546/1000 is Uruguay
The winner of World Cup 2018 simulation 547/1000 is Germany
The winner of World Cup 2018 simulation 548/1000 is Sweden
The winner of World Cup 2018 simulation 549/1000 is Mexico
The winner of World Cup 2018 simulation 550/1000 is Argentina

The winner of World Cup 2018 simulation 551/1000 is Croatia
The winner of World Cup 2018 simulation 552/1000 is Colombia
The winner of World Cup 2018 simulation 553/1000 is Mexico
The winner of World Cup 2018 simulation 554/1000 is Argentina
The winner of World Cup 2018 simulation 555/1000 is Croatia
The winner of World Cup 2018 simulation 556/1000 is Croatia
The winner of World Cup 2018 simulation 557/1000 is Mexico
The winner of World Cup 2018 simulation 558/1000 is Portugal
The winner of World Cup 2018 simulation 559/1000 is Brazil
The winner of World Cup 2018 simulation 560/1000 is Sweden
The winner of World Cup 2018 simulation 561/1000 is France
The winner of World Cup 2018 simulation 562/1000 is Colombia
The winner of World Cup 2018 simulation 563/1000 is Morocco
The winner of World Cup 2018 simulation 564/1000 is Sweden
The winner of World Cup 2018 simulation 565/1000 is Spain
The winner of World Cup 2018 simulation 566/1000 is Korea Republic
The winner of World Cup 2018 simulation 567/1000 is Sweden
The winner of World Cup 2018 simulation 568/1000 is Germany
The winner of World Cup 2018 simulation 569/1000 is Uruguay
The winner of World Cup 2018 simulation 570/1000 is Argentina
The winner of World Cup 2018 simulation 571/1000 is Germany
The winner of World Cup 2018 simulation 572/1000 is Croatia
The winner of World Cup 2018 simulation 573/1000 is Belgium
The winner of World Cup 2018 simulation 574/1000 is Brazil
The winner of World Cup 2018 simulation 575/1000 is Portugal
The winner of World Cup 2018 simulation 576/1000 is Brazil
The winner of World Cup 2018 simulation 577/1000 is England
The winner of World Cup 2018 simulation 578/1000 is Germany
The winner of World Cup 2018 simulation 579/1000 is Portugal
The winner of World Cup 2018 simulation 580/1000 is Argentina
The winner of World Cup 2018 simulation 581/1000 is Mexico
The winner of World Cup 2018 simulation 582/1000 is Argentina
The winner of World Cup 2018 simulation 583/1000 is Belgium
The winner of World Cup 2018 simulation 584/1000 is Germany
The winner of World Cup 2018 simulation 585/1000 is Poland
The winner of World Cup 2018 simulation 586/1000 is Germany
The winner of World Cup 2018 simulation 587/1000 is Croatia
The winner of World Cup 2018 simulation 588/1000 is Sweden
The winner of World Cup 2018 simulation 589/1000 is Argentina
The winner of World Cup 2018 simulation 590/1000 is Sweden
The winner of World Cup 2018 simulation 591/1000 is Iceland
The winner of World Cup 2018 simulation 592/1000 is Argentina
The winner of World Cup 2018 simulation 593/1000 is Sweden
The winner of World Cup 2018 simulation 594/1000 is England
The winner of World Cup 2018 simulation 595/1000 is Colombia
The winner of World Cup 2018 simulation 596/1000 is Argentina
The winner of World Cup 2018 simulation 597/1000 is Spain
The winner of World Cup 2018 simulation 598/1000 is Senegal
The winner of World Cup 2018 simulation 599/1000 is Argentina
The winner of World Cup 2018 simulation 600/1000 is Uruguay
The winner of World Cup 2018 simulation 601/1000 is Argentina
The winner of World Cup 2018 simulation 602/1000 is Belgium
The winner of World Cup 2018 simulation 603/1000 is Poland
The winner of World Cup 2018 simulation 604/1000 is Portugal
The winner of World Cup 2018 simulation 605/1000 is Russia
The winner of World Cup 2018 simulation 606/1000 is Egypt
The winner of World Cup 2018 simulation 607/1000 is Portugal
The winner of World Cup 2018 simulation 608/1000 is Costa Rica
The winner of World Cup 2018 simulation 609/1000 is Sweden
The winner of World Cup 2018 simulation 610/1000 is Belgium
The winner of World Cup 2018 simulation 611/1000 is Serbia
The winner of World Cup 2018 simulation 612/1000 is Senegal
The winner of World Cup 2018 simulation 613/1000 is Mexico
The winner of World Cup 2018 simulation 614/1000 is Denmark
The winner of World Cup 2018 simulation 615/1000 is Belgium
The winner of World Cup 2018 simulation 616/1000 is Belgium
The winner of World Cup 2018 simulation 617/1000 is Argentina
The winner of World Cup 2018 simulation 618/1000 is Uruguay
The winner of World Cup 2018 simulation 619/1000 is Germany
The winner of World Cup 2018 simulation 620/1000 is Senegal
The winner of World Cup 2018 simulation 621/1000 is Spain
The winner of World Cup 2018 simulation 622/1000 is Croatia
The winner of World Cup 2018 simulation 623/1000 is Egypt
The winner of World Cup 2018 simulation 624/1000 is Argentina
The winner of World Cup 2018 simulation 625/1000 is Argentina
The winner of World Cup 2018 simulation 626/1000 is England
The winner of World Cup 2018 simulation 627/1000 is Germany
The winner of World Cup 2018 simulation 628/1000 is Croatia
The winner of World Cup 2018 simulation 629/1000 is Belgium
The winner of World Cup 2018 simulation 630/1000 is Sweden
The winner of World Cup 2018 simulation 631/1000 is Croatia
The winner of World Cup 2018 simulation 632/1000 is Morocco
The winner of World Cup 2018 simulation 633/1000 is England
The winner of World Cup 2018 simulation 634/1000 is Colombia
The winner of World Cup 2018 simulation 635/1000 is Korea Republic
The winner of World Cup 2018 simulation 636/1000 is Uruguay
The winner of World Cup 2018 simulation 637/1000 is Colombia
The winner of World Cup 2018 simulation 638/1000 is Sweden
The winner of World Cup 2018 simulation 639/1000 is Colombia
The winner of World Cup 2018 simulation 640/1000 is Sweden
The winner of World Cup 2018 simulation 641/1000 is Germany
The winner of World Cup 2018 simulation 642/1000 is Croatia
The winner of World Cup 2018 simulation 643/1000 is Belgium
The winner of World Cup 2018 simulation 644/1000 is Morocco
The winner of World Cup 2018 simulation 645/1000 is Colombia
The winner of World Cup 2018 simulation 646/1000 is Sweden
The winner of World Cup 2018 simulation 647/1000 is Japan
The winner of World Cup 2018 simulation 648/1000 is Spain
The winner of World Cup 2018 simulation 649/1000 is Spain
The winner of World Cup 2018 simulation 650/1000 is Argentina
The winner of World Cup 2018 simulation 651/1000 is Brazil
The winner of World Cup 2018 simulation 652/1000 is England
The winner of World Cup 2018 simulation 653/1000 is Russia
The winner of World Cup 2018 simulation 654/1000 is Spain
The winner of World Cup 2018 simulation 655/1000 is Iran
The winner of World Cup 2018 simulation 656/1000 is Mexico
The winner of World Cup 2018 simulation 657/1000 is Belgium
The winner of World Cup 2018 simulation 658/1000 is Argentina
The winner of World Cup 2018 simulation 659/1000 is Iran
The winner of World Cup 2018 simulation 660/1000 is Germany
The winner of World Cup 2018 simulation 661/1000 is Morocco
The winner of World Cup 2018 simulation 662/1000 is Croatia
The winner of World Cup 2018 simulation 663/1000 is Belgium
The winner of World Cup 2018 simulation 664/1000 is Belgium
The winner of World Cup 2018 simulation 665/1000 is England
The winner of World Cup 2018 simulation 666/1000 is Germany
The winner of World Cup 2018 simulation 667/1000 is Russia
The winner of World Cup 2018 simulation 668/1000 is Sweden
The winner of World Cup 2018 simulation 669/1000 is Portugal
The winner of World Cup 2018 simulation 670/1000 is Mexico
The winner of World Cup 2018 simulation 671/1000 is Croatia
The winner of World Cup 2018 simulation 672/1000 is Iceland
The winner of World Cup 2018 simulation 673/1000 is England
The winner of World Cup 2018 simulation 674/1000 is Russia
The winner of World Cup 2018 simulation 675/1000 is Spain
The winner of World Cup 2018 simulation 676/1000 is Uruguay
The winner of World Cup 2018 simulation 677/1000 is Belgium
The winner of World Cup 2018 simulation 678/1000 is Belgium
The winner of World Cup 2018 simulation 679/1000 is Portugal
The winner of World Cup 2018 simulation 680/1000 is Argentina
The winner of World Cup 2018 simulation 681/1000 is Germany
The winner of World Cup 2018 simulation 682/1000 is Germany
The winner of World Cup 2018 simulation 683/1000 is England
The winner of World Cup 2018 simulation 684/1000 is Spain
The winner of World Cup 2018 simulation 685/1000 is Sweden
The winner of World Cup 2018 simulation 686/1000 is Germany
The winner of World Cup 2018 simulation 687/1000 is Uruguay

The winner of World Cup 2018 simulation 688/1000 is Germany
The winner of World Cup 2018 simulation 689/1000 is Argentina
The winner of World Cup 2018 simulation 690/1000 is Uruguay
The winner of World Cup 2018 simulation 691/1000 is England
The winner of World Cup 2018 simulation 692/1000 is Argentina
The winner of World Cup 2018 simulation 693/1000 is Argentina
The winner of World Cup 2018 simulation 694/1000 is Spain
The winner of World Cup 2018 simulation 695/1000 is Argentina
The winner of World Cup 2018 simulation 696/1000 is Morocco
The winner of World Cup 2018 simulation 697/1000 is Mexico
The winner of World Cup 2018 simulation 698/1000 is Sweden
The winner of World Cup 2018 simulation 699/1000 is Portugal
The winner of World Cup 2018 simulation 700/1000 is Iceland
The winner of World Cup 2018 simulation 701/1000 is Germany
The winner of World Cup 2018 simulation 702/1000 is Belgium
The winner of World Cup 2018 simulation 703/1000 is Uruguay
The winner of World Cup 2018 simulation 704/1000 is Germany
The winner of World Cup 2018 simulation 705/1000 is Colombia
The winner of World Cup 2018 simulation 706/1000 is Argentina
The winner of World Cup 2018 simulation 707/1000 is Croatia
The winner of World Cup 2018 simulation 708/1000 is Spain
The winner of World Cup 2018 simulation 709/1000 is Poland
The winner of World Cup 2018 simulation 710/1000 is Spain
The winner of World Cup 2018 simulation 711/1000 is Sweden
The winner of World Cup 2018 simulation 712/1000 is Sweden
The winner of World Cup 2018 simulation 713/1000 is Nigeria
The winner of World Cup 2018 simulation 714/1000 is Argentina
The winner of World Cup 2018 simulation 715/1000 is Portugal
The winner of World Cup 2018 simulation 716/1000 is Croatia
The winner of World Cup 2018 simulation 717/1000 is Belgium
The winner of World Cup 2018 simulation 718/1000 is Argentina
The winner of World Cup 2018 simulation 719/1000 is Mexico
The winner of World Cup 2018 simulation 720/1000 is Argentina
The winner of World Cup 2018 simulation 721/1000 is England
The winner of World Cup 2018 simulation 722/1000 is Belgium
The winner of World Cup 2018 simulation 723/1000 is Belgium
The winner of World Cup 2018 simulation 724/1000 is Belgium
The winner of World Cup 2018 simulation 725/1000 is Uruguay
The winner of World Cup 2018 simulation 726/1000 is Belgium
The winner of World Cup 2018 simulation 727/1000 is Brazil
The winner of World Cup 2018 simulation 728/1000 is Belgium
The winner of World Cup 2018 simulation 729/1000 is Russia
The winner of World Cup 2018 simulation 730/1000 is Croatia
The winner of World Cup 2018 simulation 731/1000 is Colombia
The winner of World Cup 2018 simulation 732/1000 is England
The winner of World Cup 2018 simulation 733/1000 is Uruguay
The winner of World Cup 2018 simulation 734/1000 is Japan
The winner of World Cup 2018 simulation 735/1000 is Uruguay
The winner of World Cup 2018 simulation 736/1000 is Argentina
The winner of World Cup 2018 simulation 737/1000 is Sweden
The winner of World Cup 2018 simulation 738/1000 is Belgium
The winner of World Cup 2018 simulation 739/1000 is England
The winner of World Cup 2018 simulation 740/1000 is Croatia
The winner of World Cup 2018 simulation 741/1000 is England
The winner of World Cup 2018 simulation 742/1000 is Spain
The winner of World Cup 2018 simulation 743/1000 is England
The winner of World Cup 2018 simulation 744/1000 is Argentina
The winner of World Cup 2018 simulation 745/1000 is Uruguay
The winner of World Cup 2018 simulation 746/1000 is France
The winner of World Cup 2018 simulation 747/1000 is France
The winner of World Cup 2018 simulation 748/1000 is Argentina
The winner of World Cup 2018 simulation 749/1000 is Portugal
The winner of World Cup 2018 simulation 750/1000 is France
The winner of World Cup 2018 simulation 751/1000 is Sweden
The winner of World Cup 2018 simulation 752/1000 is Argentina
The winner of World Cup 2018 simulation 753/1000 is Croatia
The winner of World Cup 2018 simulation 754/1000 is Brazil
The winner of World Cup 2018 simulation 755/1000 is Spain
The winner of World Cup 2018 simulation 756/1000 is Argentina
The winner of World Cup 2018 simulation 757/1000 is Brazil
The winner of World Cup 2018 simulation 758/1000 is Egypt
The winner of World Cup 2018 simulation 759/1000 is Colombia
The winner of World Cup 2018 simulation 760/1000 is Egypt
The winner of World Cup 2018 simulation 761/1000 is Sweden
The winner of World Cup 2018 simulation 762/1000 is Sweden
The winner of World Cup 2018 simulation 763/1000 is Morocco
The winner of World Cup 2018 simulation 764/1000 is Spain
The winner of World Cup 2018 simulation 765/1000 is Uruguay
The winner of World Cup 2018 simulation 766/1000 is Germany
The winner of World Cup 2018 simulation 767/1000 is Argentina
The winner of World Cup 2018 simulation 768/1000 is Egypt
The winner of World Cup 2018 simulation 769/1000 is England
The winner of World Cup 2018 simulation 770/1000 is Colombia
The winner of World Cup 2018 simulation 771/1000 is Belgium
The winner of World Cup 2018 simulation 772/1000 is Argentina
The winner of World Cup 2018 simulation 773/1000 is England
The winner of World Cup 2018 simulation 774/1000 is Croatia
The winner of World Cup 2018 simulation 775/1000 is Portugal
The winner of World Cup 2018 simulation 776/1000 is Argentina
The winner of World Cup 2018 simulation 777/1000 is Costa Rica
The winner of World Cup 2018 simulation 778/1000 is Germany
The winner of World Cup 2018 simulation 779/1000 is Russia
The winner of World Cup 2018 simulation 780/1000 is Colombia
The winner of World Cup 2018 simulation 781/1000 is Croatia
The winner of World Cup 2018 simulation 782/1000 is Portugal
The winner of World Cup 2018 simulation 783/1000 is Sweden
The winner of World Cup 2018 simulation 784/1000 is Mexico
The winner of World Cup 2018 simulation 785/1000 is Morocco
The winner of World Cup 2018 simulation 786/1000 is Germany
The winner of World Cup 2018 simulation 787/1000 is Mexico
The winner of World Cup 2018 simulation 788/1000 is Japan
The winner of World Cup 2018 simulation 789/1000 is Croatia
The winner of World Cup 2018 simulation 790/1000 is Croatia
The winner of World Cup 2018 simulation 791/1000 is Croatia
The winner of World Cup 2018 simulation 792/1000 is Uruguay
The winner of World Cup 2018 simulation 793/1000 is Belgium
The winner of World Cup 2018 simulation 794/1000 is Germany
The winner of World Cup 2018 simulation 795/1000 is Argentina
The winner of World Cup 2018 simulation 796/1000 is Belgium
The winner of World Cup 2018 simulation 797/1000 is Argentina
The winner of World Cup 2018 simulation 798/1000 is Argentina
The winner of World Cup 2018 simulation 799/1000 is Germany
The winner of World Cup 2018 simulation 800/1000 is Belgium
The winner of World Cup 2018 simulation 801/1000 is Senegal
The winner of World Cup 2018 simulation 802/1000 is England
The winner of World Cup 2018 simulation 803/1000 is Russia
The winner of World Cup 2018 simulation 804/1000 is England
The winner of World Cup 2018 simulation 805/1000 is Colombia
The winner of World Cup 2018 simulation 806/1000 is Argentina
The winner of World Cup 2018 simulation 807/1000 is Belgium
The winner of World Cup 2018 simulation 808/1000 is Spain
The winner of World Cup 2018 simulation 809/1000 is Argentina
The winner of World Cup 2018 simulation 810/1000 is Mexico
The winner of World Cup 2018 simulation 811/1000 is Germany
The winner of World Cup 2018 simulation 812/1000 is Argentina
The winner of World Cup 2018 simulation 813/1000 is Germany
The winner of World Cup 2018 simulation 814/1000 is England
The winner of World Cup 2018 simulation 815/1000 is Colombia
The winner of World Cup 2018 simulation 816/1000 is England
The winner of World Cup 2018 simulation 817/1000 is Uruguay
The winner of World Cup 2018 simulation 818/1000 is Argentina
The winner of World Cup 2018 simulation 819/1000 is Argentina
The winner of World Cup 2018 simulation 820/1000 is England
The winner of World Cup 2018 simulation 821/1000 is Germany
The winner of World Cup 2018 simulation 822/1000 is Morocco
The winner of World Cup 2018 simulation 823/1000 is Saudi Arabia
The winner of World Cup 2018 simulation 824/1000 is Uruguay

The winner of World Cup 2018 simulation 825/1000 is Morocco
The winner of World Cup 2018 simulation 826/1000 is England
The winner of World Cup 2018 simulation 827/1000 is Sweden
The winner of World Cup 2018 simulation 828/1000 is Egypt
The winner of World Cup 2018 simulation 829/1000 is Germany
The winner of World Cup 2018 simulation 830/1000 is Denmark
The winner of World Cup 2018 simulation 831/1000 is Uruguay
The winner of World Cup 2018 simulation 832/1000 is Portugal
The winner of World Cup 2018 simulation 833/1000 is Mexico
The winner of World Cup 2018 simulation 834/1000 is Mexico
The winner of World Cup 2018 simulation 835/1000 is Argentina
The winner of World Cup 2018 simulation 836/1000 is Morocco
The winner of World Cup 2018 simulation 837/1000 is Uruguay
The winner of World Cup 2018 simulation 838/1000 is Colombia
The winner of World Cup 2018 simulation 839/1000 is Germany
The winner of World Cup 2018 simulation 840/1000 is Egypt
The winner of World Cup 2018 simulation 841/1000 is Argentina
The winner of World Cup 2018 simulation 842/1000 is England
The winner of World Cup 2018 simulation 843/1000 is Colombia
The winner of World Cup 2018 simulation 844/1000 is Sweden
The winner of World Cup 2018 simulation 845/1000 is Germany
The winner of World Cup 2018 simulation 846/1000 is Croatia
The winner of World Cup 2018 simulation 847/1000 is Russia
The winner of World Cup 2018 simulation 848/1000 is Belgium
The winner of World Cup 2018 simulation 849/1000 is Argentina
The winner of World Cup 2018 simulation 850/1000 is England
The winner of World Cup 2018 simulation 851/1000 is Croatia
The winner of World Cup 2018 simulation 852/1000 is Spain
The winner of World Cup 2018 simulation 853/1000 is Uruguay
The winner of World Cup 2018 simulation 854/1000 is Uruguay
The winner of World Cup 2018 simulation 855/1000 is Germany
The winner of World Cup 2018 simulation 856/1000 is Argentina
The winner of World Cup 2018 simulation 857/1000 is Egypt
The winner of World Cup 2018 simulation 858/1000 is Denmark
The winner of World Cup 2018 simulation 859/1000 is Colombia
The winner of World Cup 2018 simulation 860/1000 is Belgium
The winner of World Cup 2018 simulation 861/1000 is Argentina
The winner of World Cup 2018 simulation 862/1000 is Mexico
The winner of World Cup 2018 simulation 863/1000 is France
The winner of World Cup 2018 simulation 864/1000 is Belgium
The winner of World Cup 2018 simulation 865/1000 is Argentina
The winner of World Cup 2018 simulation 866/1000 is Uruguay
The winner of World Cup 2018 simulation 867/1000 is Belgium
The winner of World Cup 2018 simulation 868/1000 is Argentina
The winner of World Cup 2018 simulation 869/1000 is Croatia
The winner of World Cup 2018 simulation 870/1000 is Mexico
The winner of World Cup 2018 simulation 871/1000 is Mexico
The winner of World Cup 2018 simulation 872/1000 is Croatia
The winner of World Cup 2018 simulation 873/1000 is Mexico
The winner of World Cup 2018 simulation 874/1000 is Mexico
The winner of World Cup 2018 simulation 875/1000 is Spain
The winner of World Cup 2018 simulation 876/1000 is Sweden
The winner of World Cup 2018 simulation 877/1000 is Germany
The winner of World Cup 2018 simulation 878/1000 is Japan
The winner of World Cup 2018 simulation 879/1000 is Uruguay
The winner of World Cup 2018 simulation 880/1000 is Belgium
The winner of World Cup 2018 simulation 881/1000 is Uruguay
The winner of World Cup 2018 simulation 882/1000 is Colombia
The winner of World Cup 2018 simulation 883/1000 is Croatia
The winner of World Cup 2018 simulation 884/1000 is Brazil
The winner of World Cup 2018 simulation 885/1000 is Saudi Arabia
The winner of World Cup 2018 simulation 886/1000 is Portugal
The winner of World Cup 2018 simulation 887/1000 is Uruguay
The winner of World Cup 2018 simulation 888/1000 is Germany
The winner of World Cup 2018 simulation 889/1000 is Belgium
The winner of World Cup 2018 simulation 890/1000 is Croatia
The winner of World Cup 2018 simulation 891/1000 is Morocco
The winner of World Cup 2018 simulation 892/1000 is England
The winner of World Cup 2018 simulation 893/1000 is Argentina
The winner of World Cup 2018 simulation 894/1000 is Poland
The winner of World Cup 2018 simulation 895/1000 is Colombia
The winner of World Cup 2018 simulation 896/1000 is Korea Republic
The winner of World Cup 2018 simulation 897/1000 is Uruguay
The winner of World Cup 2018 simulation 898/1000 is Portugal
The winner of World Cup 2018 simulation 899/1000 is Senegal
The winner of World Cup 2018 simulation 900/1000 is Uruguay
The winner of World Cup 2018 simulation 901/1000 is Portugal
The winner of World Cup 2018 simulation 902/1000 is Uruguay
The winner of World Cup 2018 simulation 903/1000 is Argentina
The winner of World Cup 2018 simulation 904/1000 is Belgium
The winner of World Cup 2018 simulation 905/1000 is Morocco
The winner of World Cup 2018 simulation 906/1000 is Morocco
The winner of World Cup 2018 simulation 907/1000 is Argentina
The winner of World Cup 2018 simulation 908/1000 is Germany
The winner of World Cup 2018 simulation 909/1000 is Brazil
The winner of World Cup 2018 simulation 910/1000 is Mexico
The winner of World Cup 2018 simulation 911/1000 is Croatia
The winner of World Cup 2018 simulation 912/1000 is Argentina
The winner of World Cup 2018 simulation 913/1000 is England
The winner of World Cup 2018 simulation 914/1000 is Colombia
The winner of World Cup 2018 simulation 915/1000 is Nigeria
The winner of World Cup 2018 simulation 916/1000 is Colombia
The winner of World Cup 2018 simulation 917/1000 is Germany
The winner of World Cup 2018 simulation 918/1000 is Egypt
The winner of World Cup 2018 simulation 919/1000 is Mexico
The winner of World Cup 2018 simulation 920/1000 is Saudi Arabia
The winner of World Cup 2018 simulation 921/1000 is Belgium
The winner of World Cup 2018 simulation 922/1000 is Belgium
The winner of World Cup 2018 simulation 923/1000 is Portugal
The winner of World Cup 2018 simulation 924/1000 is Belgium
The winner of World Cup 2018 simulation 925/1000 is Croatia
The winner of World Cup 2018 simulation 926/1000 is Peru
The winner of World Cup 2018 simulation 927/1000 is England
The winner of World Cup 2018 simulation 928/1000 is Belgium
The winner of World Cup 2018 simulation 929/1000 is Egypt
The winner of World Cup 2018 simulation 930/1000 is Uruguay
The winner of World Cup 2018 simulation 931/1000 is Egypt
The winner of World Cup 2018 simulation 932/1000 is Iceland
The winner of World Cup 2018 simulation 933/1000 is Japan
The winner of World Cup 2018 simulation 934/1000 is Korea Republic
The winner of World Cup 2018 simulation 935/1000 is Uruguay
The winner of World Cup 2018 simulation 936/1000 is Croatia
The winner of World Cup 2018 simulation 937/1000 is Spain
The winner of World Cup 2018 simulation 938/1000 is Croatia
The winner of World Cup 2018 simulation 939/1000 is England
The winner of World Cup 2018 simulation 940/1000 is Portugal
The winner of World Cup 2018 simulation 941/1000 is Sweden
The winner of World Cup 2018 simulation 942/1000 is Germany
The winner of World Cup 2018 simulation 943/1000 is Argentina
The winner of World Cup 2018 simulation 944/1000 is Argentina
The winner of World Cup 2018 simulation 945/1000 is Germany
The winner of World Cup 2018 simulation 946/1000 is Morocco
The winner of World Cup 2018 simulation 947/1000 is Portugal
The winner of World Cup 2018 simulation 948/1000 is Japan
The winner of World Cup 2018 simulation 949/1000 is Colombia
The winner of World Cup 2018 simulation 950/1000 is England
The winner of World Cup 2018 simulation 951/1000 is Portugal
The winner of World Cup 2018 simulation 952/1000 is England
The winner of World Cup 2018 simulation 953/1000 is Morocco
The winner of World Cup 2018 simulation 954/1000 is Egypt
The winner of World Cup 2018 simulation 955/1000 is Germany
The winner of World Cup 2018 simulation 956/1000 is Croatia
The winner of World Cup 2018 simulation 957/1000 is Russia
The winner of World Cup 2018 simulation 958/1000 is Morocco
The winner of World Cup 2018 simulation 959/1000 is Argentina
The winner of World Cup 2018 simulation 960/1000 is Colombia
The winner of World Cup 2018 simulation 961/1000 is Iceland

The winner of World Cup 2018 simulation 962/1000 is Argentina
The winner of World Cup 2018 simulation 963/1000 is Colombia
The winner of World Cup 2018 simulation 964/1000 is Japan
The winner of World Cup 2018 simulation 965/1000 is Argentina
The winner of World Cup 2018 simulation 966/1000 is Germany
The winner of World Cup 2018 simulation 967/1000 is Nigeria
The winner of World Cup 2018 simulation 968/1000 is France
The winner of World Cup 2018 simulation 969/1000 is Belgium
The winner of World Cup 2018 simulation 970/1000 is Argentina
The winner of World Cup 2018 simulation 971/1000 is Belgium
The winner of World Cup 2018 simulation 972/1000 is Mexico
The winner of World Cup 2018 simulation 973/1000 is Mexico
The winner of World Cup 2018 simulation 974/1000 is Spain
The winner of World Cup 2018 simulation 975/1000 is Argentina
The winner of World Cup 2018 simulation 976/1000 is Sweden
The winner of World Cup 2018 simulation 977/1000 is France
The winner of World Cup 2018 simulation 978/1000 is Mexico
The winner of World Cup 2018 simulation 979/1000 is Colombia
The winner of World Cup 2018 simulation 980/1000 is Spain
The winner of World Cup 2018 simulation 981/1000 is Germany
The winner of World Cup 2018 simulation 982/1000 is Japan
The winner of World Cup 2018 simulation 983/1000 is Belgium
The winner of World Cup 2018 simulation 984/1000 is Argentina
The winner of World Cup 2018 simulation 985/1000 is Uruguay
The winner of World Cup 2018 simulation 986/1000 is Belgium
The winner of World Cup 2018 simulation 987/1000 is England
The winner of World Cup 2018 simulation 988/1000 is England
The winner of World Cup 2018 simulation 989/1000 is England
The winner of World Cup 2018 simulation 990/1000 is England
The winner of World Cup 2018 simulation 991/1000 is Croatia
The winner of World Cup 2018 simulation 992/1000 is Spain
The winner of World Cup 2018 simulation 993/1000 is Argentina
The winner of World Cup 2018 simulation 994/1000 is Croatia
The winner of World Cup 2018 simulation 995/1000 is Korea Republic
The winner of World Cup 2018 simulation 996/1000 is Argentina
The winner of World Cup 2018 simulation 997/1000 is Iceland
The winner of World Cup 2018 simulation 998/1000 is Spain
The winner of World Cup 2018 simulation 999/1000 is Nigeria
The winner of World Cup 2018 simulation 1000/1000 is Brazil

In [57]:
world_cup_results

Argentina         127
Belgium            88
Germany            87
England            86
Croatia            73
Mexico             60
Sweden             57
Uruguay            56
Portugal           54
Colombia           54
Spain              43
Morocco            33
Egypt              23
Japan              23
Russia             23
Brazil             23
Iceland            16
France             14
Nigeria            12
Poland              9
Senegal             8
Korea Republic      7
Saudi Arabia        6
Denmark             5
Serbia              4
Peru                4
Iran                3
Costa Rica          2
dtype: int64