In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn
from scipy.stats import poisson,skellam

In [2]:
df = pd.read_csv('resources/fifa-18-demo-player-dataset/CompleteDataset.csv')
df.drop(['Unnamed: 0', 'Flag', 'Club Logo', 'Value', 'Wage', 'Photo', 'Potential', "Special"], axis=1, inplace=True)
df[df['Nationality']=='Serbia'][['Name', 'Preferred Positions']]

/Users/michaelstrenk/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                      Name Preferred Positions
155               N. Matić             CM CDM
264               L. Fejsa             CM CDM
270            B. Ivanović              RB CB
393    S. Milinković-Savić             CAM CM
415            M. Nastasić                 CB
428               D. Tadić          RM LM CAM
491               D. Basta              RM RB
530          N. Maksimović                 CB
610              A. Ljajić             CAM LW
627             A. Kolarov              CB LB
702              N. Radoja             CDM CM
740              F. Kostić                 LM
871              F. Kostić                 LM
928             N. Subotić                 CB
990            A. Rukavina           RM LB RB
1011           A. Živković              LM RM
1144         N. Pejčinović              RB CB
1181        I. Radovanović             CM CDM
1185        L. Milivojević             CM CDM
1378          M. Sulejmani                 LM
1420            J. Vuković                 CB
1437              M. Jojić          CDM RM CM
1458            N. Tomović              RB CB
1460           L. Marković              CF RM
1611           M. Ninković             LM CAM
1679           S. Rajković                 CB
1866           F. Đorđević                 ST
1868            D. Lazović              LW RW
1879           A. Mitrović                 ST
2051          V. Jovanović                 CB
...                    ...                 ...
9098        M. Poletanović             CM CDM
9533             A. Sedlar                 CB
9634         M. Stevanović              CB RB
9786             N. Trujic                 ST
9834             D. Dražić              LW RW
10415          A. Pavlović                 ST
10532       V. Vukadinović                 RM
10711            N. Đurđić                 ST
10780              N. Rnić                 CB
10811        J. Stojanović          RM LM CAM
10872            S. Dražić                 ST
11163             D. Dinga                 CB
11288            M. Ristić           LM CB LB
11336            D. Sorgić                 ST
11399        Z. Alomerović                 GK
11591             N. Maraš                 CB
11812             V. Vasic                 GK
11878         A. Jovanović                 GK
11931             S. Čupić                 GK
12088     R. Milosavljević                CAM
12563       A. Kaluđerović                 ST
13224         S. Jovanović           ST RM LM
13312           E. Mašović             CDM CB
14045           V. Golemić                 CB
14084          D. Petrovic                 CB
14172          M. Pantović           CF RW LW
14886         P. Golubović                 RB
15517         F. Dmitrovic                 GK
16231             D. Srnić                CDM
16503           N. Pejović                 CB

[133 rows x 2 columns]

In [3]:
positions_list = list(df['Preferred Positions'].apply(lambda x: x.split(' ', 1)[0]).drop_duplicates())
positions_list

['ST',
 'RW',
 'LW',
 'GK',
 'CDM',
 'CB',
 'RM',
 'CM',
 'LM',
 'LB',
 'CAM',
 'RB',
 'CF',
 'RWB',
 'LWB']

In [4]:
positions_dict = {'ST': 'Attack',
                  'RW': 'Attack',
                  'LW': 'Attack',
                  'GK': 'Defense',
                  'CDM': 'Midfield',
                  'CB': 'Defense',
                  'RM': 'Midfield',
                  'CM': 'Midfield',
                  'LM': 'Midfield',
                  'LB': 'Defense',
                  'CAM': 'Attack',
                  'RB': 'Defense',
                  'CF': 'Attack',
                  'RWB': 'Defense',
                  'LWB': 'Defense'}

In [5]:
df2 = df[['Name', 'Club', 'Nationality', 'Preferred Positions', 'Overall']].copy()
df2['Preferred Positions'] = df2['Preferred Positions'].apply(lambda x: x.split(' ', 1)[0]).replace(positions_dict)

team = 'Brazil'
df2[df2['Nationality'] == team].head(14).groupby(['Nationality', 'Preferred Positions']).mean()

                                   Overall
Nationality Preferred Positions
Brazil      Attack               87.333333
            Defense              85.250000
            Midfield             84.666667

In [6]:
epl2018 = pd.read_csv('resources/leagues/epl2018.csv')
epl2018.head()

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,0,E0,11/08/17,Arsenal,Leicester,4,3,H,2,2,...,2.32,21,-1.00,1.91,1.85,2.10,2.02,1.49,4.73,7.25
1,1,E0,12/08/17,Brighton,Man City,0,2,A,0,0,...,2.27,20,1.50,1.95,1.91,2.01,1.96,11.75,6.15,1.29
2,2,E0,12/08/17,Chelsea,Burnley,2,3,A,0,3,...,2.23,20,-1.75,2.03,1.97,1.95,1.90,1.33,5.40,12.25
3,3,E0,12/08/17,Crystal Palace,Huddersfield,0,3,A,0,2,...,1.72,18,-0.75,2.10,2.05,1.86,1.83,1.79,3.56,5.51
4,4,E0,12/08/17,Everton,Stoke,1,0,H,1,0,...,1.76,19,-0.75,1.94,1.90,2.01,1.98,1.82,3.49,5.42

In [7]:
bundesliga2018 = pd.read_csv('resources/leagues/bundesliga2018.csv')
bundesliga2018.head()

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,0,D1,18/08/17,Bayern Munich,Leverkusen,3,1,H,2,0,...,2.88,17,-2.00,2.26,2.18,1.77,1.72,1.28,6.70,11.30
1,1,D1,19/08/17,Hamburg,Augsburg,1,0,H,1,0,...,1.68,18,-0.25,1.88,1.84,2.07,2.03,2.32,3.32,3.47
2,2,D1,19/08/17,Hertha,Stuttgart,2,0,H,0,0,...,1.87,18,-0.50,2.09,2.05,1.87,1.83,2.02,3.60,4.07
3,3,D1,19/08/17,Hoffenheim,Werder Bremen,1,0,H,0,0,...,2.50,16,-0.75,2.04,1.98,1.91,1.88,1.85,4.19,4.12
4,4,D1,19/08/17,Mainz,Hannover,0,1,A,0,0,...,1.76,16,-0.50,2.01,1.97,1.93,1.89,1.85,3.75,4.65

In [8]:
seriea2018 = pd.read_csv('resources/leagues/seriea2018.csv')
seriea2018.head()

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,0,I1,19/08/17,Juventus,Cagliari,3,0,H,2,0,...,2.41,16,-2.00,1.83,1.80,2.13,2.07,1.13,9.74,27.70
1,1,I1,19/08/17,Verona,Napoli,1,3,A,0,2,...,2.29,16,1.25,1.98,1.95,1.97,1.92,8.37,5.21,1.41
2,2,I1,20/08/17,Atalanta,Roma,0,1,A,0,1,...,2.06,16,0.25,1.91,1.88,2.04,1.99,2.99,3.44,2.53
3,3,I1,20/08/17,Bologna,Torino,1,1,D,1,1,...,1.75,16,0.25,1.90,1.87,2.06,2.00,3.35,3.47,2.31
4,4,I1,20/08/17,Crotone,Milan,0,3,A,0,3,...,2.06,17,1.00,1.89,1.85,2.08,2.02,7.42,4.37,1.52

In [9]:
laliga2018 = pd.read_csv('resources/leagues/laliga2018.csv')
laliga2018.head()

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,0,SP1,18/08/17,Leganes,Alaves,1,0,H,1,0,...,1.46,18,-0.50,2.07,2.03,1.90,1.86,1.98,3.35,4.63
1,1,SP1,18/08/17,Valencia,Las Palmas,1,0,H,1,0,...,2.27,16,-0.75,2.05,1.97,1.96,1.91,1.78,4.24,4.43
2,2,SP1,19/08/17,Celta,Sociedad,2,3,A,1,1,...,1.84,18,-0.25,2.08,2.05,1.87,1.83,2.12,3.53,3.74
3,3,SP1,19/08/17,Girona,Ath Madrid,2,2,D,2,0,...,1.74,16,1.25,1.77,1.75,2.25,2.16,6.93,3.83,1.63
4,4,SP1,19/08/17,Sevilla,Espanol,1,1,D,1,1,...,2.09,16,-1.00,2.12,2.06,1.86,1.82,1.64,4.18,5.82

In [10]:
results_dict = {'H': 2, "D": 1, "A": 0}
cols = ['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']
test_df = epl2018[cols].rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals', 'FTR': 'Results'}).copy()
test_df['Results'] = test_df['Results'].replace(results_dict)
test_df

           HomeTeam        AwayTeam  HomeGoals  AwayGoals  Results
0           Arsenal       Leicester          4          3        2
1          Brighton        Man City          0          2        0
2           Chelsea         Burnley          2          3        0
3    Crystal Palace    Huddersfield          0          3        0
4           Everton           Stoke          1          0        2
5       Southampton         Swansea          0          0        1
6           Watford       Liverpool          3          3        1
7         West Brom     Bournemouth          1          0        2
8        Man United        West Ham          4          0        2
9         Newcastle       Tottenham          0          2        0
10      Bournemouth         Watford          0          2        0
11          Burnley       West Brom          0          1        0
12        Leicester        Brighton          2          0        2
13        Liverpool  Crystal Palace          1          0        2
14      Southampton        West Ham          3          2        2
15            Stoke         Arsenal          1          0        2
16          Swansea      Man United          0          4        0
17     Huddersfield       Newcastle          1          0        2
18        Tottenham         Chelsea          1          2        0
19         Man City         Everton          1          1        1
20      Bournemouth        Man City          1          2        0
21   Crystal Palace         Swansea          0          2        0
22     Huddersfield     Southampton          0          0        1
23       Man United       Leicester          2          0        2
24        Newcastle        West Ham          3          0        2
25          Watford        Brighton          0          0        1
26          Chelsea         Everton          2          0        2
27        Liverpool         Arsenal          4          0        2
28        Tottenham         Burnley          1          1        1
29        West Brom           Stoke          1          1        1
..              ...             ...        ...        ...      ...
350         Swansea         Chelsea          0          1        0
351      Man United         Arsenal          2          1        2
352        West Ham        Man City          1          4        0
353       Tottenham         Watford          2          0        2
354        Brighton      Man United          1          0        2
355     Bournemouth         Swansea          1          0        2
356         Everton     Southampton          1          1        1
357       Leicester        West Ham          0          2        0
358           Stoke  Crystal Palace          1          2        0
359         Watford       Newcastle          2          1        2
360       West Brom       Tottenham          1          0        2
361         Arsenal         Burnley          5          0        2
362         Chelsea       Liverpool          1          0        2
363        Man City    Huddersfield          0          0        1
364         Swansea     Southampton          0          1        0
365         Chelsea    Huddersfield          1          1        1
366       Leicester         Arsenal          3          1        2
367        Man City        Brighton          3          1        2
368       Tottenham       Newcastle          1          0        2
369        West Ham      Man United          0          0        1
370         Burnley     Bournemouth          1          2        0
371  Crystal Palace       West Brom          2          0        2
372    Huddersfield         Arsenal          0          1        0
373       Liverpool        Brighton          4          0        2
374      Man United         Watford          1          0        2
375       Newcastle         Chelsea          3          0        2
376     Southampton        Man City          0          1        0
377         Swansea           Stoke          1          2        0
378       Tottenham       Leicester          5          4        2
379        West Ham         Everton          3          1        2

[380 rows x 5 columns]

In [11]:
player_overall_df = df[['Name', 'Club', 'Nationality', 'Preferred Positions', 'Overall']].copy()
player_overall_df['Preferred Positions'] = player_overall_df['Preferred Positions'].apply(lambda x: x.split(' ', 1)[0]).replace(positions_dict)

In [12]:
def get_team_stats(team, type='Club', no_of_players=13, return_df=False):
    mask = df2[type] == team
    groupby_cols = [type, 'Preferred Positions']
    team_stats_df = player_overall_df[mask].head(no_of_players).groupby(groupby_cols).mean().round(0)
    if return_df == True:
        return team_stats_df
    else:
        df = team_stats_df.reset_index().pivot(type, 'Preferred Positions')
        attack = df['Overall'].values[0][0]
        mid = df['Overall'].values[0][1]
        defense = df['Overall'].values[0][2]
        return [attack, mid, defense]

In [13]:
get_team_stats('Brazil', type='Nationality', return_df=False)

[87.0, 86.0, 85.0]

In [14]:
get_team_stats('Chelsea')

[86.0, 85.0, 84.0]

In [15]:
epl_teams = list(test_df['HomeTeam'].drop_duplicates().values)
epl_teams

['Arsenal',
 'Brighton',
 'Chelsea',
 'Crystal Palace',
 'Everton',
 'Southampton',
 'Watford',
 'West Brom',
 'Man United',
 'Newcastle',
 'Bournemouth',
 'Burnley',
 'Leicester',
 'Liverpool',
 'Stoke',
 'Swansea',
 'Huddersfield',
 'Tottenham',
 'Man City',
 'West Ham']

In [16]:
epl_team_dict = {'Arsenal': 'Arsenal',
                 'Brighton': 'Brighton & Hove Albion',
                 'Chelsea': 'Chelsea',
                 'Crystal Palace': 'Crystal Palace',
                 'Everton': 'Everton',
                 'Southampton': 'Southampton',
                 'Watford': 'Watford',
                 'West Brom': 'West Bromwich Albion',
                 'Man United': 'Manchester United',
                 'Newcastle': 'Newcastle United',
                 'Bournemouth': 'Bournemouth',
                 'Burnley': 'Burnley',
                 'Leicester': 'Leicester City',
                 'Liverpool': 'Liverpool',
                 'Stoke': 'Stoke City',
                 'Swansea': 'Swansea City',
                 'Huddersfield': 'Huddersfield Town',
                 'Tottenham': 'Tottenham Hotspur',
                 'Man City': 'Manchester City',
                 'West Ham': 'West Ham United'}

In [17]:
bund_teams = list(bundesliga2018['HomeTeam'].drop_duplicates().values)
bund_teams

['Bayern Munich',
 'Hamburg',
 'Hertha',
 'Hoffenheim',
 'Mainz',
 'Schalke 04',
 'Wolfsburg',
 'Freiburg',
 "M'gladbach",
 'FC Koln',
 'Augsburg',
 'Dortmund',
 'Ein Frankfurt',
 'Leverkusen',
 'Stuttgart',
 'Werder Bremen',
 'Hannover',
 'RB Leipzig']

In [18]:
bundesliga_team_dict = {'Bayern Munich': 'FC Bayern Munich',
                        'Hamburg': 'Hamburger SV',
                        'Hertha': 'Hertha BSC Berlin',
                        'Hoffenheim': 'TSG 1899 Hoffenheim',
                        'Mainz': '1. FSV Mainz 05',
                        'Schalke 04': 'FC Schalke 04',
                        'Wolfsburg': 'VfL Wolfsburg',
                        'Freiburg': 'SC Freiburg',
                        "M'gladbach": 'Borussia Mönchengladbach',
                        'FC Koln': '1. FC Köln',
                        'Augsburg': 'FC Augsburg',
                        'Dortmund': 'Borussia Dortmund',
                        'Ein Frankfurt': 'Eintracht Frankfurt',
                        'Leverkusen': 'Bayer 04 Leverkusen',
                        'Stuttgart': 'VfB Stuttgart',
                        'Werder Bremen': 'SV Werder Bremen',
                        'Hannover': 'Hannover 96',
                        'RB Leipzig': 'RB Leipzig'}

In [19]:
laliga_teams = list(laliga2018['HomeTeam'].drop_duplicates().values)
laliga_teams

['Leganes',
 'Valencia',
 'Celta',
 'Girona',
 'Sevilla',
 'Ath Bilbao',
 'Barcelona',
 'La Coruna',
 'Levante',
 'Malaga',
 'Betis',
 'Sociedad',
 'Alaves',
 'Las Palmas',
 'Eibar',
 'Espanol',
 'Getafe',
 'Real Madrid',
 'Villarreal',
 'Ath Madrid']

In [20]:
laliga_team_dict = {'Leganes': 'CD Leganés',
                    'Valencia': 'Valencia CF',
                    'Celta': 'RC Celta de Vigo',
                    'Girona': 'Girona CF',
                    'Sevilla': 'Sevilla FC',
                    'Ath Bilbao': 'Athletic Club de Bilbao',
                    'Barcelona': 'FC Barcelona',
                    'La Coruna': 'RC Deportivo de La Coruña',
                    'Levante': 'Levante UD',
                    'Malaga': 'Málaga CF',
                    'Betis': 'Real Betis Balompié',
                    'Sociedad': 'Real Sociedad',
                    'Alaves': 'Deportivo Alavés',
                    'Las Palmas': 'UD Las Palmas',
                    'Eibar': 'SD Eibar',
                    'Espanol': 'RCD Espanyol',
                    'Getafe': 'Getafe CF',
                    'Real Madrid': 'Real Madrid CF',
                    'Villarreal': 'Villarreal CF',
                    'Ath Madrid': 'Atlético Madrid'
                    }

In [21]:
seriea_teams = list(seriea2018['HomeTeam'].drop_duplicates().values)
seriea_teams

['Juventus',
 'Verona',
 'Atalanta',
 'Bologna',
 'Crotone',
 'Inter',
 'Lazio',
 'Sampdoria',
 'Sassuolo',
 'Udinese',
 'Benevento',
 'Genoa',
 'Roma',
 'Chievo',
 'Fiorentina',
 'Milan',
 'Napoli',
 'Spal',
 'Torino',
 'Cagliari']

In [22]:
seriea_teams_dict = {'Juventus': 'Juventus',
                     'Verona': 'Hellas Verona',
                     'Atalanta': 'Atalanta',
                     'Bologna': 'Bologna',
                     'Crotone': 'Crotone',
                     'Inter': 'Inter',
                     'Lazio': 'Lazio',
                     'Sampdoria': 'Sampdoria',
                     'Sassuolo': 'Sassuolo',
                     'Udinese': 'Udinese',
                     'Benevento': 'Benevento Calcio',
                     'Genoa': 'Genoa',
                     'Roma': 'Roma',
                     'Chievo': 'Chievo Verona',
                     'Fiorentina': 'Fiorentina',
                     'Milan': 'Milan',
                     'Napoli': 'Napoli',
                     'Spal': 'Ferrara (SPAL)',
                     'Torino': 'Torino',
                     'Cagliari': 'Cagliari'
                    }

In [23]:
team_cols = ['HomeTeam', 'AwayTeam']
epl2018[team_cols] = epl2018[team_cols].replace(epl_team_dict)
bundesliga2018[team_cols] = bundesliga2018[team_cols].replace(bundesliga_team_dict)
seriea2018[team_cols] = seriea2018[team_cols].replace(seriea_teams_dict)
laliga2018[team_cols] = laliga2018[team_cols].replace(laliga_team_dict)

In [24]:
seriea2018['HomeTeam'].drop_duplicates().sort_values()

2             Atalanta
10    Benevento Calcio
3              Bologna
24            Cagliari
13       Chievo Verona
4              Crotone
18      Ferrara (SPAL)
15          Fiorentina
11               Genoa
1        Hellas Verona
5                Inter
0             Juventus
6                Lazio
16               Milan
17              Napoli
12                Roma
7            Sampdoria
8             Sassuolo
19              Torino
9              Udinese
Name: HomeTeam, dtype: object

In [25]:
results_dict = {'H': 'HomeWin', "D": 'Draw', "A": 'AwayWin'}
cols = ['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']

league_results_df = pd.concat([epl2018, bundesliga2018, seriea2018, laliga2018])[cols]
league_results_df.rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals', 'FTR': 'Result'}, inplace=True)
league_results_df['Result'] = league_results_df['Result'].replace(results_dict)
league_results_df['Goal diff'] = league_results_df['HomeGoals'] - league_results_df['AwayGoals']

league_results_df.reset_index(drop=True, inplace=True)
league_results_df

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Result,Goal diff
0,Arsenal,Leicester City,4,3,HomeWin,1
1,Brighton & Hove Albion,Manchester City,0,2,AwayWin,-2
2,Chelsea,Burnley,2,3,AwayWin,-1
3,Crystal Palace,Huddersfield Town,0,3,AwayWin,-3
4,Everton,Stoke City,1,0,HomeWin,1
5,Southampton,Swansea City,0,0,Draw,0
6,Watford,Liverpool,3,3,Draw,0
7,West Bromwich Albion,Bournemouth,1,0,HomeWin,1
8,Manchester United,West Ham United,4,0,HomeWin,4
9,Newcastle United,Tottenham Hotspur,0,2,AwayWin,-2
10,Bournemouth,Watford,0,2,AwayWin,-2
11,Burnley,West Bromwich Albion,0,1,AwayWin,-1
12,Leicester City,Brighton & Hove Albion,2,0,HomeWin,2
13,Liverpool,Crystal Palace,1,0,HomeWin,1
14,Southampton,West Ham United,3,2,HomeWin,1
15,Stoke City,Arsenal,1,0,HomeWin,1
16,Swansea City,Manchester United,0,4,AwayWin,-4
17,Huddersfield Town,Newcastle United,1,0,HomeWin,1
18,Tottenham Hotspur,Chelsea,1,2,AwayWin,-1
19,Manchester City,Everton,1,1,Draw,0
20,Bournemouth,Manchester City,1,2,AwayWin,-1
21,Crystal Palace,Swansea City,0,2,AwayWin,-2
22,Huddersfield Town,Southampton,0,0,Draw,0
23,Manchester United,Leicester City,2,0,HomeWin,2
24,Newcastle United,West Ham United,3,0,HomeWin,3
25,Watford,Brighton & Hove Albion,0,0,Draw,0
26,Chelsea,Everton,2,0,HomeWin,2
27,Liverpool,Arsenal,4,0,HomeWin,4
28,Tottenham Hotspur,Burnley,1,1,Draw,0
29,West Bromwich Albion,Stoke City,1,1,Draw,0
...,...,...,...,...,...,...
1416,RC Celta de Vigo,RC Deportivo de La Coruña,1,1,Draw,0
1417,Girona CF,SD Eibar,1,4,AwayWin,-3
1418,Villarreal CF,Valencia CF,1,0,HomeWin,1
1419,Atlético Madrid,RCD Espanyol,0,2,AwayWin,-2
1420,FC Barcelona,Real Madrid CF,2,2,Draw,0
1421,UD Las Palmas,Getafe CF,0,1,AwayWin,-1
1422,Málaga CF,Deportivo Alavés,0,3,AwayWin,-3
1423,CD Leganés,Levante UD,0,3,AwayWin,-3
1424,FC Barcelona,Villarreal CF,5,1,HomeWin,4
1425,Sevilla FC,Real Madrid CF,3,2,HomeWin,1
1426,Deportivo Alavés,Athletic Club de Bilbao,3,1,HomeWin,2
1427,Real Betis Balompié,Sevilla FC,2,2,Draw,0
1428,SD Eibar,UD Las Palmas,1,0,HomeWin,1
1429,Getafe CF,Atlético Madrid,0,1,AwayWin,-1
1430,Girona CF,Valencia CF,0,1,AwayWin,-1
1431,RC Deportivo de La Coruña,Villarreal CF,2,4,AwayWin,-2
1432,Real Madrid CF,RC Celta de Vigo,6,0,HomeWin,6
1433,Real Sociedad,CD Leganés,3,2,HomeWin,1
1434,RCD Espanyol,Málaga CF,4,1,HomeWin,3
1435,Levante UD,FC Barcelona,5,4,HomeWin,1
1436,RC Celta de Vigo,Levante UD,4,2,HomeWin,2
1437,UD Las Palmas,Girona CF,1,2,AwayWin,-1
1438,CD Leganés,Real Betis Balompié,3,2,HomeWin,1
1439,Málaga CF,Getafe CF,0,1,AwayWin,-1
1440,Sevilla FC,Deportivo Alavés,1,0,HomeWin,1
1441,Villarreal CF,Real Madrid CF,2,2,Draw,0
1442,Athletic Club de Bilbao,RCD Espanyol,0,1,AwayWin,-1
1443,Atlético Madrid,SD Eibar,2,2,Draw,0
1444,FC Barcelona,Real Sociedad,1,0,HomeWin,1
1445,Valencia CF,RC Deportivo de La Coruña,2,1,HomeWin,1

In [26]:
# teams_list = list(league_results_df['HomeTeam'].drop_duplicates())
# team_rating_list = []

# teams_list[0]

# get_team_stats(teams_list[0])

# for team in teams_list:
#     print(get_team_stats(team))

# for team in teams_list:
#     rating = get_team_stats(team)
#     team_rating_list.append(rating)
    
# team_ratings = pd.DataFrame(data=team_rating_list, index=teams_list, columns=['team_rating']).sort_index()
# team_ratings_dict = team_ratings.to_dict()
# team_ratings_dict

In [27]:
# team_cols = ['HomeTeam', 'AwayTeam']
# league_results_df[team_cols] = league_results_df[team_cols].replace(team_ratings_dict['team_rating'])
# league_results_df

In [28]:
league_results_df['Result'].value_counts()

HomeWin    655
AwayWin    440
Draw       351
Name: Result, dtype: int64

In [29]:
homeTeam_attack = []
homeTeam_mid = []
homeTeam_def = []
awayTeam_attack = []
awayTeam_mid = []
awayTeam_def = []
data = []


for index, row in league_results_df.iterrows():
    try:
        home_team_stats = get_team_stats(row['HomeTeam'])
        home_attack = home_team_stats[0]
        home_midfield = home_team_stats[1]
        home_defense = home_team_stats[2]

        away_team_stats = get_team_stats(row['AwayTeam'])
        away_attack = away_team_stats[0]
        away_midfield = away_team_stats[1]
        away_defense = away_team_stats[2]
        
#         if len(home_team_stats[0]) != 3 or len(away_team_stats[0]) != 3:
#             homeTeam_attack.append(None)
#             homeTeam_mid.append(None)
#             homeTeam_def.append(None)
#             awayTeam_attack.append(None)
#             awayTeam_mid.append(None)
#             awayTeam_def.append(None)
#         else:            
        homeTeam_attack.append(home_attack)
        homeTeam_mid.append(home_midfield)
        homeTeam_def.append(home_defense)
        awayTeam_attack.append(away_attack)
        awayTeam_mid.append(away_midfield)
        awayTeam_def.append(away_defense)

        
    except IndexError:
        homeTeam_attack.append(None)
        homeTeam_mid.append(None)
        homeTeam_def.append(None)
        awayTeam_attack.append(None)
        awayTeam_mid.append(None)
        awayTeam_def.append(None)
        continue

In [30]:
data = [homeTeam_attack, 
        homeTeam_mid, 
        homeTeam_def, 
        awayTeam_attack,
        awayTeam_mid, 
        awayTeam_def]

feature_cols = ['homeTeam_attack', 
                'homeTeam_mid', 
                'homeTeam_def', 
                'awayTeam_attack', 
                'awayTeam_mid',
                'awayTeam_def']

home_cols = ['homeTeam_attack', 
                'homeTeam_mid', 
                'homeTeam_def', 
                'awayTeam_attack', 
                'awayTeam_mid',
                'awayTeam_def']

away_cols = ['awayTeam_attack', 
             'awayTeam_mid',
             'awayTeam_def',
             'homeTeam_attack', 
             'homeTeam_mid', 
             'homeTeam_def']

rename_cols = ['A_Team_attack', 
               'A_Team_mid',
               'A_Team_def',
               'B_Team_attack', 
               'B_Team_mid', 
               'B_Team_def']
             

team_ratings_df = pd.DataFrame(data, index=feature_cols)

In [31]:
team_ratings_df = team_ratings_df.transpose()
team_ratings_df['HomeGoals'] = league_results_df['HomeGoals']
team_ratings_df['AwayGoals'] = league_results_df['AwayGoals']
team_ratings_df['result'] = league_results_df['Result']

In [32]:
team_ratings_df.dropna(inplace=True)

In [33]:
team_ratings_df.head()

,homeTeam_attack,homeTeam_mid,homeTeam_def,awayTeam_attack,awayTeam_mid,awayTeam_def,HomeGoals,AwayGoals,result
0,85.0,83.0,83.0,80.0,78.0,78.0,4,3,HomeWin
1,76.0,75.0,75.0,89.0,83.0,85.0,0,2,AwayWin
2,86.0,85.0,84.0,75.0,77.0,75.0,2,3,AwayWin
3,78.0,76.0,79.0,75.0,73.0,74.0,0,3,AwayWin
4,81.0,81.0,82.0,78.0,79.0,77.0,1,0,HomeWin

In [34]:
home_team_df = team_ratings_df[home_cols].copy()
home_team_df.columns = rename_cols
away_team_df = team_ratings_df[away_cols].copy()
away_team_df.columns = rename_cols

X = pd.concat([home_team_df, away_team_df]).reset_index(drop=True)

In [35]:
X.tail()

,A_Team_attack,A_Team_mid,A_Team_def,B_Team_attack,B_Team_mid,B_Team_def
2887,88.0,86.0,88.0,81.0,81.0,80.0
2888,79.0,80.0,79.0,80.0,80.0,81.0
2889,78.0,78.0,78.0,86.0,85.0,83.0
2890,80.0,80.0,80.0,86.0,85.0,86.0
2891,79.0,77.0,77.0,79.0,80.0,80.0

In [36]:
print(X.shape)
X.iloc[[0,1370]]

(2892, 6)

,A_Team_attack,A_Team_mid,A_Team_def,B_Team_attack,B_Team_mid,B_Team_def
0,85.0,83.0,83.0,80.0,78.0,78.0
1370,80.0,78.0,78.0,81.0,81.0,81.0

In [37]:
y = pd.DataFrame(pd.concat([team_ratings_df['HomeGoals'], team_ratings_df['AwayGoals']]).reset_index(drop=True), columns=['goals'])

In [38]:
print(y.shape)
y.iloc[[0,1370]]

(2892, 1)

      goals
0         4
1370      4

In [39]:
y.head()

   goals
0      4
1      0
2      2
3      0
4      1

In [40]:
data = X.join(y)

In [41]:
data.head()

,A_Team_attack,A_Team_mid,A_Team_def,B_Team_attack,B_Team_mid,B_Team_def,goals
0,85.0,83.0,83.0,80.0,78.0,78.0,4
1,76.0,75.0,75.0,89.0,83.0,85.0,0
2,86.0,85.0,84.0,75.0,77.0,75.0,2
3,78.0,76.0,79.0,75.0,73.0,74.0,0
4,81.0,81.0,82.0,78.0,79.0,77.0,1

# Poisson

In [42]:
# importing the tools required for the Poisson regression model
import statsmodels.api as sm
import statsmodels.formula.api as smf

# goal_model_data = pd.concat([epl_1617[['HomeTeam','AwayTeam','HomeGoals']].assign(home=1).rename(
#             columns={'HomeTeam':'team', 'AwayTeam':'opponent','HomeGoals':'goals'}),
#            epl_1617[['AwayTeam','HomeTeam','AwayGoals']].assign(home=0).rename(
#             columns={'AwayTeam':'team', 'HomeTeam':'opponent','AwayGoals':'goals'})])


goal_model_data = X.join(y)

goal_model_data

poisson_model = smf.glm(formula="goals ~ A_Team_attack + A_Team_mid + A_Team_def + B_Team_attack + B_Team_mid + B_Team_def", data=data, 
                        family=sm.families.Poisson()).fit()
poisson_model.summary()

/Users/michaelstrenk/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  goals   No. Observations:                 2892
Model:                            GLM   Df Residuals:                     2885
Model Family:                 Poisson   Df Model:                            6
Link Function:                    log   Scale:                             1.0
Method:                          IRLS   Log-Likelihood:                -4221.6
Date:                Tue, 12 Jun 2018   Deviance:                       3404.4
Time:                        07:49:30   Pearson chi2:                 3.01e+03
No. Iterations:                     5
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept        -1.6821      0.507     -3.317      0.001      -2.676      -0.688
A_Team_attack     0.0434      0.011      3.934      0.000       0.022       0.065
A_Team_mid        0.0020      0.012      0.170      0.865      -0.021       0.025
A_Team_def        0.0259      0.012      2.113      0.035       0.002       0.050
B_Team_attack    -0.0129      0.011     -1.149      0.250      -0.035       0.009
B_Team_mid       -0.0359      0.012     -2.903      0.004      -0.060      -0.012
B_Team_def        0.0020      0.013      0.155      0.877      -0.023       0.027
=================================================================================
"""

In [43]:
team_data_test1 = {'A_Team_attack': 84,
                  'A_Team_mid': 84,
                  'A_Team_def': 85,
                  'B_Team_attack': 80, 
                  'B_Team_mid': 78, 
                  'B_Team_def': 80}


poisson_model.predict(pd.DataFrame(data=team_data_test1, index=[1]))

1    1.932062
dtype: float64

In [44]:


team_data_test2 = {'A_Team_attack': 80,
                  'A_Team_mid': 78,
                  'A_Team_def': 80,
                  'B_Team_attack': 84, 
                  'B_Team_mid': 84, 
                  'B_Team_def': 85}


poisson_model.predict(pd.DataFrame(data=team_data_test2, index=[1]))

1    1.090379
dtype: float64

In [45]:
a_team_stats = get_team_stats('Brazil', type='Nationality')
print(a_team_stats)

[87.0, 86.0, 85.0]

In [99]:
def simulate_goals(game, a_team='A Team', b_team='B Team'):
    a_goals = 0
    b_goals = 0
    outcome = 0

    random_event = np.random.random()
    print('Random float: {}'.format(random_event))
    counter = 0


    for index, row in pd.DataFrame(data=game).iterrows():
        for x in range(len(row)):
            counter += row[x]
            
            a_goals = x
            b_goals = index
            
            if counter > random_event:
                break
        if counter > random_event:
            break
      

    print('{} goals: {}'.format(a_team, str(a_goals)))
    print('{} goals: {}\n'.format(b_team, str(b_goals)))
    return a_goals, b_goals


def show_game_summary(game, a_team='A Team', b_team='B Team'):
    a_team_odds = np.sum(np.tril(game, -1))
    b_team_odds = np.sum(np.triu(game, 1))
    draw_odds = np.sum(np.diag(game))
    
    print('{} chance of Win: {}%'.format(a_team, round(a_team_odds*100, 2)))
    print('{} chance of Win: {}%'.format(b_team, round(b_team_odds*100, 2)))
    print('Odds of a draw: {}%'.format(round(draw_odds*100, 2)))
    
    a_goals, b_goals = simulate_goals(game, a_team, b_team)
    
    return a_team_odds, b_team_odds, draw_odds, a_goals, b_goals


def simulate_match(foot_model, a_team, b_team, type='Club', max_goals=9):
    a_team_stats = get_team_stats(a_team, type=type)
    b_team_stats = get_team_stats(b_team, type=type)
    
    data1 = {'A_Team_attack': a_team_stats[0],
              'A_Team_mid': a_team_stats[1],
              'A_Team_def': a_team_stats[2],
              'B_Team_attack': b_team_stats[0], 
              'B_Team_mid': b_team_stats[1], 
              'B_Team_def': b_team_stats[2]}
    
    data2 = {'A_Team_attack': b_team_stats[0],
              'A_Team_mid': b_team_stats[1],
              'A_Team_def': b_team_stats[2],
              'B_Team_attack': a_team_stats[0], 
              'B_Team_mid': a_team_stats[1], 
              'B_Team_def': a_team_stats[2]}
        
    a_goals_avg = foot_model.predict(pd.DataFrame(data=data1, index=[1])).values[0]
    b_goals_avg = foot_model.predict(pd.DataFrame(data=data2, index=[1])).values[0]
    
    team_pred = [[poisson.pmf(i, team_avg) for i in range(0, max_goals+1)] for team_avg in [a_goals_avg, b_goals_avg]]
    game = (np.outer(np.array(team_pred[0]), np.array(team_pred[1])))
    show_game_summary(game, a_team, b_team)
    return game


game = simulate_match(poisson_model, 'Brazil', 'Spain', type='Nationality')

# show_game_summary(game)
game

Brazil chance of Win: 36.98%
Spain chance of Win: 38.94%
Odds of a draw: 24.08%
Random float: 0.4670862038606278
Brazil goals: 2
Spain goals: 1

array([[4.75074777e-02, 7.34434022e-02, 5.67693087e-02, 2.92538591e-02,
        1.13061304e-02, 3.49570518e-03, 9.00687970e-04, 1.98914818e-04,
        3.84386356e-05, 6.60261948e-06],
       [7.13056186e-02, 1.10233746e-01, 8.52070216e-02, 4.39081303e-02,
        1.69697626e-02, 5.24682498e-03, 1.35187377e-03, 2.98558140e-04,
        5.76938795e-05, 9.91010025e-06],
       [5.35125363e-02, 8.27268237e-02, 6.39450849e-02, 3.29516168e-02,
        1.27352522e-02, 3.93757067e-03, 1.01453708e-03, 2.24058126e-04,
        4.32973710e-05, 7.43720635e-06],
       [2.67729397e-02, 4.13891850e-02, 3.19924642e-02, 1.64860743e-02,
        6.37159372e-03, 1.97001206e-03, 5.07584614e-04, 1.12098867e-04,
        2.16621746e-05, 3.72092020e-06],
       [1.00461081e-02, 1.55306153e-02, 1.20046494e-02, 6.18612997e-03,
        2.39083642e-03, 7.39214834e-04, 1.90462832e-04, 4.20632680e-05,
        8.12837701e-06, 1.39621450e-06],
       [3.01571032e-03, 4.66208768e-03, 3.60363881e-03, 1.85699535e-03,
        7.17697838e-04, 2.21902629e-04, 5.71744522e-05, 1.26268432e-05,
        2.44003252e-06, 4.19125340e-07],
       [7.54397345e-04, 1.16624814e-03, 9.01471050e-04, 4.64538105e-04,
        1.79536257e-04, 5.55102236e-05, 1.43025192e-05, 3.15867771e-06,
        6.10388219e-07, 1.04846623e-07],
       [1.61757301e-04, 2.50066033e-04, 1.93292732e-04, 9.96059044e-05,
        3.84960266e-05, 1.19024596e-05, 3.06673521e-06, 6.77281253e-07,
        1.30878974e-07, 2.24811326e-08],
       [3.03483918e-05, 4.69165963e-05, 3.62649694e-05, 1.86877440e-05,
        7.22250246e-06, 2.23310173e-06, 5.75371137e-07, 1.27069361e-07,
        2.45550981e-08, 4.21783881e-09],
       [5.06121693e-06, 7.82430492e-06, 6.04792763e-06, 3.11656468e-06,
        1.20450045e-06, 3.72415526e-07, 9.59549408e-08, 2.11914228e-08,
        4.09506636e-09, 7.03411150e-10]])

In [100]:
# a_team_stats = get_team_stats('Brazil', type='Nationality')
# b_team_stats = get_team_stats('Portugal', type='Nationality')

# data1 = a_team_stats + b_team_stats
# data2 = b_team_stats + a_team_stats

# print(data1)
# print(data2)
    
# a_goals_avg = foot_model.predict(pd.DataFrame(data=data1, index=[1])).values[0]
# b_goals_avg = foot_model.predict(pd.DataFrame(data=data2, index=[1])).values[0]

In [101]:
np.reshape(np.cumsum(np.array(game).flatten()), newshape=(10,10))

array([[0.04750748, 0.12095088, 0.17772019, 0.20697405, 0.21828018,
        0.22177588, 0.22267657, 0.22287549, 0.22291392, 0.22292053],
       [0.29422615, 0.40445989, 0.48966691, 0.53357504, 0.55054481,
        0.55579163, 0.55714351, 0.55744206, 0.55749976, 0.55750967],
       [0.6110222 , 0.69374903, 0.75769411, 0.79064573, 0.80338098,
        0.80731855, 0.80833309, 0.80855715, 0.80860044, 0.80860788],
       [0.83538082, 0.87677001, 0.90876247, 0.92524855, 0.93162014,
        0.93359015, 0.93409774, 0.93420983, 0.9342315 , 0.93423522],
       [0.94428133, 0.95981194, 0.97181659, 0.97800272, 0.98039356,
        0.98113277, 0.98132323, 0.9813653 , 0.98137343, 0.98137482],
       [0.98439053, 0.98905262, 0.99265626, 0.99451325, 0.99523095,
        0.99545285, 0.99551003, 0.99552266, 0.9955251 , 0.99552552],
       [0.99627991, 0.99744616, 0.99834763, 0.99881217, 0.99899171,
        0.99904722, 0.99906152, 0.99906468, 0.99906529, 0.99906539],
       [0.99922715, 0.99947722, 0.99967051, 0.99977011, 0.99980861,
        0.99982051, 0.99982358, 0.99982426, 0.99982439, 0.99982441],
       [0.99985476, 0.99990168, 0.99993794, 0.99995663, 0.99996385,
        0.99996608, 0.99996666, 0.99996679, 0.99996681, 0.99996682],
       [0.99997188, 0.9999797 , 0.99998575, 0.99998887, 0.99999007,
        0.99999044, 0.99999054, 0.99999056, 0.99999056, 0.99999056]])

In [102]:

    
simulate_goals(game)

Random float: 0.06482018442855475
A Team goals: 1
B Team goals: 0

(1, 0)

In [103]:
game

array([[4.75074777e-02, 7.34434022e-02, 5.67693087e-02, 2.92538591e-02,
        1.13061304e-02, 3.49570518e-03, 9.00687970e-04, 1.98914818e-04,
        3.84386356e-05, 6.60261948e-06],
       [7.13056186e-02, 1.10233746e-01, 8.52070216e-02, 4.39081303e-02,
        1.69697626e-02, 5.24682498e-03, 1.35187377e-03, 2.98558140e-04,
        5.76938795e-05, 9.91010025e-06],
       [5.35125363e-02, 8.27268237e-02, 6.39450849e-02, 3.29516168e-02,
        1.27352522e-02, 3.93757067e-03, 1.01453708e-03, 2.24058126e-04,
        4.32973710e-05, 7.43720635e-06],
       [2.67729397e-02, 4.13891850e-02, 3.19924642e-02, 1.64860743e-02,
        6.37159372e-03, 1.97001206e-03, 5.07584614e-04, 1.12098867e-04,
        2.16621746e-05, 3.72092020e-06],
       [1.00461081e-02, 1.55306153e-02, 1.20046494e-02, 6.18612997e-03,
        2.39083642e-03, 7.39214834e-04, 1.90462832e-04, 4.20632680e-05,
        8.12837701e-06, 1.39621450e-06],
       [3.01571032e-03, 4.66208768e-03, 3.60363881e-03, 1.85699535e-03,
        7.17697838e-04, 2.21902629e-04, 5.71744522e-05, 1.26268432e-05,
        2.44003252e-06, 4.19125340e-07],
       [7.54397345e-04, 1.16624814e-03, 9.01471050e-04, 4.64538105e-04,
        1.79536257e-04, 5.55102236e-05, 1.43025192e-05, 3.15867771e-06,
        6.10388219e-07, 1.04846623e-07],
       [1.61757301e-04, 2.50066033e-04, 1.93292732e-04, 9.96059044e-05,
        3.84960266e-05, 1.19024596e-05, 3.06673521e-06, 6.77281253e-07,
        1.30878974e-07, 2.24811326e-08],
       [3.03483918e-05, 4.69165963e-05, 3.62649694e-05, 1.86877440e-05,
        7.22250246e-06, 2.23310173e-06, 5.75371137e-07, 1.27069361e-07,
        2.45550981e-08, 4.21783881e-09],
       [5.06121693e-06, 7.82430492e-06, 6.04792763e-06, 3.11656468e-06,
        1.20450045e-06, 3.72415526e-07, 9.59549408e-08, 2.11914228e-08,
        4.09506636e-09, 7.03411150e-10]])

## Getting the world cup squad Stats

In [104]:
get_team_stats('Brazil', type='Nationality', return_df=True)

                                 Overall
Nationality Preferred Positions
Brazil      Attack                  87.0
            Defense                 86.0
            Midfield                85.0

In [105]:
schedule_df = pd.read_csv('resources/worldcup_match_schedule.csv')
schedule_df.head()

     a_team        b_team
0    Russia  Saudi Arabia
1     Egypt       Uruguay
2  Portugal         Spain
3   Morocco          Iran
4    France     Australia

In [106]:
get_team_stats('Morocco', type='Nationality', return_df=False)

[79.0, 78.0, 77.0]

In [107]:
def get_bulk_team_stats(schedule):


    a_team_attack = []
    a_team_mid = []
    a_team_def = []
    b_team_attack = []
    b_team_mid = []
    b_team_def = []
    data = []


    for index, row in schedule.iterrows():
        try:
            a_team_stats = get_team_stats(row['a_team'], type='Nationality')
            a_attack = a_team_stats[0][0]
            a_midfield = a_team_stats[0][1]
            a_defense = a_team_stats[0][2]

            b_team_stats = get_team_stats(row['b_team'], type='Nationality')
            b_attack = b_team_stats[0][0]
            b_midfield = b_team_stats[0][1]
            b_defense = b_team_stats[0][2]

            if len(a_team_stats[0]) != 3 or len(b_team_stats[0]) != 3:
                a_team_attack.append(None)
                a_team_mid.append(None)
                a_team_def.append(None)
                b_team_attack.append(None)
                b_team_mid.append(None)
                b_team_def.append(None)
            else:            
                a_team_attack.append(a_attack)
                a_team_mid.append(a_midfield)
                a_team_def.append(a_defense)
                b_team_attack.append(b_attack)
                b_team_mid.append(b_midfield)
                b_team_def.append(b_defense)


        except IndexError:
            a_team_attack.append(None)
            a_team_mid.append(None)
            a_team_def.append(None)
            b_team_attack.append(None)
            b_team_mid.append(None)
            b_team_def.append(None)
            continue

    data = [a_team_attack, 
            a_team_mid, 
            a_team_def, 
            b_team_attack,
            b_team_mid, 
            b_team_def]

    rename_cols = ['A_Team_attack', 
                   'A_Team_mid',
                   'A_Team_def',
                   'B_Team_attack', 
                   'B_Team_mid', 
                   'B_Team_def']


    return pd.DataFrame(data, index=rename_cols).transpose()

In [108]:
get_team_stats('Iceland', type='Nationality', return_df=False)

[73.0, 71.0, 74.0]

In [109]:
mask = df2['Nationality'] == 'Serbia'
groupby_cols = ['Nationality', 'Preferred Positions']
player_overall_df[mask].head(13).groupby(groupby_cols).mean().round(0)

                                 Overall
Nationality Preferred Positions
Serbia      Attack                  80.0
            Defense                 80.0
            Midfield                80.0

In [167]:
# group_stage_matches_df = get_bulk_team_stats(schedule_df)
# group_stage_matches_df.shape

group_stage_matches_df = get_bulk_team_stats(schedule_df)
schedule_df.iloc[4]
group_stage_matches_df

   A_Team_attack A_Team_mid A_Team_def B_Team_attack B_Team_mid B_Team_def
0           None       None       None          None       None       None
1           None       None       None          None       None       None
2           None       None       None          None       None       None
3           None       None       None          None       None       None
4           None       None       None          None       None       None
5           None       None       None          None       None       None
6           None       None       None          None       None       None
7           None       None       None          None       None       None
8           None       None       None          None       None       None
9           None       None       None          None       None       None
10          None       None       None          None       None       None
11          None       None       None          None       None       None
12          None       None       None          None       None       None
13          None       None       None          None       None       None
14          None       None       None          None       None       None
15          None       None       None          None       None       None
16          None       None       None          None       None       None
17          None       None       None          None       None       None
18          None       None       None          None       None       None
19          None       None       None          None       None       None
20          None       None       None          None       None       None
21          None       None       None          None       None       None
22          None       None       None          None       None       None
23          None       None       None          None       None       None
24          None       None       None          None       None       None
25          None       None       None          None       None       None
26          None       None       None          None       None       None
27          None       None       None          None       None       None
28          None       None       None          None       None       None
29          None       None       None          None       None       None
30          None       None       None          None       None       None
31          None       None       None          None       None       None
32          None       None       None          None       None       None
33          None       None       None          None       None       None
34          None       None       None          None       None       None
35          None       None       None          None       None       None
36          None       None       None          None       None       None
37          None       None       None          None       None       None
38          None       None       None          None       None       None
39          None       None       None          None       None       None
40          None       None       None          None       None       None
41          None       None       None          None       None       None
42          None       None       None          None       None       None
43          None       None       None          None       None       None
44          None       None       None          None       None       None
45          None       None       None          None       None       None
46          None       None       None          None       None       None
47          None       None       None          None       None       None

In [114]:
a_team_odds = []
b_team_odds = []
draw_odds = []
a_goals_count = []
b_goals_count = []

for index, row in schedule_df.iterrows():
    a_team = row[0]
    b_team = row[1]
    
    game = simulate_match(poisson_model, a_team, b_team, type='Nationality')
    a_team_probability, b_team_probability, draw_probability, a_goals, b_goals  = show_game_summary(game)
    
    a_team_odds.append(a_team_probability)
    b_team_odds.append(b_team_probability)
    draw_odds.append(draw_probability)
    a_goals_count.append(a_goals)
    b_goals_count.append(b_goals)

Russia chance of Win: 55.43%
Saudi Arabia chance of Win: 20.27%
Odds of a draw: 24.3%
Random float: 0.30089089236090893
Russia goals: 0
Saudi Arabia goals: 1

A Team chance of Win: 55.43%
B Team chance of Win: 20.27%
Odds of a draw: 24.3%
Random float: 0.028635919286170042
A Team goals: 0
B Team goals: 0

Egypt chance of Win: 12.86%
Uruguay chance of Win: 67.55%
Odds of a draw: 19.59%
Random float: 0.7131660224084526
Egypt goals: 3
Uruguay goals: 1

A Team chance of Win: 12.86%
B Team chance of Win: 67.55%
Odds of a draw: 19.59%
Random float: 0.2924379119865682
A Team goals: 2
B Team goals: 0

Portugal chance of Win: 31.19%
Spain chance of Win: 44.99%
Odds of a draw: 23.82%
Random float: 0.49016167391830967
Portugal goals: 2
Spain goals: 1

A Team chance of Win: 31.19%
B Team chance of Win: 44.99%
Odds of a draw: 23.82%
Random float: 0.43664553015576324
A Team goals: 2
B Team goals: 1

Morocco chance of Win: 63.29%
Iran chance of Win: 14.71%
Odds of a draw: 21.99%
Random float: 0.806655927322073
Morocco goals: 1
Iran goals: 3

A Team chance of Win: 63.29%
B Team chance of Win: 14.71%
Odds of a draw: 21.99%
Random float: 0.6249564635226781
A Team goals: 1
B Team goals: 2

France chance of Win: 78.31%
Australia chance of Win: 7.5%
Odds of a draw: 14.15%
Random float: 0.7249576222256491
France goals: 2
Australia goals: 3

A Team chance of Win: 78.31%
B Team chance of Win: 7.5%
Odds of a draw: 14.15%
Random float: 0.5511762134253512
A Team goals: 0
B Team goals: 3

Peru chance of Win: 21.1%
Denmark chance of Win: 54.26%
Odds of a draw: 24.64%
Random float: 0.7463429884883427
Peru goals: 4
Denmark goals: 1

A Team chance of Win: 21.1%
B Team chance of Win: 54.26%
Odds of a draw: 24.64%
Random float: 0.053680360884249545
A Team goals: 0
B Team goals: 0

Argentina chance of Win: 82.38%
Iceland chance of Win: 5.9%
Odds of a draw: 11.63%
Random float: 0.17226881733584165
Argentina goals: 1
Iceland goals: 1

A Team chance of Win: 82.38%
B Team chance of Win: 5.9%
Odds of a draw: 11.63%
Random float: 0.2860847808048771
A Team goals: 0
B Team goals: 2

Croatia chance of Win: 59.79%
Nigeria chance of Win: 17.59%
Odds of a draw: 22.62%
Random float: 0.8103105058143578
Croatia goals: 1
Nigeria goals: 3

A Team chance of Win: 59.79%
B Team chance of Win: 17.59%
Odds of a draw: 22.62%
Random float: 0.959520777451761
A Team goals: 3
B Team goals: 4

Brazil chance of Win: 61.17%
Switzerland chance of Win: 17.58%
Odds of a draw: 21.24%
Random float: 0.6114054109936296
Brazil goals: 1
Switzerland goals: 2

A Team chance of Win: 61.17%
B Team chance of Win: 17.58%
Odds of a draw: 21.24%
Random float: 0.9507241139312694
A Team goals: 0
B Team goals: 5

Costa Rica chance of Win: 21.41%
Serbia chance of Win: 54.34%
Odds of a draw: 24.25%
Random float: 0.4158793830378611
Costa Rica goals: 0
Serbia goals: 1

A Team chance of Win: 21.41%
B Team chance of Win: 54.34%
Odds of a draw: 24.25%
Random float: 0.671171825990763
A Team goals: 3
B Team goals: 1

Germany chance of Win: 65.72%
Mexico chance of Win: 15.05%
Odds of a draw: 19.22%
Random float: 0.311231345091008
Germany goals: 2
Mexico goals: 1

A Team chance of Win: 65.72%
B Team chance of Win: 15.05%
Odds of a draw: 19.22%
Random float: 0.16824576520094636
A Team goals: 0
B Team goals: 1

Sweden chance of Win: 51.88%
Korea Republic chance of Win: 23.83%
Odds of a draw: 24.29%
Random float: 0.8121465146407212
Sweden goals: 0
Korea Republic goals: 3

A Team chance of Win: 51.88%
B Team chance of Win: 23.83%
Odds of a draw: 24.29%
Random float: 0.9809775826099807
A Team goals: 1
B Team goals: 5

Belgium chance of Win: 92.31%
Panama chance of Win: 1.59%
Odds of a draw: 5.77%
Random float: 0.07334736860516533
Belgium goals: 0
Panama goals: 1

A Team chance of Win: 92.31%
B Team chance of Win: 1.59%
Odds of a draw: 5.77%
Random float: 0.3578491905087796
A Team goals: 0
B Team goals: 3

Tunisia chance of Win: 7.87%
England chance of Win: 76.82%
Odds of a draw: 15.29%
Random float: 0.19984356073605214
Tunisia goals: 2
England goals: 0

A Team chance of Win: 7.87%
B Team chance of Win: 76.82%
Odds of a draw: 15.29%
Random float: 0.6430418529669695
A Team goals: 2
B Team goals: 1

Poland chance of Win: 34.95%
Senegal chance of Win: 39.66%
Odds of a draw: 25.39%
Random float: 0.8129192865320394
Poland goals: 3
Senegal goals: 2

A Team chance of Win: 34.95%
B Team chance of Win: 39.66%
Odds of a draw: 25.39%
Random float: 0.6375646492156278
A Team goals: 0
B Team goals: 2

Colombia chance of Win: 51.62%
Japan chance of Win: 24.04%
Odds of a draw: 24.34%
Random float: 0.41167407227426556
Colombia goals: 1
Japan goals: 1

A Team chance of Win: 51.62%
B Team chance of Win: 24.04%
Odds of a draw: 24.34%
Random float: 0.17754789040274954
A Team goals: 3
B Team goals: 0

Russia chance of Win: 55.91%
Egypt chance of Win: 20.52%
Odds of a draw: 23.57%
Random float: 0.600676476114544
Russia goals: 1
Egypt goals: 2

A Team chance of Win: 55.91%
B Team chance of Win: 20.52%
Odds of a draw: 23.57%
Random float: 0.21767751016474346
A Team goals: 0
B Team goals: 1

Uruguay chance of Win: 66.83%
Saudi Arabia chance of Win: 12.83%
Odds of a draw: 20.33%
Random float: 0.7109144305162257
Uruguay goals: 0
Saudi Arabia goals: 3

A Team chance of Win: 66.83%
B Team chance of Win: 12.83%
Odds of a draw: 20.33%
Random float: 0.3540486509119244
A Team goals: 1
B Team goals: 1

Portugal chance of Win: 62.37%
Morocco chance of Win: 16.78%
Odds of a draw: 20.85%
Random float: 0.9994811167987181
Portugal goals: 1
Morocco goals: 8

A Team chance of Win: 62.37%
B Team chance of Win: 16.78%
Odds of a draw: 20.85%
Random float: 0.257913367485456
A Team goals: 1
B Team goals: 1

Iran chance of Win: 2.96%
Spain chance of Win: 88.98%
Odds of a draw: 7.85%
Random float: 0.6001658169509101
Iran goals: 0
Spain goals: 1

A Team chance of Win: 2.96%
B Team chance of Win: 88.98%
Odds of a draw: 7.85%
Random float: 0.40425195858123253
A Team goals: 4
B Team goals: 0

France chance of Win: 79.85%
Peru chance of Win: 7.02%
Odds of a draw: 13.08%
Random float: 0.039236518578224966
France goals: 1
Peru goals: 0

A Team chance of Win: 79.85%
B Team chance of Win: 7.02%
Odds of a draw: 13.08%
Random float: 0.45432026529143044
A Team goals: 2
B Team goals: 2

Denmark chance of Win: 52.81%
Australia chance of Win: 21.54%
Odds of a draw: 25.66%
Random float: 0.2831341193323832
Denmark goals: 0
Australia goals: 1

A Team chance of Win: 52.81%
B Team chance of Win: 21.54%
Odds of a draw: 25.66%
Random float: 0.8424584731309848
A Team goals: 0
B Team goals: 3

Argentina chance of Win: 48.14%
Croatia chance of Win: 28.63%
Odds of a draw: 23.23%
Random float: 0.7068016217869205
Argentina goals: 3
Croatia goals: 2

A Team chance of Win: 48.14%
B Team chance of Win: 28.63%
Odds of a draw: 23.23%
Random float: 0.5451311782455903
A Team goals: 1
B Team goals: 2

Nigeria chance of Win: 48.47%
Iceland chance of Win: 24.61%
Odds of a draw: 26.92%
Random float: 0.0530679162774399
Nigeria goals: 0
Iceland goals: 0

A Team chance of Win: 48.47%
B Team chance of Win: 24.61%
Odds of a draw: 26.92%
Random float: 0.6565088655930512
A Team goals: 0
B Team goals: 2

Brazil chance of Win: 78.08%
Costa Rica chance of Win: 7.79%
Odds of a draw: 14.09%
Random float: 0.8896162240026773
Brazil goals: 0
Costa Rica goals: 5

A Team chance of Win: 78.08%
B Team chance of Win: 7.79%
Odds of a draw: 14.09%
Random float: 0.6180943395863796
A Team goals: 0
B Team goals: 3

Serbia chance of Win: 36.25%
Switzerland chance of Win: 37.09%
Odds of a draw: 26.66%
Random float: 0.260405167744695
Serbia goals: 3
Switzerland goals: 0

A Team chance of Win: 36.25%
B Team chance of Win: 37.09%
Odds of a draw: 26.66%
Random float: 0.6419117057926474
A Team goals: 0
B Team goals: 2

Germany chance of Win: 67.27%
Sweden chance of Win: 14.23%
Odds of a draw: 18.49%
Random float: 0.685526270715152
Germany goals: 1
Sweden goals: 3

A Team chance of Win: 67.27%
B Team chance of Win: 14.23%
Odds of a draw: 18.49%
Random float: 0.8717208999817164
A Team goals: 1
B Team goals: 4

Korea Republic chance of Win: 22.88%
Mexico chance of Win: 52.85%
Odds of a draw: 24.26%
Random float: 0.18504484434569235
Korea Republic goals: 2
Mexico goals: 0

A Team chance of Win: 22.88%
B Team chance of Win: 52.85%
Odds of a draw: 24.26%
Random float: 0.5104024905686458
A Team goals: 1
B Team goals: 1

Belgium chance of Win: 83.09%
Tunisia chance of Win: 5.01%
Odds of a draw: 11.85%
Random float: 0.6011903328233145
Belgium goals: 0
Tunisia goals: 3

A Team chance of Win: 83.09%
B Team chance of Win: 5.01%
Odds of a draw: 11.85%
Random float: 0.7739144515197548
A Team goals: 0
B Team goals: 4

England chance of Win: 88.75%
Panama chance of Win: 2.76%
Odds of a draw: 8.35%
Random float: 0.6734897646582256
England goals: 0
Panama goals: 4

A Team chance of Win: 88.75%
B Team chance of Win: 2.76%
Odds of a draw: 8.35%
Random float: 0.9136288703881748
A Team goals: 0
B Team goals: 6

Poland chance of Win: 36.99%
Colombia chance of Win: 37.45%
Odds of a draw: 25.56%
Random float: 0.320785628382681
Poland goals: 0
Colombia goals: 1

A Team chance of Win: 36.99%
B Team chance of Win: 37.45%
Odds of a draw: 25.56%
Random float: 0.23278655703871165
A Team goals: 3
B Team goals: 0

Japan chance of Win: 22.36%
Senegal chance of Win: 53.97%
Odds of a draw: 23.68%
Random float: 0.31506612142046797
Japan goals: 3
Senegal goals: 0

A Team chance of Win: 22.36%
B Team chance of Win: 53.97%
Odds of a draw: 23.68%
Random float: 0.8345273943756124
A Team goals: 2
B Team goals: 2

Uruguay chance of Win: 48.96%
Russia chance of Win: 25.85%
Odds of a draw: 25.19%
Random float: 0.8319073584929029
Uruguay goals: 0
Russia goals: 3

A Team chance of Win: 48.96%
B Team chance of Win: 25.85%
Odds of a draw: 25.19%
Random float: 0.6410247101390425
A Team goals: 1
B Team goals: 2

Saudi Arabia chance of Win: 35.77%
Egypt chance of Win: 36.52%
Odds of a draw: 27.71%
Random float: 0.30727575094364923
Saudi Arabia goals: 0
Egypt goals: 1

A Team chance of Win: 35.77%
B Team chance of Win: 36.52%
Odds of a draw: 27.71%
Random float: 0.012035412034456794
A Team goals: 0
B Team goals: 0

Iran chance of Win: 4.44%
Portugal chance of Win: 85.08%
Odds of a draw: 10.38%
Random float: 0.5572162809422527
Iran goals: 7
Portugal goals: 0

A Team chance of Win: 4.44%
B Team chance of Win: 85.08%
Odds of a draw: 10.38%
Random float: 0.12274641684170073
A Team goals: 2
B Team goals: 0

Spain chance of Win: 69.05%
Morocco chance of Win: 12.7%
Odds of a draw: 18.24%
Random float: 0.6442800145441613
Spain goals: 0
Morocco goals: 3

A Team chance of Win: 69.05%
B Team chance of Win: 12.7%
Odds of a draw: 18.24%
Random float: 0.020489757310373724
A Team goals: 0
B Team goals: 0

Denmark chance of Win: 16.33%
France chance of Win: 63.31%
Odds of a draw: 20.35%
Random float: 0.16226230203440972
Denmark goals: 2
France goals: 0

A Team chance of Win: 16.33%
B Team chance of Win: 63.31%
Odds of a draw: 20.35%
Random float: 0.7521824214308727
A Team goals: 6
B Team goals: 1

Australia chance of Win: 36.41%
Peru chance of Win: 35.3%
Odds of a draw: 28.29%
Random float: 0.24899995035814082
Australia goals: 2
Peru goals: 0

A Team chance of Win: 36.41%
B Team chance of Win: 35.3%
Odds of a draw: 28.29%
Random float: 0.3041449927663169
A Team goals: 4
B Team goals: 0

Nigeria chance of Win: 11.91%
Argentina chance of Win: 69.78%
Odds of a draw: 18.3%
Random float: 0.14790579401799098
Nigeria goals: 1
Argentina goals: 0

A Team chance of Win: 11.91%
B Team chance of Win: 69.78%
Odds of a draw: 18.3%
Random float: 0.3625567463818308
A Team goals: 3
B Team goals: 0

Iceland chance of Win: 9.81%
Croatia chance of Win: 73.85%
Odds of a draw: 16.32%
Random float: 0.6200828942807639
Iceland goals: 2
Croatia goals: 1

A Team chance of Win: 9.81%
B Team chance of Win: 73.85%
Odds of a draw: 16.32%
Random float: 0.3464975626410475
A Team goals: 3
B Team goals: 0

Serbia chance of Win: 17.19%
Brazil chance of Win: 62.21%
Odds of a draw: 20.59%
Random float: 0.8228893779139864
Serbia goals: 2
Brazil goals: 2

A Team chance of Win: 17.19%
B Team chance of Win: 62.21%
Odds of a draw: 20.59%
Random float: 0.7998008506241989
A Team goals: 1
B Team goals: 2

Switzerland chance of Win: 54.25%
Costa Rica chance of Win: 21.1%
Odds of a draw: 24.65%
Random float: 0.271686719797809
Switzerland goals: 0
Costa Rica goals: 1

A Team chance of Win: 54.25%
B Team chance of Win: 21.1%
Odds of a draw: 24.65%
Random float: 0.23003857849808462
A Team goals: 0
B Team goals: 1

Korea Republic chance of Win: 7.27%
Germany chance of Win: 79.28%
Odds of a draw: 13.41%
Random float: 0.7015432687224297
Korea Republic goals: 3
Germany goals: 1

A Team chance of Win: 7.27%
B Team chance of Win: 79.28%
Odds of a draw: 13.41%
Random float: 0.42617712403336094
A Team goals: 4
B Team goals: 0

Mexico chance of Win: 38.49%
Sweden chance of Win: 36.1%
Odds of a draw: 25.41%
Random float: 0.7901001421803141
Mexico goals: 2
Sweden goals: 2

A Team chance of Win: 38.49%
B Team chance of Win: 36.1%
Odds of a draw: 25.41%
Random float: 0.8957672921881914
A Team goals: 1
B Team goals: 3

England chance of Win: 28.77%
Belgium chance of Win: 47.45%
Odds of a draw: 23.77%
Random float: 0.7112934756000311
England goals: 1
Belgium goals: 2

A Team chance of Win: 28.77%
B Team chance of Win: 47.45%
Odds of a draw: 23.77%
Random float: 0.7146126326050796
A Team goals: 1
B Team goals: 2

Panama chance of Win: 19.53%
Tunisia chance of Win: 51.48%
Odds of a draw: 28.98%
Random float: 0.2842225979217399
Panama goals: 1
Tunisia goals: 0

A Team chance of Win: 19.53%
B Team chance of Win: 51.48%
Odds of a draw: 28.98%
Random float: 0.06802901359744107
A Team goals: 0
B Team goals: 0

Japan chance of Win: 24.2%
Poland chance of Win: 50.78%
Odds of a draw: 25.02%
Random float: 0.9347196285775193
Japan goals: 1
Poland goals: 3

A Team chance of Win: 24.2%
B Team chance of Win: 50.78%
Odds of a draw: 25.02%
Random float: 0.13959737376057313
A Team goals: 1
B Team goals: 0

Senegal chance of Win: 39.76%
Colombia chance of Win: 35.42%
Odds of a draw: 24.83%
Random float: 0.12913308278310476
Senegal goals: 1
Colombia goals: 0

A Team chance of Win: 39.76%
B Team chance of Win: 35.42%
Odds of a draw: 24.83%
Random float: 0.46226574483841676
A Team goals: 2
B Team goals: 1

In [115]:
group_stage_probabilities_df = schedule_df.copy()
group_stage_probabilities_df['a_team_chances'] = pd.Series(a_team_odds)
group_stage_probabilities_df['b_team_chances'] = pd.Series(b_team_odds)
group_stage_probabilities_df['draw_chances'] = pd.Series(draw_odds)

In [168]:
group_stage_probabilities_df

,a_team,b_team,a_team_chances,b_team_chances,draw_chances,a_goals,b_goals
0,Russia,Saudi Arabia,0.554290,0.202677,0.243023,0,0
1,Egypt,Uruguay,0.128553,0.675456,0.195929,2,0
2,Portugal,Spain,0.311893,0.449925,0.238170,2,1
3,Morocco,Iran,0.632917,0.147130,0.219929,1,2
4,France,Australia,0.783094,0.075025,0.141530,0,3
5,Peru,Denmark,0.210984,0.542639,0.246369,0,0
6,Argentina,Iceland,0.823846,0.058962,0.116335,0,2
7,Croatia,Nigeria,0.597850,0.175881,0.226247,3,4
8,Brazil,Switzerland,0.611717,0.175833,0.212408,0,5
9,Costa Rica,Serbia,0.214069,0.543399,0.242522,3,1
10,Germany,Mexico,0.657188,0.150520,0.192194,0,1
11,Sweden,Korea Republic,0.518825,0.238300,0.242864,1,5
12,Belgium,Panama,0.923147,0.015909,0.057690,0,3
13,Tunisia,England,0.078672,0.768211,0.152904,2,1
14,Poland,Senegal,0.349494,0.396617,0.253885,0,2
15,Colombia,Japan,0.516199,0.240412,0.243379,3,0
16,Russia,Egypt,0.559110,0.205155,0.235720,0,1
17,Uruguay,Saudi Arabia,0.668340,0.128277,0.203340,1,1
18,Portugal,Morocco,0.623699,0.167780,0.208472,1,1
19,Iran,Spain,0.029581,0.889751,0.078491,4,0
20,France,Peru,0.798459,0.070222,0.130769,2,2
21,Denmark,Australia,0.528053,0.215381,0.256560,0,3
22,Argentina,Croatia,0.481416,0.286253,0.232313,1,2
23,Nigeria,Iceland,0.484665,0.246092,0.269240,0,2
24,Brazil,Costa Rica,0.780784,0.077885,0.140939,0,3
25,Serbia,Switzerland,0.362511,0.370869,0.266617,0,2
26,Germany,Sweden,0.672681,0.142287,0.184901,1,4
27,Korea Republic,Mexico,0.228819,0.528535,0.242635,1,1
28,Belgium,Tunisia,0.830861,0.050144,0.118455,0,4
29,England,Panama,0.887484,0.027621,0.083513,0,6
30,Poland,Colombia,0.369895,0.374531,0.255570,3,0
31,Japan,Senegal,0.223569,0.539651,0.236766,2,2
32,Uruguay,Russia,0.489589,0.258490,0.251915,1,2
33,Saudi Arabia,Egypt,0.357711,0.365192,0.277096,0,0
34,Iran,Portugal,0.044405,0.850849,0.103763,2,0
35,Spain,Morocco,0.690533,0.126969,0.182378,0,0
36,Denmark,France,0.163342,0.633073,0.203524,6,1
37,Australia,Peru,0.364066,0.353009,0.282924,4,0
38,Nigeria,Argentina,0.119134,0.697792,0.182971,3,0
39,Iceland,Croatia,0.098119,0.738521,0.163164,3,0
40,Serbia,Brazil,0.171910,0.622105,0.205926,1,2
41,Switzerland,Costa Rica,0.542487,0.210987,0.246517,0,1
42,Korea Republic,Germany,0.072676,0.792767,0.134065,4,0
43,Mexico,Sweden,0.384883,0.360991,0.254122,1,3
44,England,Belgium,0.287742,0.474514,0.237731,1,2
45,Panama,Tunisia,0.195317,0.514835,0.289847,0,0
46,Japan,Poland,0.241997,0.507767,0.250229,1,0
47,Senegal,Colombia,0.397563,0.354153,0.248279,2,1

In [88]:
group_stage_results = {'Russia': {'points': 0, 'goals': 0},
                       'Egypt': {'points': 0, 'goals': 0},
                       'Portugal': {'points': 0, 'goals': 0},
                       'Morocco': {'points': 0, 'goals': 0},
                       'France': {'points': 0, 'goals': 0},
                       'Peru': {'points': 0, 'goals': 0},
                       'Argentina': {'points': 0, 'goals': 0},
                       'Croatia': {'points': 0, 'goals': 0},
                       'Brazil': {'points': 0, 'goals': 0},
                       'Costa Rica': {'points': 0, 'goals': 0},
                       'Germany': {'points': 0, 'goals': 0},
                       'Sweden': {'points': 0, 'goals': 0},
                       'Belgium': {'points': 0, 'goals': 0},
                       'Tunisia': {'points': 0, 'goals': 0},
                       'Poland': {'points': 0, 'goals': 0},
                       'Colombia': {'points': 0, 'goals': 0},
                       'Uruguay': {'points': 0, 'goals': 0},
                       'Iran': {'points': 0, 'goals': 0},
                       'Denmark': {'points': 0, 'goals': 0},
                       'Nigeria': {'points': 0, 'goals': 0},
                       'Serbia': {'points': 0, 'goals': 0},
                       'Korea Republic': {'points': 0, 'goals': 0},
                       'England': {'points': 0, 'goals': 0},
                       'Japan': {'points': 0, 'goals': 0},
                       'Saudi Arabia': {'points': 0, 'goals': 0},
                       'Spain': {'points': 0, 'goals': 0},
                       'Australia': {'points': 0, 'goals': 0},
                       'Iceland': {'points': 0, 'goals': 0},
                       'Switzerland': {'points': 0, 'goals': 0},
                       'Mexico': {'points': 0, 'goals': 0},
                       'Panama': {'points': 0, 'goals': 0},
                       'Senegal': {'points': 0, 'goals': 0}
                      }

In [169]:
group_stage_results_df = schedule_df.copy()
group_stage_results_df['a_goals'] = pd.Series(a_goals_count)
group_stage_results_df['b_goals'] = pd.Series(b_goals_count)
group_stage_results_df

            a_team          b_team  a_goals  b_goals
0           Russia    Saudi Arabia        0        0
1            Egypt         Uruguay        2        0
2         Portugal           Spain        2        1
3          Morocco            Iran        1        2
4           France       Australia        0        3
5             Peru         Denmark        0        0
6        Argentina         Iceland        0        2
7          Croatia         Nigeria        3        4
8           Brazil     Switzerland        0        5
9       Costa Rica          Serbia        3        1
10         Germany          Mexico        0        1
11          Sweden  Korea Republic        1        5
12         Belgium          Panama        0        3
13         Tunisia         England        2        1
14          Poland         Senegal        0        2
15        Colombia           Japan        3        0
16          Russia           Egypt        0        1
17         Uruguay    Saudi Arabia        1        1
18        Portugal         Morocco        1        1
19            Iran           Spain        4        0
20          France            Peru        2        2
21         Denmark       Australia        0        3
22       Argentina         Croatia        1        2
23         Nigeria         Iceland        0        2
24          Brazil      Costa Rica        0        3
25          Serbia     Switzerland        0        2
26         Germany          Sweden        1        4
27  Korea Republic          Mexico        1        1
28         Belgium         Tunisia        0        4
29         England          Panama        0        6
30          Poland        Colombia        3        0
31           Japan         Senegal        2        2
32         Uruguay          Russia        1        2
33    Saudi Arabia           Egypt        0        0
34            Iran        Portugal        2        0
35           Spain         Morocco        0        0
36         Denmark          France        6        1
37       Australia            Peru        4        0
38         Nigeria       Argentina        3        0
39         Iceland         Croatia        3        0
40          Serbia          Brazil        1        2
41     Switzerland      Costa Rica        0        1
42  Korea Republic         Germany        4        0
43          Mexico          Sweden        1        3
44         England         Belgium        1        2
45          Panama         Tunisia        0        0
46           Japan          Poland        1        0
47         Senegal        Colombia        2        1

In [171]:
a_team_points = []
b_team_points = []

for index, row in group_stage_results_df.iterrows():
    win = 3
    loss = 0
    draw = 1
    if row['a_goals'] == row['b_goals']:
        a_team_points.append(draw)
        b_team_points.append(draw)
    elif row['a_goals'] > row['b_goals']:
        a_team_points.append(win)
        b_team_points.append(loss)
    elif row['a_goals'] < row['b_goals']:
        a_team_points.append(loss)
        b_team_points.append(win)


group_stage_results_df['a_points'] = pd.Series(a_team_points)
group_stage_results_df['b_points'] = pd.Series(b_team_points)
group_stage_results_df

            a_team          b_team  a_goals  b_goals  a_points  b_points
0           Russia    Saudi Arabia        0        0         1         1
1            Egypt         Uruguay        2        0         3         0
2         Portugal           Spain        2        1         3         0
3          Morocco            Iran        1        2         0         3
4           France       Australia        0        3         0         3
5             Peru         Denmark        0        0         1         1
6        Argentina         Iceland        0        2         0         3
7          Croatia         Nigeria        3        4         0         3
8           Brazil     Switzerland        0        5         0         3
9       Costa Rica          Serbia        3        1         3         0
10         Germany          Mexico        0        1         0         3
11          Sweden  Korea Republic        1        5         0         3
12         Belgium          Panama        0        3         0         3
13         Tunisia         England        2        1         3         0
14          Poland         Senegal        0        2         0         3
15        Colombia           Japan        3        0         3         0
16          Russia           Egypt        0        1         0         3
17         Uruguay    Saudi Arabia        1        1         1         1
18        Portugal         Morocco        1        1         1         1
19            Iran           Spain        4        0         3         0
20          France            Peru        2        2         1         1
21         Denmark       Australia        0        3         0         3
22       Argentina         Croatia        1        2         0         3
23         Nigeria         Iceland        0        2         0         3
24          Brazil      Costa Rica        0        3         0         3
25          Serbia     Switzerland        0        2         0         3
26         Germany          Sweden        1        4         0         3
27  Korea Republic          Mexico        1        1         1         1
28         Belgium         Tunisia        0        4         0         3
29         England          Panama        0        6         0         3
30          Poland        Colombia        3        0         3         0
31           Japan         Senegal        2        2         1         1
32         Uruguay          Russia        1        2         0         3
33    Saudi Arabia           Egypt        0        0         1         1
34            Iran        Portugal        2        0         3         0
35           Spain         Morocco        0        0         1         1
36         Denmark          France        6        1         3         0
37       Australia            Peru        4        0         3         0
38         Nigeria       Argentina        3        0         3         0
39         Iceland         Croatia        3        0         3         0
40          Serbia          Brazil        1        2         0         3
41     Switzerland      Costa Rica        0        1         0         3
42  Korea Republic         Germany        4        0         3         0
43          Mexico          Sweden        1        3         0         3
44         England         Belgium        1        2         0         3
45          Panama         Tunisia        0        0         1         1
46           Japan          Poland        1        0         3         0
47         Senegal        Colombia        2        1         3         0

In [204]:
country_group_dict = pd.read_csv('resources/worldcup_country_groups.csv', ).to_dict

cols = {'a_team': 'Team', 'a_goals': 'Goals', 'a_points': 'Points',
        'b_team': 'Team', 'b_goals': 'Goals', 'b_points': 'Points'}

['team', 'goals', 'points']
group_stage_results_df
a_team_group_results_df = group_stage_results_df[['a_team', 'a_goals', 'a_points']].rename(columns=cols)
b_team_group_results_df = group_stage_results_df[['b_team', 'b_goals', 'b_points']].rename(columns=cols)

scoreboard_df = pd.concat([a_team_group_results_df, b_team_group_results_df]).reset_index(drop=True)
scoreboard_df = scoreboard_df.merge(pd.read_csv('resources/worldcup_country_groups.csv'), on='Team', how='left')
scoreboard_df = scoreboard_df.groupby(['Group', 'Team']).sum().reset_index()
scoreboard_df.sort_values(['Group', 'Points', 'Goals'], ascending=[True, False, False])
scoreboard_df

   Group            Team  Goals  Points
0      A           Egypt      3       7
1      A          Russia      2       4
2      A    Saudi Arabia      1       3
3      A         Uruguay      2       1
4      B            Iran      8       9
5      B         Morocco      2       2
6      B        Portugal      3       4
7      B           Spain      1       1
8      C       Australia     10       9
9      C         Denmark      6       4
10     C          France      3       1
11     C            Peru      2       2
12     D       Argentina      1       0
13     D         Croatia      5       3
14     D         Iceland      7       9
15     D         Nigeria      7       6
16     E          Brazil      2       3
17     E      Costa Rica      7       9
18     E          Serbia      2       0
19     E     Switzerland      7       6
20     F         Germany      1       0
21     F  Korea Republic     10       7
22     F          Mexico      3       4
23     F          Sweden      8       6
24     G         Belgium      2       3
25     G         England      2       0
26     G          Panama      9       7
27     G         Tunisia      6       7
28     H        Colombia      4       3
29     H           Japan      3       4
30     H          Poland      3       3
31     H         Senegal      6       7

In [ ]:
# make predictions on the testing set
# y_pred = logreg.predict(X_test)
# y_pred = logreg.predict(X_test)
y_pred = clf.predict(X_test)

In [ ]:
# from sklearn import metrics
# print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

In [ ]:
# import seaborn

In [ ]:
# seaborn.distplot(y_pred)
# plt.show()

In [ ]:
# seaborn.distplot(test_model_df['real_results'])
# plt.show()

In [ ]:
# seaborn.distplot(test_model_df['normalized predictions'])
# plt.show()

In [ ]:
# data = [y_test, y_pred]

In [ ]:
# test_model_df = pd.DataFrame(data, index=['real_results', 'predictions']).transpose()

In [ ]:
# test_model_df

In [ ]:
# test_model_df["predictions"].value_counts()

In [ ]:
# def normalize_test_model(y):
#     if y > (4/3):
#         return 2
#     elif y < (2/3):
#         return 0
#     else:
#         return 1

In [ ]:
# counter = 0

# for index, row in test_model_df.iterrows():
#     if row['real_results'] == row['predictions']:
#         counter += 1
#     else:
#         continue
        
        
# counter / len(test_model_df)

In [ ]:
# test_model_df['normalized predictions'] = test_model_df['predictions'].apply(normalize_test_model)

In [ ]:
# count = 0

# for index, row in test_model_df.iterrows():
#     if row['real_results'] == row['normalized predictions']:
#         count += 1
        
# count / len(test_model_df)