In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn
from scipy.stats import poisson,skellam

from league_team_names import epl_team_dict, bundesliga_team_dict, laliga_team_dict, seriea_teams_dict

country_group_dict = pd.read_csv('resources/worldcup_country_groups.csv', ).to_dict

In [67]:
players_df = pd.read_csv('resources/fifa-18-demo-player-dataset/CompleteDataset.csv')
players_df.drop(['Unnamed: 0', 'Flag', 'Club Logo', 'Value', 'Wage', 'Photo', 'Potential', "Special"], axis=1, inplace=True)

players_df[['Name', 'Overall', 'Preferred Positions']].head()

/Users/Michael/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                Name  Overall Preferred Positions
0  Cristiano Ronaldo       94              ST LW
1           L. Messi       93                 RW
2             Neymar       92                 LW
3          L. Suárez       92                 ST
4           M. Neuer       92                 GK

In [68]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17981 entries, 0 to 17980
Data columns (total 67 columns):
Name                   17981 non-null object
Age                    17981 non-null int64
Nationality            17981 non-null object
Overall                17981 non-null int64
Club                   17733 non-null object
Acceleration           17981 non-null object
Aggression             17981 non-null object
Agility                17981 non-null object
Balance                17981 non-null object
Ball control           17981 non-null object
Composure              17981 non-null object
Crossing               17981 non-null object
Curve                  17981 non-null object
Dribbling              17981 non-null object
Finishing              17981 non-null object
Free kick accuracy     17981 non-null object
GK diving              17981 non-null object
GK handling            17981 non-null object
GK kicking             17981 non-null object
GK positioning         17981 non-null object
GK reflexes            17981 non-null object
Heading accuracy       17981 non-null object
Interceptions          17981 non-null object
Jumping                17981 non-null object
Long passing           17981 non-null object
Long shots             17981 non-null object
Marking                17981 non-null object
Penalties              17981 non-null object
Positioning            17981 non-null object
Reactions              17981 non-null object
Short passing          17981 non-null object
Shot power             17981 non-null object
Sliding tackle         17981 non-null object
Sprint speed           17981 non-null object
Stamina                17981 non-null object
Standing tackle        17981 non-null object
Strength               17981 non-null object
Vision                 17981 non-null object
Volleys                17981 non-null object
CAM                    15952 non-null float64
CB                     15952 non-null float64
CDM                    15952 non-null float64
CF                     15952 non-null float64
CM                     15952 non-null float64
ID                     17981 non-null int64
LAM                    15952 non-null float64
LB                     15952 non-null float64
LCB                    15952 non-null float64
LCM                    15952 non-null float64
LDM                    15952 non-null float64
LF                     15952 non-null float64
LM                     15952 non-null float64
LS                     15952 non-null float64
LW                     15952 non-null float64
LWB                    15952 non-null float64
Preferred Positions    17981 non-null object
RAM                    15952 non-null float64
RB                     15952 non-null float64
RCB                    15952 non-null float64
RCM                    15952 non-null float64
RDM                    15952 non-null float64
RF                     15952 non-null float64
RM                     15952 non-null float64
RS                     15952 non-null float64
RW                     15952 non-null float64
RWB                    15952 non-null float64
ST                     15952 non-null float64
dtypes: float64(26), int64(3), object(38)
memory usage: 9.2+ MB

In [73]:
# positions_list = list(players_df['Preferred Positions'].apply(lambda x: x.split(' ', 1)[0]).drop_duplicates())
# positions_list

In [74]:
positions_dict = {'ST': 'Attack',
                  'RW': 'Attack',
                  'LW': 'Attack',
                  'GK': 'Defense',
                  'CDM': 'Midfield',
                  'CB': 'Defense',
                  'RM': 'Midfield',
                  'CM': 'Midfield',
                  'LM': 'Midfield',
                  'LB': 'Defense',
                  'CAM': 'Attack',
                  'RB': 'Defense',
                  'CF': 'Attack',
                  'RWB': 'Defense',
                  'LWB': 'Defense'}

In [75]:
overall_score_df = players_df[['Name', 'Club', 'Nationality', 'Preferred Positions', 'Overall']].copy()
overall_score_df['Preferred Positions'] = overall_score_df['Preferred Positions'].apply(lambda x: x.split(' ', 1)[0]).replace(positions_dict)

team = 'Brazil'
overall_score_df[overall_score_df['Nationality'] == team].head(14).groupby(['Nationality', 'Preferred Positions']).mean()

                                   Overall
Nationality Preferred Positions
Brazil      Attack               87.333333
            Defense              85.250000
            Midfield             84.666667

In [76]:
epl2018 = pd.read_csv('resources/leagues/epl2018.csv')
bundesliga2018 = pd.read_csv('resources/leagues/bundesliga2018.csv')
seriea2018 = pd.read_csv('resources/leagues/seriea2018.csv')
laliga2018 = pd.read_csv('resources/leagues/laliga2018.csv')

epl2018.head()

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,0,E0,11/08/17,Arsenal,Leicester,4,3,H,2,2,...,2.32,21,-1.00,1.91,1.85,2.10,2.02,1.49,4.73,7.25
1,1,E0,12/08/17,Brighton,Man City,0,2,A,0,0,...,2.27,20,1.50,1.95,1.91,2.01,1.96,11.75,6.15,1.29
2,2,E0,12/08/17,Chelsea,Burnley,2,3,A,0,3,...,2.23,20,-1.75,2.03,1.97,1.95,1.90,1.33,5.40,12.25
3,3,E0,12/08/17,Crystal Palace,Huddersfield,0,3,A,0,2,...,1.72,18,-0.75,2.10,2.05,1.86,1.83,1.79,3.56,5.51
4,4,E0,12/08/17,Everton,Stoke,1,0,H,1,0,...,1.76,19,-0.75,1.94,1.90,2.01,1.98,1.82,3.49,5.42

In [8]:
results_dict = {'H': 2, "D": 1, "A": 0}
cols = ['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']
test_df = epl2018[cols].rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals', 'FTR': 'Results'}).copy()
test_df['Results'] = test_df['Results'].replace(results_dict)
test_df

           HomeTeam        AwayTeam  HomeGoals  AwayGoals  Results
0           Arsenal       Leicester          4          3        2
1          Brighton        Man City          0          2        0
2           Chelsea         Burnley          2          3        0
3    Crystal Palace    Huddersfield          0          3        0
4           Everton           Stoke          1          0        2
5       Southampton         Swansea          0          0        1
6           Watford       Liverpool          3          3        1
7         West Brom     Bournemouth          1          0        2
8        Man United        West Ham          4          0        2
9         Newcastle       Tottenham          0          2        0
10      Bournemouth         Watford          0          2        0
11          Burnley       West Brom          0          1        0
12        Leicester        Brighton          2          0        2
13        Liverpool  Crystal Palace          1          0        2
14      Southampton        West Ham          3          2        2
15            Stoke         Arsenal          1          0        2
16          Swansea      Man United          0          4        0
17     Huddersfield       Newcastle          1          0        2
18        Tottenham         Chelsea          1          2        0
19         Man City         Everton          1          1        1
20      Bournemouth        Man City          1          2        0
21   Crystal Palace         Swansea          0          2        0
22     Huddersfield     Southampton          0          0        1
23       Man United       Leicester          2          0        2
24        Newcastle        West Ham          3          0        2
25          Watford        Brighton          0          0        1
26          Chelsea         Everton          2          0        2
27        Liverpool         Arsenal          4          0        2
28        Tottenham         Burnley          1          1        1
29        West Brom           Stoke          1          1        1
..              ...             ...        ...        ...      ...
350         Swansea         Chelsea          0          1        0
351      Man United         Arsenal          2          1        2
352        West Ham        Man City          1          4        0
353       Tottenham         Watford          2          0        2
354        Brighton      Man United          1          0        2
355     Bournemouth         Swansea          1          0        2
356         Everton     Southampton          1          1        1
357       Leicester        West Ham          0          2        0
358           Stoke  Crystal Palace          1          2        0
359         Watford       Newcastle          2          1        2
360       West Brom       Tottenham          1          0        2
361         Arsenal         Burnley          5          0        2
362         Chelsea       Liverpool          1          0        2
363        Man City    Huddersfield          0          0        1
364         Swansea     Southampton          0          1        0
365         Chelsea    Huddersfield          1          1        1
366       Leicester         Arsenal          3          1        2
367        Man City        Brighton          3          1        2
368       Tottenham       Newcastle          1          0        2
369        West Ham      Man United          0          0        1
370         Burnley     Bournemouth          1          2        0
371  Crystal Palace       West Brom          2          0        2
372    Huddersfield         Arsenal          0          1        0
373       Liverpool        Brighton          4          0        2
374      Man United         Watford          1          0        2
375       Newcastle         Chelsea          3          0        2
376     Southampton        Man City          0          1        0
377         Swansea           Stoke          1          2        0
378       Tottenham       Leicester          5          4        2
379        West Ham         Everton          3          1        2

[380 rows x 5 columns]

In [9]:
player_overall_df = players_df[['Name', 'Club', 'Nationality', 'Preferred Positions', 'Overall']].copy()
player_overall_df['Preferred Positions'] = player_overall_df['Preferred Positions'].apply(lambda x: x.split(' ', 1)[0]).replace(positions_dict)

In [10]:
def get_team_stats(team, type='Club', no_of_players=13, return_df=False):
    mask = overall_score_df[type] == team
    groupby_cols = [type, 'Preferred Positions']
    team_stats_df = player_overall_df[mask].head(no_of_players).groupby(groupby_cols).mean().round(0)
    if return_df == True:
        return team_stats_df
    else:
        df = team_stats_df.reset_index().pivot(type, 'Preferred Positions')
        attack = df['Overall'].values[0][0]
        mid = df['Overall'].values[0][1]
        defense = df['Overall'].values[0][2]
        return [attack, mid, defense]

In [11]:
get_team_stats('Brazil', type='Nationality', return_df=False)

[87.0, 86.0, 85.0]

In [12]:
get_team_stats('Chelsea')

[86.0, 85.0, 84.0]

In [13]:
team_cols = ['HomeTeam', 'AwayTeam']
epl2018[team_cols] = epl2018[team_cols].replace(epl_team_dict)
bundesliga2018[team_cols] = bundesliga2018[team_cols].replace(bundesliga_team_dict)
seriea2018[team_cols] = seriea2018[team_cols].replace(seriea_teams_dict)
laliga2018[team_cols] = laliga2018[team_cols].replace(laliga_team_dict)

In [14]:
# seriea2018['HomeTeam'].drop_duplicates().sort_values()

2             Atalanta
10    Benevento Calcio
3              Bologna
24            Cagliari
13       Chievo Verona
4              Crotone
18      Ferrara (SPAL)
15          Fiorentina
11               Genoa
1        Hellas Verona
5                Inter
0             Juventus
6                Lazio
16               Milan
17              Napoli
12                Roma
7            Sampdoria
8             Sassuolo
19              Torino
9              Udinese
Name: HomeTeam, dtype: object

In [15]:
results_dict = {'H': 'HomeWin', "D": 'Draw', "A": 'AwayWin'}
cols = ['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']

league_results_df = pd.concat([epl2018, bundesliga2018, seriea2018, laliga2018])[cols]
league_results_df.rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals', 'FTR': 'Result'}, inplace=True)
league_results_df['Result'] = league_results_df['Result'].replace(results_dict)
league_results_df['Goal diff'] = league_results_df['HomeGoals'] - league_results_df['AwayGoals']

league_results_df.reset_index(drop=True, inplace=True)
league_results_df

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Result,Goal diff
0,Arsenal,Leicester City,4,3,HomeWin,1
1,Brighton & Hove Albion,Manchester City,0,2,AwayWin,-2
2,Chelsea,Burnley,2,3,AwayWin,-1
3,Crystal Palace,Huddersfield Town,0,3,AwayWin,-3
4,Everton,Stoke City,1,0,HomeWin,1
5,Southampton,Swansea City,0,0,Draw,0
6,Watford,Liverpool,3,3,Draw,0
7,West Bromwich Albion,Bournemouth,1,0,HomeWin,1
8,Manchester United,West Ham United,4,0,HomeWin,4
9,Newcastle United,Tottenham Hotspur,0,2,AwayWin,-2
10,Bournemouth,Watford,0,2,AwayWin,-2
11,Burnley,West Bromwich Albion,0,1,AwayWin,-1
12,Leicester City,Brighton & Hove Albion,2,0,HomeWin,2
13,Liverpool,Crystal Palace,1,0,HomeWin,1
14,Southampton,West Ham United,3,2,HomeWin,1
15,Stoke City,Arsenal,1,0,HomeWin,1
16,Swansea City,Manchester United,0,4,AwayWin,-4
17,Huddersfield Town,Newcastle United,1,0,HomeWin,1
18,Tottenham Hotspur,Chelsea,1,2,AwayWin,-1
19,Manchester City,Everton,1,1,Draw,0
20,Bournemouth,Manchester City,1,2,AwayWin,-1
21,Crystal Palace,Swansea City,0,2,AwayWin,-2
22,Huddersfield Town,Southampton,0,0,Draw,0
23,Manchester United,Leicester City,2,0,HomeWin,2
24,Newcastle United,West Ham United,3,0,HomeWin,3
25,Watford,Brighton & Hove Albion,0,0,Draw,0
26,Chelsea,Everton,2,0,HomeWin,2
27,Liverpool,Arsenal,4,0,HomeWin,4
28,Tottenham Hotspur,Burnley,1,1,Draw,0
29,West Bromwich Albion,Stoke City,1,1,Draw,0
...,...,...,...,...,...,...
1416,RC Celta de Vigo,RC Deportivo de La Coruña,1,1,Draw,0
1417,Girona CF,SD Eibar,1,4,AwayWin,-3
1418,Villarreal CF,Valencia CF,1,0,HomeWin,1
1419,Atlético Madrid,RCD Espanyol,0,2,AwayWin,-2
1420,FC Barcelona,Real Madrid CF,2,2,Draw,0
1421,UD Las Palmas,Getafe CF,0,1,AwayWin,-1
1422,Málaga CF,Deportivo Alavés,0,3,AwayWin,-3
1423,CD Leganés,Levante UD,0,3,AwayWin,-3
1424,FC Barcelona,Villarreal CF,5,1,HomeWin,4
1425,Sevilla FC,Real Madrid CF,3,2,HomeWin,1
1426,Deportivo Alavés,Athletic Club de Bilbao,3,1,HomeWin,2
1427,Real Betis Balompié,Sevilla FC,2,2,Draw,0
1428,SD Eibar,UD Las Palmas,1,0,HomeWin,1
1429,Getafe CF,Atlético Madrid,0,1,AwayWin,-1
1430,Girona CF,Valencia CF,0,1,AwayWin,-1
1431,RC Deportivo de La Coruña,Villarreal CF,2,4,AwayWin,-2
1432,Real Madrid CF,RC Celta de Vigo,6,0,HomeWin,6
1433,Real Sociedad,CD Leganés,3,2,HomeWin,1
1434,RCD Espanyol,Málaga CF,4,1,HomeWin,3
1435,Levante UD,FC Barcelona,5,4,HomeWin,1
1436,RC Celta de Vigo,Levante UD,4,2,HomeWin,2
1437,UD Las Palmas,Girona CF,1,2,AwayWin,-1
1438,CD Leganés,Real Betis Balompié,3,2,HomeWin,1
1439,Málaga CF,Getafe CF,0,1,AwayWin,-1
1440,Sevilla FC,Deportivo Alavés,1,0,HomeWin,1
1441,Villarreal CF,Real Madrid CF,2,2,Draw,0
1442,Athletic Club de Bilbao,RCD Espanyol,0,1,AwayWin,-1
1443,Atlético Madrid,SD Eibar,2,2,Draw,0
1444,FC Barcelona,Real Sociedad,1,0,HomeWin,1
1445,Valencia CF,RC Deportivo de La Coruña,2,1,HomeWin,1

In [16]:
# Chart this

In [17]:
league_results_df['Result'].value_counts()

HomeWin    655
AwayWin    440
Draw       351
Name: Result, dtype: int64

In [18]:
homeTeam_attack = []
homeTeam_mid = []
homeTeam_def = []
awayTeam_attack = []
awayTeam_mid = []
awayTeam_def = []
data = []


for index, row in league_results_df.iterrows():
    try:
        home_team_stats = get_team_stats(row['HomeTeam'])
        home_attack = home_team_stats[0]
        home_midfield = home_team_stats[1]
        home_defense = home_team_stats[2]

        away_team_stats = get_team_stats(row['AwayTeam'])
        away_attack = away_team_stats[0]
        away_midfield = away_team_stats[1]
        away_defense = away_team_stats[2]
                
        homeTeam_attack.append(home_attack)
        homeTeam_mid.append(home_midfield)
        homeTeam_def.append(home_defense)
        awayTeam_attack.append(away_attack)
        awayTeam_mid.append(away_midfield)
        awayTeam_def.append(away_defense)

        
    except IndexError:
        homeTeam_attack.append(None)
        homeTeam_mid.append(None)
        homeTeam_def.append(None)
        awayTeam_attack.append(None)
        awayTeam_mid.append(None)
        awayTeam_def.append(None)
        continue

In [19]:
data = [homeTeam_attack, 
        homeTeam_mid, 
        homeTeam_def, 
        awayTeam_attack,
        awayTeam_mid, 
        awayTeam_def]

feature_cols = ['homeTeam_attack', 
                'homeTeam_mid', 
                'homeTeam_def', 
                'awayTeam_attack', 
                'awayTeam_mid',
                'awayTeam_def']

home_cols = ['homeTeam_attack', 
                'homeTeam_mid', 
                'homeTeam_def', 
                'awayTeam_attack', 
                'awayTeam_mid',
                'awayTeam_def']

away_cols = ['awayTeam_attack', 
             'awayTeam_mid',
             'awayTeam_def',
             'homeTeam_attack', 
             'homeTeam_mid', 
             'homeTeam_def']

rename_cols = ['A_Team_attack', 
               'A_Team_mid',
               'A_Team_def',
               'B_Team_attack', 
               'B_Team_mid', 
               'B_Team_def']
             

team_ratings_df = pd.DataFrame(data, index=feature_cols)

In [20]:
team_ratings_df = team_ratings_df.transpose()
team_ratings_df['HomeGoals'] = league_results_df['HomeGoals']
team_ratings_df['AwayGoals'] = league_results_df['AwayGoals']
team_ratings_df['result'] = league_results_df['Result']

In [21]:
team_ratings_df.dropna(inplace=True)

In [22]:
team_ratings_df.head()

,homeTeam_attack,homeTeam_mid,homeTeam_def,awayTeam_attack,awayTeam_mid,awayTeam_def,HomeGoals,AwayGoals,result
0,85.0,83.0,83.0,80.0,78.0,78.0,4,3,HomeWin
1,76.0,75.0,75.0,89.0,83.0,85.0,0,2,AwayWin
2,86.0,85.0,84.0,75.0,77.0,75.0,2,3,AwayWin
3,78.0,76.0,79.0,75.0,73.0,74.0,0,3,AwayWin
4,81.0,81.0,82.0,78.0,79.0,77.0,1,0,HomeWin

In [23]:
X = team_ratings_df[feature_cols]

In [24]:
X.tail()

,homeTeam_attack,homeTeam_mid,homeTeam_def,awayTeam_attack,awayTeam_mid,awayTeam_def
1441,81.0,81.0,80.0,88.0,86.0,88.0
1442,80.0,80.0,81.0,79.0,80.0,79.0
1443,86.0,85.0,83.0,78.0,78.0,78.0
1444,86.0,85.0,86.0,80.0,80.0,80.0
1445,79.0,80.0,80.0,79.0,77.0,77.0

In [25]:
print(X.shape)
X.iloc[[0,1370]]

(1446, 6)

,homeTeam_attack,homeTeam_mid,homeTeam_def,awayTeam_attack,awayTeam_mid,awayTeam_def
0,85.0,83.0,83.0,80.0,78.0,78.0
1370,80.0,78.0,78.0,81.0,81.0,81.0

In [26]:
result_mapping_dict = {'HomeWin': 2, 'Draw': 1, 'AwayWin': 0}
y = pd.DataFrame(league_results_df['Result']).reset_index(drop=True).replace(result_mapping_dict)
y.head()

   Result
0       2
1       0
2       0
3       0
4       2

In [27]:
print(y.shape)

(1446, 1)

# Machine Learning

In [28]:
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=3)

/Users/Michael/anaconda3/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [29]:
# default split is 75% for training and 25% for testing
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(1084, 6)
(1084, 1)
(362, 6)
(362, 1)

In [30]:
# import model
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.neural_network import MLPClassifier

from sklearn import tree

clf = tree.DecisionTreeClassifier(random_state=1)
clf = clf.fit(X_train, y_train)

# instantiate
linreg = LinearRegression()
logreg = LogisticRegression(solver='newton-cg', multi_class='multinomial')
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)

# fit the model to the training data (learn the coefficients)
linreg.fit(X_train, y_train)
logreg.fit(X_train, y_train)
clf.fit(X_train, y_train)

/Users/Michael/anaconda3/lib/python3.5/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/Michael/anaconda3/lib/python3.5/site-packages/sklearn/neural_network/multilayer_perceptron.py:912: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(5, 2), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='lbfgs', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

In [31]:
# # print the intercept and coefficients
# print(linreg.intercept_)
# print(linreg.coef_)

# print(logreg.intercept_)
# print(logreg.coef_)

In [32]:
# pair the feature names with the coefficients
# list(zip(feature_cols, logreg.coef_))

In [114]:
# make predictions on the testing set
linreg_y_pred = linreg.predict(X_test)
logreg_y_pred = logreg.predict(X_test)
clf_y_pred = clf.predict(X_test)

In [124]:
def get_numbers_from_array(array):
    nums = []
    for n in array:
        try:
            nums.append(n[0])
        except:
            nums.append(n)
    return nums

In [125]:
linreg_y_pred = get_numbers_from_array(linreg_y_pred)
logreg_y_pred = get_numbers_from_array(logreg_y_pred)
clf_y_pred = get_numbers_from_array(clf_y_pred)

In [126]:
# import seaborn

In [127]:
# seaborn.distplot(y_pred)
# plt.show()

In [128]:
# seaborn.distplot(test_model_df['real_results'])
# plt.show()

In [129]:
# seaborn.distplot(test_model_df['normalized predictions'])
# plt.show()

In [130]:
ml_data = [linreg_y_pred, logreg_y_pred, clf_y_pred]

In [133]:
test_model_df = pd.DataFrame(ml_data, 
                             index=['lin Reg', 'log Reg', 'clf']
                            ).transpose()

In [207]:
test_model_df['actual results'] = list(y_test['Result'])
test_model_df.head()

   lin Reg  log Reg  clf  actual results  poisson
0        1      2.0  2.0               2      2.0
1        1      2.0  2.0               0      2.0
2        2      2.0  2.0               2      2.0
3        1      2.0  2.0               2      2.0
4        2      2.0  2.0               2      2.0

In [136]:
def normalize_test_model(y):
    if y > (4/3):
        return 2
    elif y < (2/3):
        return 0
    else:
        return 1

In [157]:
test_model_df['lin Reg'] = test_model_df['lin Reg'].apply(normalize_test_model)
test_model_df.head()

   lin Reg  log Reg  clf  actual results
0        1      2.0  2.0               2
1        1      2.0  2.0               0
2        2      2.0  2.0               2
3        1      2.0  2.0               2
4        2      2.0  2.0               2

# Poisson

In [47]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

home_team_df = team_ratings_df[home_cols].copy()
home_team_df.columns = rename_cols
away_team_df = team_ratings_df[away_cols].copy()
away_team_df.columns = rename_cols

X = pd.concat([home_team_df, away_team_df]).reset_index(drop=True)

y = pd.DataFrame(pd.concat([team_ratings_df['HomeGoals'], team_ratings_df['AwayGoals']]).reset_index(drop=True), columns=['goals'])

goal_model_data = X.join(y)

goal_model_data.head()

/Users/Michael/anaconda3/lib/python3.5/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

,A_Team_attack,A_Team_mid,A_Team_def,B_Team_attack,B_Team_mid,B_Team_def,goals
0,85.0,83.0,83.0,80.0,78.0,78.0,4
1,76.0,75.0,75.0,89.0,83.0,85.0,0
2,86.0,85.0,84.0,75.0,77.0,75.0,2
3,78.0,76.0,79.0,75.0,73.0,74.0,0
4,81.0,81.0,82.0,78.0,79.0,77.0,1

In [48]:
poisson_model = smf.glm(formula="goals ~ A_Team_attack + A_Team_mid + A_Team_def + B_Team_attack + B_Team_mid + B_Team_def", 
                        data=goal_model_data, 
                        family=sm.families.Poisson()).fit()

poisson_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  goals   No. Observations:                 2892
Model:                            GLM   Df Residuals:                     2885
Model Family:                 Poisson   Df Model:                            6
Link Function:                    log   Scale:                             1.0
Method:                          IRLS   Log-Likelihood:                -4221.6
Date:                Wed, 13 Jun 2018   Deviance:                       3404.4
Time:                        12:02:57   Pearson chi2:                 3.01e+03
No. Iterations:                     5
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept        -1.6821      0.507     -3.317      0.001      -2.676      -0.688
A_Team_attack     0.0434      0.011      3.934      0.000       0.022       0.065
A_Team_mid        0.0020      0.012      0.170      0.865      -0.021       0.025
A_Team_def        0.0259      0.012      2.113      0.035       0.002       0.050
B_Team_attack    -0.0129      0.011     -1.149      0.250      -0.035       0.009
B_Team_mid       -0.0359      0.012     -2.903      0.004      -0.060      -0.012
B_Team_def        0.0020      0.013      0.155      0.877      -0.023       0.027
=================================================================================
"""

In [208]:
def return_poisson_predictions(a_team, b_team, type='Club'):
    game = simulate_match(poisson_model, a_team, b_team, type=type)
    a_team_odds, b_team_odds, draw_odds, a_goals, b_goals = show_game_summary(game)
    print(a_team_odds)
    print(b_team_odds)
    print(draw_odds)
    if a_team_odds > b_team_odds:
        if a_team_odds > draw_odds:
            return 2
        if a_team_odds < draw_odds:
            return 1
    if a_team_odds < b_team_odds:
        if b_team_odds > draw_odds:
            return 0
        if b_team_odds < draw_odds:
            return 1

In [209]:
y_test

      Result
616        2
979        0
977        2
972        2
83         2
1381       1
1101       0
50         1
751        0
1414       2
903        0
1228       2
199        0
763        1
1041       1
603        0
746        2
1111       0
841        2
429        2
131        2
1398       0
321        1
552        2
99         2
332        2
464        2
343        2
608        1
1371       2
...      ...
485        2
362        2
411        2
1076       2
784        0
1061       2
840        1
986        0
656        2
570        2
1188       1
448        1
792        2
335        0
132        0
1262       2
72         1
1029       1
143        2
1136       1
855        0
956        2
1283       2
756        0
997        2
314        1
1144       0
594        0
768        0
1253       0

[362 rows x 1 columns]

In [210]:
poisson_X_test_df = X_test.reset_index().join(league_results_df.reset_index(), on='index', how='left', lsuffix='L', rsuffix='R')
poisson_X_test_df

,indexL,homeTeam_attack,homeTeam_mid,homeTeam_def,awayTeam_attack,awayTeam_mid,awayTeam_def,indexR,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Result,Goal diff
0,616,78.0,78.0,77.0,76.0,76.0,76.0,616,Eintracht Frankfurt,1. FSV Mainz 05,3,0,HomeWin,3
1,979,78.0,76.0,75.0,76.0,76.0,76.0,979,Atalanta,Sampdoria,1,2,AwayWin,-1
2,977,81.0,80.0,80.0,73.0,73.0,73.0,977,Lazio,Benevento Calcio,6,2,HomeWin,4
3,972,77.0,76.0,76.0,76.0,76.0,76.0,972,Chievo Verona,Sampdoria,2,1,HomeWin,1
4,83,89.0,83.0,85.0,75.0,77.0,75.0,83,Manchester City,Burnley,3,0,HomeWin,3
5,1381,81.0,81.0,81.0,81.0,81.0,80.0,1381,Sevilla FC,Villarreal CF,2,2,Draw,0
6,1101,77.0,76.0,75.0,81.0,81.0,80.0,1101,Deportivo Alavés,Villarreal CF,0,3,AwayWin,-3
7,50,75.0,77.0,75.0,75.0,73.0,74.0,50,Burnley,Huddersfield Town,0,0,Draw,0
8,751,81.0,82.0,83.0,83.0,81.0,82.0,751,Milan,Roma,0,2,AwayWin,-2
9,1414,81.0,81.0,81.0,80.0,80.0,80.0,1414,Sevilla FC,Real Sociedad,1,0,HomeWin,1
10,903,83.0,81.0,82.0,76.0,76.0,76.0,903,Roma,Sampdoria,0,1,AwayWin,-1
11,1228,77.0,76.0,75.0,77.0,77.0,77.0,1228,Deportivo Alavés,Málaga CF,1,0,HomeWin,1
12,199,78.0,76.0,79.0,85.0,83.0,83.0,199,Crystal Palace,Arsenal,2,3,AwayWin,-1
13,763,77.0,77.0,76.0,77.0,76.0,76.0,763,Sassuolo,Chievo Verona,0,0,Draw,0
14,1041,81.0,80.0,80.0,78.0,76.0,75.0,1041,Lazio,Atalanta,1,1,Draw,0
15,603,77.0,79.0,78.0,77.0,75.0,74.0,603,1. FC Köln,VfB Stuttgart,2,3,AwayWin,-1
16,746,74.0,76.0,76.0,76.0,76.0,76.0,746,Udinese,Sampdoria,4,0,HomeWin,4
17,1111,88.0,86.0,88.0,78.0,78.0,79.0,1111,Real Madrid CF,Real Betis Balompié,0,1,AwayWin,-1
18,841,74.0,76.0,76.0,73.0,73.0,73.0,841,Udinese,Benevento Calcio,2,0,HomeWin,2
19,429,80.0,76.0,81.0,78.0,78.0,77.0,429,RB Leipzig,Eintracht Frankfurt,2,1,HomeWin,1
20,131,80.0,78.0,78.0,84.0,84.0,84.0,131,Leicester City,Tottenham Hotspur,2,1,HomeWin,1
21,1398,78.0,78.0,78.0,74.0,75.0,74.0,1398,SD Eibar,Getafe CF,0,1,AwayWin,-1
22,321,78.0,78.0,78.0,76.0,77.0,77.0,321,West Bromwich Albion,Swansea City,1,1,Draw,0
23,552,88.0,88.0,87.0,80.0,79.0,78.0,552,FC Bayern Munich,TSG 1899 Hoffenheim,5,2,HomeWin,3
24,99,75.0,77.0,75.0,75.0,77.0,76.0,99,Burnley,Newcastle United,1,0,HomeWin,1
25,332,75.0,77.0,76.0,85.0,83.0,83.0,332,Newcastle United,Arsenal,2,1,HomeWin,1
26,464,80.0,78.0,78.0,75.0,76.0,76.0,464,Hertha BSC Berlin,Hamburger SV,2,1,HomeWin,1
27,343,81.0,81.0,82.0,75.0,77.0,76.0,343,Everton,Newcastle United,1,0,HomeWin,1
28,608,80.0,78.0,78.0,75.0,73.0,74.0,608,Hertha BSC Berlin,SC Freiburg,0,0,Draw,0
29,1371,75.0,74.0,78.0,78.0,77.0,79.0,1371,Levante UD,UD Las Palmas,2,1,HomeWin,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,485,79.0,78.0,80.0,75.0,73.0,74.0,485,VfL Wolfsburg,SC Freiburg,3,1,HomeWin,2
333,362,86.0,85.0,84.0,83.0,82.0,82.0,362,Chelsea,Liverpool,1,0,HomeWin,1
334,411,77.0,75.0,74.0,79.0,78.0,80.0,411,VfB Stuttgart,VfL Wolfsburg,1,0,HomeWin,1
335,1076,78.0,78.0,79.0,80.0,78.0,78.0,1076,Real Betis Balompié,RC Celta de Vigo,2,1,HomeWin,1
336,784,77.0,77.0,76.0,74.0,76.0,76.0,784,Sassuolo,Udinese,0,1,AwayWin,-1
337,1061,81.0,82.0,83.0,78.0,78.0,78.0,1061,Milan,Fiorentina,5,1,HomeWin,4
338,840,76.0,73.0,74.0,75.0,73.0,71.0,840,Ferrara (SPAL),Hellas Verona,2,2,Draw,0
339,986,73.0,73.0,73.0,89.0,86.0,85.0,986,Benevento Calcio,Juventus,2,4,AwayWin,-2
340,656,77.0,75.0,74.0,77.0,75.0,76.0,656,VfB Stuttgart,SV Werder Bremen,2,0,HomeWin,2
341,570,88.0,88.0,87.0,78.0,81.0,80.0,570,FC Bayern Munich,FC Schalke 04,2,1,HomeWin,1
342,1188,78.0,78.0,79.0,73.0,75.0,75.0,1188,Real Betis Balompié,Girona CF,2,2,Draw,0
343,448,80.0,79.0,78.0,76.0,77.0,75.0,448,TSG 1899 Hoffenheim,FC Augsburg,2,2,Draw,0
344,792,80.0,78.0,77.0,74.0,74.0,75.0,792,Torino,Cagliari,2,1,HomeWin,1
345,335,76.0,77.0,75.0,85.0,84.0,85.0,335,Bournemouth,Manchester United,0,2,AwayWin,-2
346,132,78.0,79.0,77.0,85.0,84.0,85.0,132,Watford,Manchester United,2,4,AwayWin,-2
347,1262,88.0,86.0,88.0,79.0,77.0,77.0,1262,Real Madrid CF,RC Deportivo de La Coruña,7,1,HomeWin,6
348,72,83.0,82.0,82.0,85.0,84.0,85.0,72,Liverpool,Manchester United,0,0,Draw,0
349,1029,73.0,73.0,73.0,74.0,76.0,76.0,1029,Benevento Calcio,Udinese,3,3,Draw,0
350,143,81.0,81.0,82.0,75.0,73.0,74.0,143,Everton,Huddersfield Town,2,0,HomeWin,2
351,1136,79.0,80.0,79.0,75.0,74.0,78.0,1136,RCD Espanyol,Levante UD,0,0,Draw,0
352,855,77.0,76.0,76.0,77.0,76.0,75.0,855,Chievo Verona,Bologna,2,3,AwayWin,-1
353,956,89.0,86.0,85.0,74.0,76.0,76.0,956,Juventus,Udinese,2,0,HomeWin,2
354,1283,73.0,75.0,75.0,80.0,80.0,81.0,1283,Girona CF,Athletic Club de Bilbao,2,0,HomeWin,2
355,756,83.0,81.0,82.0,83.0,81.0,82.0,756,Roma,Napoli,0,1,AwayWin,-1
356,997,74.0,74.0,75.0,74.0,76.0,76.0,997,Cagliari,Udinese,2,1,HomeWin,1
357,314,76.0,77.0,75.0,78.0,76.0,79.0,314,Bournemouth,Crystal Palace,2,2,Draw,0
358,1144,77.0,77.0,77.0,78.0,75.0,75.0,1144,Málaga CF,CD Leganés,0,2,AwayWin,-2
359,594,80.0,76.0,81.0,77.0,79.0,78.0,594,RB Leipzig,1. FC Köln,1,2,AwayWin,-1
360,768,73.0,73.0,73.0,78.0,78.0,78.0,768,Benevento Calcio,Fiorentina,0,3,AwayWin,-3
361,1253,80.0,80.0,80.0,86.0,85.0,86.0,1253,Real Sociedad,FC Barcelona,2,4,AwayWin,-2

In [211]:
poisson_test_results = []

for index, row in poisson_X_test_df[['HomeTeam', 'AwayTeam']].iterrows():
    a_team = row['HomeTeam']
    b_team = row['AwayTeam']
    poisson_test_results.append(return_poisson_predictions(a_team, b_team))


poisson_test_results

0.4258089712012538
0.30227819344303186
0.27191104469824745
0.3889333578082771
0.33705833001305696
0.2740069295950445
0.6380368034706905
0.14796139545766795
0.2139700684698593
0.3791721534397032
0.3462220104409309
0.27460452822924336
0.7736701852608249
0.08289776904406637
0.14303093640852552
0.37729416678049216
0.3624877790483635
0.26021514352599145
0.22102489311687554
0.5326295972679966
0.246336703914647
0.40906443094636863
0.30968251943023983
0.28125201332764066
0.35882450934063914
0.39136267574733663
0.2498073725037964
0.40704442831636417
0.3341539632577996
0.25879827064331984
0.6048726036513787
0.17678012077535854
0.2183154576709066
0.3376409486679263
0.38782303712170374
0.27453467402925613
0.16838792942895187
0.629678746705655
0.20186295823994918
0.3735553624808058
0.3514151980190736
0.2750281728283765
0.5074035798697338
0.24422771022748035
0.24836086363800614
0.434876686287669
0.29222180427837685
0.27289972702686205
0.32723181450002187
0.39138991283947155
0.2813773216940737
0.7380593483900275
0.10521604053233119
0.15639717393683727
0.4252699186647855
0.2907519566999597
0.28397713053573087
0.414777660446558
0.3314077152512943
0.25381010148433214
0.20547429851731058
0.5705510817586671
0.22394717633345335
0.49071553646502014
0.24429610437049104
0.2649850586637853
0.41545884374203684
0.3132104881856854
0.2713289102524716
0.7057208308971114
0.12013799560258395
0.17397362895168592
0.34807261599671563
0.36138561767427557
0.2905412146345557
0.13248416524878268
0.6725766158728519
0.19487067308917022
0.48998896845001344
0.25258217118820214
0.25742408385150517
0.5631357458796356
0.19842860424488507
0.23842294032426267
0.5453816915125834
0.21339788021958278
0.24120905594198433
0.2799235627721006
0.4668277332263522
0.25324315717687673
0.17652994130045196
0.6122502025319361
0.2111739071107006
0.7206157057119355
0.11288183897807787
0.16628020925594925
0.48116743242704924
0.26357113583489644
0.2552562213000014
0.2665887819827533
0.4802488541690655
0.2531565688849959
0.30798269365319203
0.42172941331684277
0.2702859854980036
0.6437803704059504
0.1597225071615977
0.19641056014476105
0.25547477853253114
0.48107562516037905
0.26344614370689745
0.11248284482882907
0.7058859170202075
0.18153118628460155
0.275662365221518
0.4814479789195205
0.2428795500839511
0.40626970987651423
0.32719021044910945
0.26653790090705587
0.11652404024724929
0.7001634712041576
0.1832144085638703
0.601439909210556
0.19113710488931443
0.20736047806221689
0.5476807336154877
0.21559940740773137
0.23670545811685265
0.47316749285234194
0.2555657391947064
0.2712644642072459
0.21528422533920713
0.5448607599751979
0.23984278324165806
0.2932495583388541
0.4409975987852992
0.26575021860026676
0.18034984380476934
0.6020863173804168
0.21752996012296308
0.37441820932590864
0.3491555573050251
0.2764250570743521
0.11938100869985968
0.7149896995051144
0.16536528999915182
0.4255884169781039
0.3445950493338361
0.22979676969602184
0.36317351884930776
0.34531267984139147
0.29151327523064796
0.5640922090227286
0.1966928397091814
0.23920278075477291
0.3445950493338361
0.42558841697810385
0.22979676969602184
0.38705631478069036
0.3282564107188646
0.2846864829693712
0.26925902224925463
0.47165959895838416
0.25907721685366486
0.23146185849450182
0.5429996145680163
0.22551133720622085
0.6725766158728521
0.13248416524878268
0.19487067308917022
0.40661300655412497
0.3076960612760418
0.2856901073094214
0.3006411019296873
0.42718264308306864
0.2721744760677872
0.12284135488399463
0.6875733587654427
0.1895065633683004
0.6228395391640811
0.17014334395785727
0.20696258136857273
0.8343743928516479
0.054981134597497136
0.10954216516282816
0.5933969814476919
0.18239230987860644
0.22418630856715202
0.13275567677773017
0.6897528257491119
0.1773199460683116
0.3119338087852463
0.42292090873600363
0.2651427790482611
0.37937014650150663
0.37573263484467867
0.2448899318846218
0.8114274063194158
0.06373321196336734
0.1241951660778924
0.1663465162907124
0.6131787932718796
0.22044799003050555
0.3449423652038701
0.37225511388799226
0.2828016846139863
0.27846187335759365
0.4422479752383013
0.2792887885497901
0.23258134767327768
0.5187807838940142
0.24863005499507118
0.26048135192684674
0.4900096473706165
0.24950181568410237
0.532813892529316
0.23409626547193765
0.23307189133716594
0.07670383516236068
0.7731822937507684
0.14987730221661094
0.12284135488399463
0.6875733587654427
0.1895065633683004
0.4743371186391504
0.27332633301949244
0.2523305946859516
0.07406387207554818
0.7911394561915415
0.13428905645652048
0.41406729188673597
0.31021889371182576
0.27571241629112514
0.830823931887376
0.055646136001864036
0.11258904076714439
0.3513786890650816
0.4084342990000287
0.24017699584143193
0.17840159205538159
0.5996207985809121
0.22195088891031364
0.38360753733676506
0.34677001444347444
0.2696207194590785
0.29853861137884247
0.4349017352102722
0.2665572026858913
0.31521841811221896
0.4147173943995185
0.27006231706822975
0.3271911298205351
0.42274860720998897
0.25005452664586225
0.1546887647628561
0.6344936748081109
0.21077821845322423
0.08038980757420382
0.7798223040703909
0.13932776442170042
0.28302130915734924
0.4445691464472348
0.2724076285654971
0.3736038816456374
0.3591719878305357
0.26722218283334653
0.26262360241245103
0.4825781283509655
0.2547929123834557
0.4392719162435456
0.31301462885267184
0.2477065639174992
0.18239230987860638
0.5933969814476919
0.22418630856715202
0.36835186619100146
0.3735182814921417
0.2581265714375348
0.29494370567727046
0.42532148332081343
0.2797335948840681
0.07465210651230368
0.7927617755639826
0.13199717324383892
0.33784893789841364
0.37749241655344323
0.2846578768363296
0.1543909349678467
0.6379840421519173
0.2075789895504383
0.13533076041412
0.6693390410470228
0.19526055683979165
0.3143369845359955
0.4113879476650938
0.27427358294306226
0.3093511042486649
0.42953032835306837
0.2611153846507604
0.6231632564551173
0.16625448675802373
0.21053836616143948
0.4253214833208133
0.29494370567727046
0.2797335948840681
0.33621387892328725
0.39506939113779105
0.26871486156083135
0.08540240017936365
0.7702253319687351
0.14396507123602342
0.46231461630759213
0.26507263567494116
0.27261068429437146
0.6768156770954932
0.12885403286778252
0.1942628325577968
0.8056340920629456
0.06767592043258137
0.1260264593296408
0.3462220104409309
0.3791721534397032
0.27460452822924336
0.6875733587654427
0.12284135488399463
0.1895065633683004
0.3572329346671427
0.3804017810612205
0.26236270385011734
0.674956961456528
0.14297305243641328
0.18191505864344
0.6851690078292548
0.12935715518838725
0.18536736750081045
0.8136845904151772
0.06184858764916268
0.12385181277545139
0.3195788002827135
0.4122476561030799
0.2681715002482191
0.42274860720998897
0.32719112982053516
0.25005452664586225
0.4071098532803329
0.3293923384176555
0.263495232548865
0.3245087705169097
0.39112773355100483
0.2843626785131001
0.6788787388945001
0.13692240748277892
0.18407205900117926
0.37495143363011796
0.3466541923518037
0.2783933141100372
0.4069801170717279
0.3280419816402286
0.264975525413763
0.2755851609661547
0.4716575765579822
0.25275148490308025
0.22686286124782473
0.5201424199728057
0.2529884515448166
0.40971607166804286
0.3127512211917347
0.27753145707542703
0.34854990310952316
0.3918681323818545
0.2595788868230415
0.4321866923902308
0.29899438646659515
0.2688167636551245
0.48094510756165265
0.25900939016593477
0.26004141764501204
0.1837404598260962
0.5947038629445138
0.2215275378917966
0.43840209874333363
0.3070326874144485
0.25456052591583983
0.34702991986422205
0.38653205848763
0.2664359495010988
0.2562277608114299
0.47226350204083933
0.2715064678648107
0.6943754669634008
0.1289433466841053
0.17651228936595798
0.3601001149535648
0.36275628754789846
0.2771424772619428
0.3913626757473365
0.35882450934063914
0.2498073725037964
0.3612219896149734
0.3678198866925192
0.2709565478475819
0.3587349359364446
0.3668642744597375
0.2743994867986309
0.4755642124837786
0.2618529485757544
0.26257930141075597
0.11414971140364288
0.7044975434468952
0.1812485071550637
0.24853827377572243
0.48332071452143593
0.2681382378355931
0.07568841659384198
0.78585568948388
0.13802345525648752
0.48116743242704924
0.26357113583489644
0.2552562213000014
0.34761968260255877
0.37727098843462276
0.27510806046604847
0.3841337295798468
0.3428639329670601
0.2730008966824518
0.465757050457403
0.26579345324032166
0.26844693911697237

0.7044975434468952
0.11414971140364288
0.1812485071550637
0.4742303549601521
0.2673797944720031
0.2583855028559513
0.1345223808270742
0.6842895328561002
0.1810440375743901
0.5286495900358182
0.22365823647380542
0.24768395037069554
0.3793843576926402
0.3435047422504457
0.27710975543763616
0.2915602192949184
0.4348567733874855
0.2735812837882154
0.483407961848139
0.2621794586166722
0.254407102962287
0.7257412220127257
0.11086159180433058
0.1631436890001412
0.5697866456652895
0.20964628147489245
0.22053353890496485
0.5115955786285572
0.24294081568206533
0.24545442772053486
0.35882450934063914
0.39136267574733663
0.2498073725037964
0.2717187829248099
0.4538342279530331
0.27444517120809897
0.7830943211302509
0.07502502631984334
0.14153021476528635
0.618790557588405
0.16010071709083182
0.22108393494857229
0.4950212957213667
0.2539132627589542
0.2510587529203305
0.2351120578338429
0.516847690351629
0.24803220256304984
0.4735052304883451
0.26376675127064647
0.26272453111859395
0.49278539483351746
0.24224042757630745
0.2649708554583595
0.2179956223642592
0.5308272431858811
0.251170244152962
0.6130172567211791
0.17564069041737163
0.211296693805349
0.2376256319944272
0.5206617770990671
0.2417013372296417
0.4672655953533263
0.27535264208789473
0.2573772886256357
0.2822810282277559
0.4454029397757381
0.27231409955125224
0.3602604423206581
0.36026044232065824
0.2794781284260813
0.27846187335759365
0.4422479752383013
0.2792887885497901
0.453834227953033
0.2717187829248099
0.27444517120809897
0.48388238325908434
0.2572295310096734
0.25888371932372517
0.6606555153321995
0.1434060895415157
0.1958639962279436
0.38782303712170374
0.3376409486679264
0.27453467402925613
0.41752459495194527
0.30206226814564974
0.2804120085557531
0.3282564107188646
0.38705631478069036
0.2846864829693712
0.1976280568629455
0.5740915107520697
0.22825919537763956
0.6422735573315547
0.15262904869761795
0.20504595756697053
0.3464862163045012
0.3758776655237981
0.27763501282657205
0.48107562516037905
0.2554747785325312
0.26344614370689745
0.3888250388043718
0.3342692678084914
0.2769045067767418
0.19605262438832852
0.5791706995411438
0.2247513653910375
0.38543479915923806
0.34861407511655634
0.26594900131134375
0.16129735050337896
0.632653145244994
0.20599636944309352
0.3520909179391248
0.3708501263387404
0.2770578242319368
0.07525289328242175
0.7946972499223774
0.12934967309049883
0.33481491927567414
0.40819620907492116
0.2569851637138872
0.4197080510033764
0.327000101084746
0.253287120279676
0.2864866028126655
0.43483800022359137
0.27867404941665413
0.45225170966753764
0.3219742180343983
0.22574744709244618
0.5934260361505049
0.18489961732253707
0.22164620007125296
0.6842895328561003
0.13452238082707424
0.1810440375743901
0.6674930340085398
0.13623914913681356
0.19620064355723485
0.39984890207949314
0.32990738498008243
0.27024196477251505
0.07773553637524154
0.7890994607441459
0.1325374424166309
0.5202831091172719
0.2227986863525478
0.2569130430219243
0.5408443460288411
0.2012147660338532
0.25793594371381257
0.7634143519334413
0.0820149212292905
0.15435604601154124
0.6736278539882676
0.1384874226202596
0.18777825228716055
0.2636821739460284
0.4730209164261705
0.2632935252846767
0.10521604053233118
0.7380593483900276
0.15639717393683727
0.4234663516420608
0.30646364680066895
0.2700680572527704
0.46538460641009527
0.2960199484352597
0.2385829731843645
0.7319383167417046
0.10597544569238035
0.16183953790987748
0.6439134543860278
0.16259052837716984
0.19339097680232198
0.3668642744597375
0.35873493593644457
0.2743994867986309
0.28372630921207753
0.4541652920934267
0.26210505646100446
0.4013851486990059
0.33083052392897305
0.2677823233498514
0.17374107424800206
0.5865498136174768
0.23969809225644603
0.6493483135251413
0.158228153486709
0.19231732115478314
0.2256711730543088
0.5319267129797158
0.24239129202306264
0.2799550212535681
0.45450344274066307
0.26553872223469605
0.27732836087733914
0.46787733951997434
0.25478917002218154
0.4348901080299166
0.3216421414188606
0.243459050008994
0.24391523286018302
0.5027670376532881
0.25331168941968113
0.14297305243641334
0.674956961456528
0.18191505864344
0.5894947710609711
0.18875668612657956
0.22171992455041284
0.47624158639640435
0.2943337187065098
0.22940278014322396
0.39781323582721534
0.331683493775469
0.27050155804271536
0.558015360413818
0.19587675404302846
0.2460992217982624
0.4733076189371143
0.26986824660166264
0.2568194377504814
0.5235547561449642
0.22535129853509323
0.25108703619870276
0.14571434778486564
0.6520080871225689
0.2022222791992342
0.6231632564551173
0.16625448675802373
0.21053836616143948
0.6528843581731689
0.14881774685459492
0.1982278597821295
0.523246201982136
0.23013956882519698
0.24660553879837438
0.3848250686605285
0.341049051685827
0.2741245207880501
0.11848584092009357
0.7004373557383643
0.18096347634960663
0.30730734731124076
0.42822579075570266
0.26446420936628795
0.377932434505379
0.37496518210941887
0.2470960239806757
0.33168349377546896
0.3978132358272154
0.27050155804271536
0.18886532577101475
0.5705268687095805
0.24059668342699797
0.3521537678023314
0.3828989965423608
0.2649449983711078
0.6032936431502867
0.1728902861928927
0.22379247465499041
0.427328042623933
0.29362238419402187
0.27904830254942187
0.5918194226854996
0.1840705275180297
0.22408530842158983
0.24894420418096042
0.5016725779535357
0.24937583283724313
0.3299073849800824
0.3998489020794931
0.27024196477251505
0.3305101927354831
0.40450228121830156
0.2649851711456236
0.32761292448923035
0.40933353007311796
0.26305088678839705
0.9036470318680764
0.02471974798585968
0.06851803168294063
0.23607431053417507
0.5167543811331584
0.2471628878217503
0.31058552358829655
0.42421008039593905
0.265201886864749
0.5435097038114753
0.2189128588963731
0.23756359525132945
0.2578698068843173
0.48257759079962215
0.25954839503471094
0.3491555573050251
0.37441820932590864
0.2764250570743521
0.26357113583489644
0.4811674324270493
0.2552562213000014
0.6493441131971003
0.13737791435478797
0.21324816521482406
0.5567197019933807
0.20824816335451946
0.23501665099812347
0.3876756658329147
0.3611344411274344
0.25118490148252437
0.25391326275895415
0.49502129572136666
0.2510587529203305
0.7207771772148777
0.10879889265187205
0.1702572698186777
0.40820572408632877
0.33216105409821306
0.2596300243046053
0.2514630242210772
0.49445637187679786
0.25407488481723844
0.7084197794323822
0.11196965904004313
0.17950074968380023
0.15826516641407776
0.6333298159340408
0.20835918093534578
0.3180074911969681
0.45505571250041105
0.22691196850919634
0.34513090417844133
0.3852709414718972
0.2695964173470295
0.2943337187065098
0.47624158639640435
0.22940278014322396
0.16683349826139915
0.6150472110804459
0.2180891812669289
0.16884965159750456
0.5907387542259618
0.2404011387161854
0.3542212072926341
0.3805059999495779
0.26527060355010673
0.438138170714887
0.3047169273939661
0.25714083047691644
0.5947038629445138
0.1837404598260962
0.2215275378917966
0.25003020792593916
0.4826136241895976
0.26735329523513846
0.36837524184341597
0.36502419410393333
0.2665985516474264
0.2347895739229225
0.5328877721101097
0.23230391482159543
0.35218865469323024
0.4050221575861739
0.2427806987474155
0.6745577029598567
0.12861722772483586
0.19676559590131984
0.3402541440529705
0.3943289551602193
0.26541466868638564
0.5929467949963789
0.2023946406459955
0.20457989436682253
0.539181061368153
0.2000425844566334
0.26077202890607376
0.11288183897807787
0.7206157057119353
0.16628020925594925
0.4405640562276386
0.28438517316953293
0.275049118364545
0.5386653963795401
0.2280251109024602
0.23329188706852944
0.30526789940342397
0.42502305186360223
0.2697070540481977
0.25276970064330984
0.515445431894002
0.23176533217973752
0.5791706995411436
0.19605262438832852
0.2247513653910375
0.4454029397757381
0.2822810282277558
0.27231409955125224
0.17507482665168594
0.5993137448794871
0.2255895655584542
0.24574855697655165
0.492322434093885
0.26192516432548424
0.5530958178385085
0.20566046148729722
0.2412325020400295
0.38032933888942033
0.35717185042093735
0.26249625003510596
0.35717185042093735
0.38032933888942033
0.26249625003510596
0.21958994895068862
0.5421122754701488
0.23828443380598965
0.3465894130267273
0.37136710032858117
0.2820426177959449
0.24982076113388826
0.4939064798766568
0.2562676484593141

0.43090094774360593
0.3282853194928947
0.2408036484156227
0.2678611270283079
0.4831154306018637
0.24901618031437858
0.21339788021958284
0.5453816915125833
0.24120905594198433
0.44048688230922883
0.2910270712981967
0.26848376589559275
0.3913899128394715
0.3272318145000219
0.2813773216940737
0.4003997850855469
0.3311004639636429
0.26849782871732236
0.6020863173804168
0.18034984380476937
0.21752996012296308
0.16739656301587413
0.6424111305292548
0.19005931723172978
0.5962322253879792
0.19241226577102677
0.21130472178733317
0.6171274347512398
0.15415748223114462
0.22869847024614495
0.3077916331251273
0.4162080539598023
0.275998920347105
0.5783584475502347
0.18380354697892323
0.23782549349254523
0.23753824043999638
0.4954252144517379
0.2670335113811345
0.2753051634446807
0.4547196793402825
0.2699728940819766
0.12345977641078207
0.6931159839983341
0.18331572491602147
0.27332633301949244
0.4743371186391504
0.2523305946859516
0.2222047160628858
0.5415186037859709
0.2362617856608623
0.15173233468529287
0.6568559842990804
0.1913075354796231
0.6468750310933213
0.14545329638412186
0.20762950057933796
0.08462462323569687
0.771524441605757
0.14344024442373368
0.6630398012196573
0.1382167632036983
0.19868269669043828
0.3719002951208034
0.3634813720894111
0.2646160782494746
0.26986824660166264
0.47330761893711437
0.2568194377504814
0.6422735573315547
0.15262904869761795
0.20504595756697053
0.5740915107520697
0.1976280568629455
0.22825919537763956
0.34860058483282436
0.37668775300849744
0.27471036749825745
0.39828858222969793
0.3181069503513556
0.2836035915895625
0.16239242799300024
0.6336507764979479
0.2038969589065454
0.340231291283875
0.3935635511768378
0.26620302431395915
0.242300237505737
0.5416913159378696
0.2159601218550888
0.21534332050499547
0.5426753944065529
0.24197032044996358
0.5344438617020126
0.22233390861494545
0.24321188006021813
0.29564311737454957
0.4488281077826501
0.2555241549006688
0.27310348196771544
0.47463886041203596
0.2522516739677842
0.17678012077535854
0.6048726036513786
0.2183154576709066
0.25722953100967333
0.4838823832590844
0.25888371932372517
0.024719747985859686
0.9036470318680764
0.06851803168294063
0.5705510817586671
0.20547429851731056
0.22394717633345335
0.2899298166871595
0.4608089623621894
0.24925447024134417
0.5667494344937885
0.21392118971968785
0.21929287299794464
0.4340958168594959
0.29931025376978715
0.2665914917742397
0.33762738682012766
0.3808587429947192
0.28151295809985855
0.17840159205538159
0.5996207985809121
0.22195088891031364
0.2637667512706464
0.47350523048834503
0.26272453111859395
0.35822079419171154
0.3614130260362175
0.28036523873532554
0.6999970358281175
0.11799635552891517
0.18189937495900513
0.7831272184681152
0.07802642496336838
0.13839307816080362
0.5448607599751979
0.2152842253392071
0.23984278324165806
0.4875525786984562
0.27523192085783665
0.2372014417665144
0.26217945861667225
0.48340796184813895
0.254407102962287
0.34197127272830163
0.3961476799483875
0.2618783189304867
0.4191048731172312
0.30166650383232285
0.2792274177583583
0.5098112632662568
0.2443607773460892
0.2458189701004894
0.39802116323177333
0.3241336995964884
0.27784396868954975
0.04085569285664337
0.8629473222773627
0.09475566578715915
0.35015567455612157
0.37858712703850617
0.27125563171869294
0.6946823027154679
0.12374077182661156
0.18145700185024174
0.5102225750641869
0.23103101434455064
0.2587417475826393
0.47506696991020964
0.2600691095613095
0.26486076433714384
0.5304880043786432
0.22036941197027207
0.2491349484172396
0.12273269770741048
0.691239138978502
0.18593419120017576
0.16625448675802376
0.6231632564551173
0.21053836616143948
0.7475264211294036
0.10028453720841904
0.15180979265104305
0.2960199484352597
0.4653846064100954
0.2385829731843645
0.2907519566999597
0.42526991866478536
0.28397713053573087
0.6337744482195578
0.15587242293613407
0.21031244440832447
0.516847690351629
0.23511205783384287
0.24803220256304984
0.36972187760467384
0.35566449686775753
0.27461233532267554
0.8123198195723323
0.06272895862962645
0.12433412808687894
0.17860504924601978
0.58850208065452
0.23287729639227572
0.37735440645475044
0.37735440645475044
0.24528407681139391
0.33006740415623215
0.38655637040214996
0.2833753812972489
0.3152884628884666
0.41649304200219195
0.2682164206322805
0.3852709414718972
0.3451309041784414
0.2695964173470295
0.4112107262246131
0.332126002389602
0.25665946177756166
0.2081760072671387
0.5399451347616941
0.2518722200301938
0.1871715746113146
0.6017827813836574
0.21099570369293452

[2,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 0,
 None,
 0,
 0,
 2,
 2,
 0,
 0]

In [205]:
test_model_df['poisson'] = poisson_test_results
test_model_df

     lin Reg  log Reg  clf  actual results  poisson
0          1      2.0  2.0               2      2.0
1          1      2.0  2.0               0      2.0
2          2      2.0  2.0               2      2.0
3          1      2.0  2.0               2      2.0
4          2      2.0  2.0               2      2.0
5          1      2.0  2.0               1      2.0
6          1      0.0  2.0               0      0.0
7          1      2.0  2.0               1      2.0
8          1      2.0  2.0               0      0.0
9          1      2.0  2.0               2      2.0
10         2      2.0  2.0               0      2.0
11         1      2.0  2.0               2      0.0
12         1      0.0  2.0               0      0.0
13         1      2.0  2.0               1      2.0
14         2      2.0  2.0               1      2.0
15         1      2.0  2.0               0      2.0
16         1      2.0  2.0               2      0.0
17         2      2.0  2.0               0      2.0
18         1      2.0  2.0               2      2.0
19         1      2.0  2.0               2      2.0
20         1      0.0  2.0               2      0.0
21         2      2.0  2.0               0      2.0
22         1      2.0  2.0               1      2.0
23         2      2.0  2.0               2      2.0
24         1      2.0  2.0               2      0.0
25         0      0.0  2.0               2      0.0
26         2      2.0  2.0               2      2.0
27         2      2.0  2.0               2      2.0
28         2      2.0  2.0               1      2.0
29         1      0.0  2.0               2      0.0
..       ...      ...  ...             ...      ...
332        2      2.0  2.0               2      2.0
333        1      2.0  2.0               2      2.0
334        1      0.0  2.0               2      0.0
335        1      2.0  2.0               2      0.0
336        1      2.0  2.0               0      2.0
337        2      2.0  2.0               2      2.0
338        2      2.0  2.0               1      2.0
339        0      0.0  2.0               0      0.0
340        1      2.0  2.0               2      0.0
341        2      2.0  2.0               2      2.0
342        2      2.0  2.0               1      2.0
343        2      2.0  2.0               1      2.0
344        2      2.0  2.0               2      2.0
345        0      0.0  2.0               0      0.0
346        0      0.0  2.0               0      0.0
347        2      2.0  2.0               2      2.0
348        1      2.0  2.0               1      0.0
349        1      0.0  2.0               1      0.0
350        2      2.0  2.0               2      2.0
351        2      2.0  2.0               1      2.0
352        1      2.0  2.0               0      2.0
353        2      2.0  2.0               2      2.0
354        0      0.0  2.0               2      0.0
355        1      2.0  2.0               0      NaN
356        1      2.0  2.0               2      0.0
357        1      2.0  2.0               1      0.0
358        1      2.0  2.0               0      2.0
359        1      2.0  2.0               0      2.0
360        1      0.0  2.0               0      0.0
361        1      0.0  2.0               0      0.0

[362 rows x 5 columns]

In [206]:
def compare_accuracy(df):
    count1 = 0
    count2 = 0
    count3 = 0
    count4 = 0

    for index, row in df.iterrows():
        if row['lin Reg'] == row['actual results']:
            count1 += 1
        else:
            continue
        if row['log Reg'] == row['actual results']:
            count2 += 1
        else:
            continue
        if row['clf'] == row['actual results']:
            count3 += 1
        else:
            continue
        if row['poisson'] == row['actual results']:
            count4 += 1
        else:
            continue


    print('Linear Reg Model: {}% accurate'.format(round(count1 / len(test_model_df), 2)*100))
    print('Logistic Reg Model: {}% accurate'.format(round(count2 / len(test_model_df), 2)*100))
    print('Classification Model: {}% accurate'.format(round(count3 / len(test_model_df), 2)*100))
    print('Poisson Model: {}% accurate'.format(round(count4 / len(test_model_df), 2)*100))
          
compare_accuracy(test_model_df)

Linear Reg Model: 44.0% accurate
Logistic Reg Model: 26.0% accurate
Classification Model: 19.0% accurate
Poisson Model: 19.0% accurate

# Running Game Simulations

In [51]:
def simulate_goals(game, a_team='A Team', b_team='B Team', verbose=False):
    a_goals = 0
    b_goals = 0
    outcome = 0

    random_event = np.random.random()
    counter = 0


    for index, row in pd.DataFrame(data=game).iterrows():
        for x in range(len(row)):
            counter += row[x]
            
            a_goals = index
            b_goals = x
            
            if counter > random_event:
                break
        if counter > random_event:
            break
    
    if verbose == True:
        print('Random float: {}'.format(random_event))
        print('{} goals: {}'.format(a_team, str(a_goals)))
        print('{} goals: {}\n'.format(b_team, str(b_goals)))
    
    return a_goals, b_goals


def show_game_summary(game, a_team='A Team', b_team='B Team', verbose=False):
    a_team_odds = np.sum(np.tril(game, -1))
    b_team_odds = np.sum(np.triu(game, 1))
    draw_odds = np.sum(np.diag(game))
    
    if verbose == True:
        print('{} chance of Win: {}%'.format(a_team, round(a_team_odds*100, 2)))
        print('{} chance of Win: {}%'.format(b_team, round(b_team_odds*100, 2)))
        print('Odds of a draw: {}%'.format(round(draw_odds*100, 2)))
    
    a_goals, b_goals = simulate_goals(game, a_team, b_team, verbose=verbose)
    
    return a_team_odds, b_team_odds, draw_odds, a_goals, b_goals


def simulate_match(foot_model, a_team, b_team, type='Club', max_goals=9, verbose=False):
    a_team_stats = get_team_stats(a_team, type=type)
    b_team_stats = get_team_stats(b_team, type=type)
    
    data1 = {'A_Team_attack': a_team_stats[0],
              'A_Team_mid': a_team_stats[1],
              'A_Team_def': a_team_stats[2],
              'B_Team_attack': b_team_stats[0], 
              'B_Team_mid': b_team_stats[1], 
              'B_Team_def': b_team_stats[2]}
    
    data2 = {'A_Team_attack': b_team_stats[0],
              'A_Team_mid': b_team_stats[1],
              'A_Team_def': b_team_stats[2],
              'B_Team_attack': a_team_stats[0], 
              'B_Team_mid': a_team_stats[1], 
              'B_Team_def': a_team_stats[2]}
        
    a_goals_avg = foot_model.predict(pd.DataFrame(data=data1, index=[1])).values[0]
    b_goals_avg = foot_model.predict(pd.DataFrame(data=data2, index=[1])).values[0]
    
    team_pred = [[poisson.pmf(i, team_avg) for i in range(0, max_goals+1)] for team_avg in [a_goals_avg, b_goals_avg]]
    game = (np.outer(np.array(team_pred[0]), np.array(team_pred[1])))
    show_game_summary(game, a_team, b_team, verbose=verbose)
    return game

In [100]:
game = simulate_match(poisson_model, 'Iran', 'Spain', type='Nationality')
show_game_summary(game, 'Iran', 'Spain', verbose=True)

Iran chance of Win: 2.96%
Spain chance of Win: 88.98%
Odds of a draw: 7.85%
Random float: 0.44281062990106224
Iran goals: 0
Spain goals: 4

(0.029581164489326576, 0.8897511047391475, 0.07849130091609607, 0, 4)

In [53]:
simulate_goals(game)

(1, 2)

## Getting the world cup squad Stats

In [54]:
get_team_stats('Belgium', type='Nationality', return_df=True)

                                 Overall
Nationality Preferred Positions
Belgium     Attack                  86.0
            Defense                 86.0
            Midfield                84.0

In [55]:
get_team_stats('Sweden', type='Nationality', return_df=True)

                                 Overall
Nationality Preferred Positions
Sweden      Attack                  80.0
            Defense                 78.0
            Midfield                80.0

In [56]:
schedule_df = pd.read_csv('resources/worldcup_match_schedule.csv')
schedule_df.head()

     a_team        b_team
0    Russia  Saudi Arabia
1     Egypt       Uruguay
2  Portugal         Spain
3   Morocco          Iran
4    France     Australia

In [57]:
def get_bulk_team_stats(schedule):


    a_team_attack = []
    a_team_mid = []
    a_team_def = []
    b_team_attack = []
    b_team_mid = []
    b_team_def = []
    data = []


    for index, row in schedule.iterrows():
        try:
            a_team_stats = get_team_stats(row['a_team'], type='Nationality')
            a_attack = a_team_stats[0][0]
            a_midfield = a_team_stats[0][1]
            a_defense = a_team_stats[0][2]

            b_team_stats = get_team_stats(row['b_team'], type='Nationality')
            b_attack = b_team_stats[0][0]
            b_midfield = b_team_stats[0][1]
            b_defense = b_team_stats[0][2]

            if len(a_team_stats[0]) != 3 or len(b_team_stats[0]) != 3:
                a_team_attack.append(None)
                a_team_mid.append(None)
                a_team_def.append(None)
                b_team_attack.append(None)
                b_team_mid.append(None)
                b_team_def.append(None)
            else:            
                a_team_attack.append(a_attack)
                a_team_mid.append(a_midfield)
                a_team_def.append(a_defense)
                b_team_attack.append(b_attack)
                b_team_mid.append(b_midfield)
                b_team_def.append(b_defense)


        except IndexError:
            a_team_attack.append(None)
            a_team_mid.append(None)
            a_team_def.append(None)
            b_team_attack.append(None)
            b_team_mid.append(None)
            b_team_def.append(None)
            continue

    data = [a_team_attack, 
            a_team_mid, 
            a_team_def, 
            b_team_attack,
            b_team_mid, 
            b_team_def]

    rename_cols = ['A_Team_attack', 
                   'A_Team_mid',
                   'A_Team_def',
                   'B_Team_attack', 
                   'B_Team_mid', 
                   'B_Team_def']


    return pd.DataFrame(data, index=rename_cols).transpose()

In [58]:
# mask = overall_score_df['Nationality'] == 'Serbia'
# groupby_cols = ['Nationality', 'Preferred Positions']
# player_overall_df[mask].head(13).groupby(groupby_cols).mean().round(0)

In [59]:
def get_game_summary(df):

    a_team_odds = []
    b_team_odds = []
    draw_odds = []
    a_goals_count = []
    b_goals_count = []

    for index, row in schedule_df.iterrows():
        a_team = row[0]
        b_team = row[1]

        game = simulate_match(poisson_model, a_team, b_team, type='Nationality')
        a_team_probability, b_team_probability, draw_probability, a_goals, b_goals  = show_game_summary(game)

        a_team_odds.append(a_team_probability)
        b_team_odds.append(b_team_probability)
        draw_odds.append(draw_probability)
        a_goals_count.append(a_goals)
        b_goals_count.append(b_goals)
        
    
    df['a_team_chances'] = pd.Series(a_team_odds)
    df['b_team_chances'] = pd.Series(b_team_odds)
    df['draw_chances'] = pd.Series(draw_odds)
    df['a_goals'] = pd.Series(a_goals_count)
    df['b_goals'] = pd.Series(b_goals_count)
    
    return df

In [101]:
def calculate_stage_winner(df):
    a_team_points = []
    b_team_points = []

    for index, row in group_stage_results_df.iterrows():
        win = 3
        loss = 0
        draw = 1
        if row['a_goals'] == row['b_goals']:
            a_team_points.append(draw)
            b_team_points.append(draw)
        elif row['a_goals'] > row['b_goals']:
            a_team_points.append(win)
            b_team_points.append(loss)
        elif row['a_goals'] < row['b_goals']:
            a_team_points.append(loss)
            b_team_points.append(win)


        df['a_points'] = pd.Series(a_team_points)
        df['b_points'] = pd.Series(b_team_points)
        
    return df

group_stage_results_df = get_game_summary(schedule_df)
group_stage_results_df = calculate_stage_winner(group_stage_results_df)
group_stage_results_df

,a_team,b_team,a_team_chances,b_team_chances,draw_chances,a_goals,b_goals,a_points,b_points
0,Russia,Saudi Arabia,0.554290,0.202677,0.243023,2,3,0,3
1,Egypt,Uruguay,0.128553,0.675456,0.195929,0,1,0,3
2,Portugal,Spain,0.311893,0.449925,0.238170,0,3,0,3
3,Morocco,Iran,0.632917,0.147130,0.219929,2,0,3,0
4,France,Australia,0.783094,0.075025,0.141530,3,0,3,0
5,Peru,Denmark,0.210984,0.542639,0.246369,0,2,0,3
6,Argentina,Iceland,0.823846,0.058962,0.116335,0,1,0,3
7,Croatia,Nigeria,0.597850,0.175881,0.226247,1,0,3,0
8,Brazil,Switzerland,0.611717,0.175833,0.212408,4,1,3,0
9,Costa Rica,Serbia,0.214069,0.543399,0.242522,1,3,0,3
10,Germany,Mexico,0.657188,0.150520,0.192194,1,1,1,1
11,Sweden,Korea Republic,0.518825,0.238300,0.242864,0,2,0,3
12,Belgium,Panama,0.923147,0.015909,0.057690,2,0,3,0
13,Tunisia,England,0.078672,0.768211,0.152904,2,2,1,1
14,Poland,Senegal,0.349494,0.396617,0.253885,2,0,3,0
15,Colombia,Japan,0.516199,0.240412,0.243379,0,1,0,3
16,Russia,Egypt,0.559110,0.205155,0.235720,2,0,3,0
17,Uruguay,Saudi Arabia,0.668340,0.128277,0.203340,3,0,3,0
18,Portugal,Morocco,0.623699,0.167780,0.208472,4,0,3,0
19,Iran,Spain,0.029581,0.889751,0.078491,1,2,0,3
20,France,Peru,0.798459,0.070222,0.130769,3,0,3,0
21,Denmark,Australia,0.528053,0.215381,0.256560,1,2,0,3
22,Argentina,Croatia,0.481416,0.286253,0.232313,0,1,0,3
23,Nigeria,Iceland,0.484665,0.246092,0.269240,1,2,0,3
24,Brazil,Costa Rica,0.780784,0.077885,0.140939,3,0,3,0
25,Serbia,Switzerland,0.362511,0.370869,0.266617,3,2,3,0
26,Germany,Sweden,0.672681,0.142287,0.184901,1,1,1,1
27,Korea Republic,Mexico,0.228819,0.528535,0.242635,1,1,1,1
28,Belgium,Tunisia,0.830861,0.050144,0.118455,1,1,1,1
29,England,Panama,0.887484,0.027621,0.083513,1,0,3,0
30,Poland,Colombia,0.369895,0.374531,0.255570,1,1,1,1
31,Japan,Senegal,0.223569,0.539651,0.236766,0,2,0,3
32,Uruguay,Russia,0.489589,0.258490,0.251915,0,2,0,3
33,Saudi Arabia,Egypt,0.357711,0.365192,0.277096,2,0,3,0
34,Iran,Portugal,0.044405,0.850849,0.103763,0,3,0,3
35,Spain,Morocco,0.690533,0.126969,0.182378,1,0,3,0
36,Denmark,France,0.163342,0.633073,0.203524,2,3,0,3
37,Australia,Peru,0.364066,0.353009,0.282924,2,0,3,0
38,Nigeria,Argentina,0.119134,0.697792,0.182971,0,0,1,1
39,Iceland,Croatia,0.098119,0.738521,0.163164,1,3,0,3
40,Serbia,Brazil,0.171910,0.622105,0.205926,2,2,1,1
41,Switzerland,Costa Rica,0.542487,0.210987,0.246517,2,2,1,1
42,Korea Republic,Germany,0.072676,0.792767,0.134065,0,2,0,3
43,Mexico,Sweden,0.384883,0.360991,0.254122,0,2,0,3
44,England,Belgium,0.287742,0.474514,0.237731,5,2,3,0
45,Panama,Tunisia,0.195317,0.514835,0.289847,1,1,1,1
46,Japan,Poland,0.241997,0.507767,0.250229,3,2,3,0
47,Senegal,Colombia,0.397563,0.354153,0.248279,2,0,3,0

In [102]:
cols = {'a_team': 'Team', 'a_goals': 'Goals', 'a_points': 'Points',
        'b_team': 'Team', 'b_goals': 'Goals', 'b_points': 'Points'}

a_team_group_results_df = group_stage_results_df[['a_team', 'a_goals', 'a_points']].rename(columns=cols)
b_team_group_results_df = group_stage_results_df[['b_team', 'b_goals', 'b_points']].rename(columns=cols)

scoreboard_df = pd.concat([a_team_group_results_df, b_team_group_results_df]).reset_index(drop=True)
scoreboard_df = scoreboard_df.merge(pd.read_csv('resources/worldcup_country_groups.csv'), on='Team', how='left')
scoreboard_df = scoreboard_df.groupby(['Group', 'Team']).sum().reset_index()
scoreboard_df = scoreboard_df.sort_values(['Group', 'Points', 'Goals'], ascending=[True, False, False]).reset_index(drop=True)
scoreboard_df

   Group            Team  Goals  Points
0      A          Russia      6       6
1      A    Saudi Arabia      5       6
2      A         Uruguay      4       6
3      A           Egypt      0       0
4      B           Spain      6       9
5      B        Portugal      7       6
6      B         Morocco      2       3
7      B            Iran      1       0
8      C          France      9       9
9      C       Australia      4       6
10     C         Denmark      5       3
11     C            Peru      0       0
12     D         Croatia      5       9
13     D         Iceland      4       6
14     D         Nigeria      1       1
15     D       Argentina      0       1
16     E          Brazil      9       7
17     E          Serbia      8       7
18     E     Switzerland      5       1
19     E      Costa Rica      3       1
20     F         Germany      4       5
21     F  Korea Republic      3       4
22     F          Sweden      3       4
23     F          Mexico      2       2
24     G         England      8       7
25     G         Belgium      5       4
26     G         Tunisia      4       3
27     G          Panama      1       1
28     H           Japan      4       6
29     H         Senegal      4       6
30     H          Poland      5       4
31     H        Colombia      1       1

In [62]:
round_of_16_games = [(0, 5), (8, 13),
                     (16, 21), (24, 29),
                     (4, 1), (12, 9),
                     (20, 17), (28, 25)]

round_of_8_games = [(0, 1), (2, 3),
                     (4, 5), (6, 7)]

round_of_4_games = [(0, 1), (2, 3)]

round_of_2_games = [(0, 1)]

def get_team_penalties(team):
    mask = players_df['Nationality'] == team
    return pd.to_numeric(players_df[mask]['Penalties'].head(), errors='coerce').mean()

def simulate_penalties(a_team, b_team):
    a_pen = get_team_penalties(a_team)
    b_pen = get_team_penalties(b_team)
    
    if a_pen == b_pen:
        winner = a_team
    elif a_pen > b_pen:
        winner = a_team
    elif a_pen < b_pen:
        winner = b_team
    
    return winner

def get_knockout_winner(round_results_df):
    winners = []
    
    for index, row in round_results_df.iterrows():
        if row['a_goals'] == row['b_goals']:
            winner = simulate_penalties(row[0], row[1])
        elif row['a_goals'] > row['b_goals']:
            winner = row[0]
        elif row['a_goals'] < row['b_goals']:
            winner = row[1]
            
        winners.append(winner)
        
    round_results_df['Winner'] = pd.Series(winners)
    
    return round_results_df
    

def simulate_knockout_stage(df, schedule_tuples):
    a_team_lists = []
    b_team_lists = []

    a_team_odds = []
    b_team_odds = []
    draw_odds = []
    a_goals_count = []
    b_goals_count = []
    
    
    for match in schedule_tuples:
        a_team = df.iloc[match[0]]['Team']
        b_team = df.iloc[match[1]]['Team']
        a_team_lists.append(a_team)
        b_team_lists.append(b_team)

        game = simulate_match(poisson_model, a_team, b_team, type="Nationality")
        a_team_probability, b_team_probability, draw_probability, a_goals, b_goals  = show_game_summary(game)

        a_team_odds.append(a_team_probability)
        b_team_odds.append(b_team_probability)
        draw_odds.append(draw_probability)
        a_goals_count.append(a_goals)
        b_goals_count.append(b_goals)

    round_results_df = pd.DataFrame([a_team_lists, b_team_lists]).transpose()
    round_results_df = get_game_summary(round_results_df)
    round_results_df = get_knockout_winner(round_results_df)
    
    df = pd.DataFrame(round_results_df['Winner']).rename(columns={'Winner': 'Team'})    
    
    return df

In [63]:
def simulate_World_Cup(n_simulations=None, verbose=False):
    world_cup_winners = []
    n = 0
    while n < n_simulations:
        try:
            group_stage_results_df = get_game_summary(schedule_df)
            group_stage_results_df = calculate_stage_winner(group_stage_results_df)

            cols = {'a_team': 'Team', 'a_goals': 'Goals', 'a_points': 'Points',
                    'b_team': 'Team', 'b_goals': 'Goals', 'b_points': 'Points'}

            a_team_group_results_df = group_stage_results_df[['a_team', 'a_goals', 'a_points']].rename(columns=cols)
            b_team_group_results_df = group_stage_results_df[['b_team', 'b_goals', 'b_points']].rename(columns=cols)

            scoreboard_df = pd.concat([a_team_group_results_df, b_team_group_results_df]).reset_index(drop=True)
            scoreboard_df = scoreboard_df.merge(pd.read_csv('resources/worldcup_country_groups.csv'), on='Team', how='left')
            scoreboard_df = scoreboard_df.groupby(['Group', 'Team']).sum().reset_index()
            scoreboard_df = scoreboard_df.sort_values(['Group', 'Points', 'Goals'], ascending=[True, False, False])

            df_8 = simulate_knockout_stage(scoreboard_df, round_of_16_games)
            df_4 = simulate_knockout_stage(df_8, round_of_8_games)
            df_2 = simulate_knockout_stage(df_4, round_of_4_games)
            world_cup_winner = simulate_knockout_stage(df_2, round_of_2_games).iloc[0].item()

            world_cup_winners.append(world_cup_winner)
            
            if verbose == True:
                print(group_stage_results_df)
                print(scoreboard_df)
                print(df_8)
                print(df_4)
                print(df_2)
                print(pd.Series(world_cup_winners).value_counts())
                
            print('The winner of World Cup 2018 simulation {}/{} is {}'.format(n+1, n_simulations, world_cup_winner))
            

            n += 1
        except:
            print('Exception occured')
            continue
        
    return pd.Series(world_cup_winners).value_counts()

In [103]:
world_cup_results = simulate_World_Cup(1, verbose=True)

            a_team          b_team  a_team_chances  b_team_chances  \
0           Russia    Saudi Arabia        0.554290        0.202677
1            Egypt         Uruguay        0.128553        0.675456
2         Portugal           Spain        0.311893        0.449925
3          Morocco            Iran        0.632917        0.147130
4           France       Australia        0.783094        0.075025
5             Peru         Denmark        0.210984        0.542639
6        Argentina         Iceland        0.823846        0.058962
7          Croatia         Nigeria        0.597850        0.175881
8           Brazil     Switzerland        0.611717        0.175833
9       Costa Rica          Serbia        0.214069        0.543399
10         Germany          Mexico        0.657188        0.150520
11          Sweden  Korea Republic        0.518825        0.238300
12         Belgium          Panama        0.923147        0.015909
13         Tunisia         England        0.078672        0.768211
14          Poland         Senegal        0.349494        0.396617
15        Colombia           Japan        0.516199        0.240412
16          Russia           Egypt        0.559110        0.205155
17         Uruguay    Saudi Arabia        0.668340        0.128277
18        Portugal         Morocco        0.623699        0.167780
19            Iran           Spain        0.029581        0.889751
20          France            Peru        0.798459        0.070222
21         Denmark       Australia        0.528053        0.215381
22       Argentina         Croatia        0.481416        0.286253
23         Nigeria         Iceland        0.484665        0.246092
24          Brazil      Costa Rica        0.780784        0.077885
25          Serbia     Switzerland        0.362511        0.370869
26         Germany          Sweden        0.672681        0.142287
27  Korea Republic          Mexico        0.228819        0.528535
28         Belgium         Tunisia        0.830861        0.050144
29         England          Panama        0.887484        0.027621
30          Poland        Colombia        0.369895        0.374531
31           Japan         Senegal        0.223569        0.539651
32         Uruguay          Russia        0.489589        0.258490
33    Saudi Arabia           Egypt        0.357711        0.365192
34            Iran        Portugal        0.044405        0.850849
35           Spain         Morocco        0.690533        0.126969
36         Denmark          France        0.163342        0.633073
37       Australia            Peru        0.364066        0.353009
38         Nigeria       Argentina        0.119134        0.697792
39         Iceland         Croatia        0.098119        0.738521
40          Serbia          Brazil        0.171910        0.622105
41     Switzerland      Costa Rica        0.542487        0.210987
42  Korea Republic         Germany        0.072676        0.792767
43          Mexico          Sweden        0.384883        0.360991
44         England         Belgium        0.287742        0.474514
45          Panama         Tunisia        0.195317        0.514835
46           Japan          Poland        0.241997        0.507767
47         Senegal        Colombia        0.397563        0.354153

    draw_chances  a_goals  b_goals  a_points  b_points
0       0.243023        3        2         3         0
1       0.195929        0        2         0         3
2       0.238170        4        1         3         0
3       0.219929        1        0         3         0
4       0.141530        3        2         3         0
5       0.246369        0        1         0         3
6       0.116335        1        1         1         1
7       0.226247        4        0         3         0
8       0.212408        4        2         3         0
9       0.242522        1        1         1         1
10      0.192194        1        2         0         3
11      0.242864        0        0         1         1
12      0.057690        3        0         3         0
13      0.152904        0        1         0         3
14      0.253885        2        1         3         0
15      0.243379        4        2         3         0
16      0.235720        4        0         3         0
17      0.203340        2        0         3         0
18      0.208472        1        0         3         0
19      0.078491        0        5         0         3
20      0.130769        3        1         3         0
21      0.256560        1        0         3         0
22      0.232313        1        2         0         3
23      0.269240        0        0         1         1
24      0.140939        0        1         0         3
25      0.266617        1        3         0         3
26      0.184901        0        3         0         3
27      0.242635        1        2         0         3
28      0.118455        5        3         3         0
29      0.083513        6        1         3         0
30      0.255570        1        1         1         1
31      0.236766        0        4         0         3
32      0.251915        2        1         3         0
33      0.277096        0        0         1         1
34      0.103763        0        3         0         3
35      0.182378        3        0         3         0
36      0.203524        1        2         0         3
37      0.282924        2        0         3         0
38      0.182971        1        0         3         0
39      0.163164        1        1         1         1
40      0.205926        0        1         0         3
41      0.246517        1        1         1         1
42      0.134065        0        2         0         3
43      0.254122        1        0         3         0
44      0.237731        2        4         0         3
45      0.289847        0        4         0         3
46      0.250229        2        2         1         1
47      0.248279        3        0         3         0
   Group            Team  Goals  Points
3      A         Uruguay      6       9
1      A          Russia      8       6
2      A    Saudi Arabia      2       1
0      A           Egypt      0       1
6      B        Portugal      8       9
7      B           Spain      9       6
5      B         Morocco      1       3
4      B            Iran      0       0
10     C          France      8       9
9      C         Denmark      3       6
8      C       Australia      4       3
11     C            Peru      1       0
13     D         Croatia      7       7
15     D         Nigeria      1       4
14     D         Iceland      2       3
12     D       Argentina      2       1
16     E          Brazil      5       6
17     E      Costa Rica      3       5
19     E     Switzerland      6       4
18     E          Serbia      2       1
22     F          Mexico      5       9
23     F          Sweden      3       4
20     F         Germany      3       3
21     F  Korea Republic      1       1
24     G         Belgium     12       9
25     G         England      9       6
27     G         Tunisia      7       3
26     G          Panama      1       0
31     H         Senegal      8       6
30     H          Poland      5       5
28     H        Colombia      5       4
29     H           Japan      4       1
       Team
0     Spain
1   Nigeria
2    Sweden
3   Belgium
4  Portugal
5   Denmark
6    Mexico
7   England
       Team
0     Spain
1   Belgium
2  Portugal
3    Mexico
     Team
0   Spain
1  Mexico
Spain    1
dtype: int64
The winner of World Cup 2018 simulation 1/1 is Spain

In [65]:
world_cup_results

NameError: name 'world_cup_results' is not defined