In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn
from scipy.stats import poisson,skellam

from league_team_names import epl_team_dict, bundesliga_team_dict, laliga_team_dict, seriea_teams_dict

country_group_dict = pd.read_csv('resources/worldcup_country_groups.csv', ).to_dict

In [2]:
players_df = pd.read_csv('resources/fifa-18-demo-player-dataset/CompleteDataset.csv')
players_df.drop(['Unnamed: 0', 'Flag', 'Club Logo', 'Value', 'Wage', 'Photo', 'Potential', "Special"], axis=1, inplace=True)
players_df[players_df['Nationality']=='Serbia'][['Name', 'Preferred Positions']]

/Users/michaelstrenk/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                      Name Preferred Positions
155               N. Matić             CM CDM
264               L. Fejsa             CM CDM
270            B. Ivanović              RB CB
393    S. Milinković-Savić             CAM CM
415            M. Nastasić                 CB
428               D. Tadić          RM LM CAM
491               D. Basta              RM RB
530          N. Maksimović                 CB
610              A. Ljajić             CAM LW
627             A. Kolarov              CB LB
702              N. Radoja             CDM CM
740              F. Kostić                 LM
871              F. Kostić                 LM
928             N. Subotić                 CB
990            A. Rukavina           RM LB RB
1011           A. Živković              LM RM
1144         N. Pejčinović              RB CB
1181        I. Radovanović             CM CDM
1185        L. Milivojević             CM CDM
1378          M. Sulejmani                 LM
1420            J. Vuković                 CB
1437              M. Jojić          CDM RM CM
1458            N. Tomović              RB CB
1460           L. Marković              CF RM
1611           M. Ninković             LM CAM
1679           S. Rajković                 CB
1866           F. Đorđević                 ST
1868            D. Lazović              LW RW
1879           A. Mitrović                 ST
2051          V. Jovanović                 CB
...                    ...                 ...
9098        M. Poletanović             CM CDM
9533             A. Sedlar                 CB
9634         M. Stevanović              CB RB
9786             N. Trujic                 ST
9834             D. Dražić              LW RW
10415          A. Pavlović                 ST
10532       V. Vukadinović                 RM
10711            N. Đurđić                 ST
10780              N. Rnić                 CB
10811        J. Stojanović          RM LM CAM
10872            S. Dražić                 ST
11163             D. Dinga                 CB
11288            M. Ristić           LM CB LB
11336            D. Sorgić                 ST
11399        Z. Alomerović                 GK
11591             N. Maraš                 CB
11812             V. Vasic                 GK
11878         A. Jovanović                 GK
11931             S. Čupić                 GK
12088     R. Milosavljević                CAM
12563       A. Kaluđerović                 ST
13224         S. Jovanović           ST RM LM
13312           E. Mašović             CDM CB
14045           V. Golemić                 CB
14084          D. Petrovic                 CB
14172          M. Pantović           CF RW LW
14886         P. Golubović                 RB
15517         F. Dmitrovic                 GK
16231             D. Srnić                CDM
16503           N. Pejović                 CB

[133 rows x 2 columns]

In [3]:
# positions_list = list(players_df['Preferred Positions'].apply(lambda x: x.split(' ', 1)[0]).drop_duplicates())
# positions_list

In [4]:
positions_dict = {'ST': 'Attack',
                  'RW': 'Attack',
                  'LW': 'Attack',
                  'GK': 'Defense',
                  'CDM': 'Midfield',
                  'CB': 'Defense',
                  'RM': 'Midfield',
                  'CM': 'Midfield',
                  'LM': 'Midfield',
                  'LB': 'Defense',
                  'CAM': 'Attack',
                  'RB': 'Defense',
                  'CF': 'Attack',
                  'RWB': 'Defense',
                  'LWB': 'Defense'}

In [5]:
players_df

,Name,Age,Nationality,Overall,Club,Acceleration,Aggression,Agility,Balance,Ball control,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,Real Madrid CF,89,63,89,63,93,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,Argentina,93,FC Barcelona,92,48,90,95,95,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,Brazil,92,Paris Saint-Germain,94,56,96,82,95,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. Suárez,30,Uruguay,92,FC Barcelona,88,78,86,60,91,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,M. Neuer,31,Germany,92,FC Bayern Munich,58,29,52,35,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,R. Lewandowski,28,Poland,91,FC Bayern Munich,79,80,78,80,89,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
6,De Gea,26,Spain,90,Manchester United,57,38,60,43,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,E. Hazard,26,Belgium,90,Chelsea,93,54,93,91,92,...,59.0,47.0,81.0,61.0,87.0,87.0,82.0,88.0,64.0,82.0
8,T. Kroos,27,Germany,90,Real Madrid CF,60,60,71,69,89,...,76.0,72.0,87.0,82.0,81.0,81.0,77.0,80.0,78.0,77.0
9,G. Higuaín,29,Argentina,90,Juventus,78,50,75,69,85,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
10,Sergio Ramos,31,Spain,90,Real Madrid CF,75,84,79,60,84,...,84.0,87.0,74.0,83.0,70.0,71.0,72.0,69.0,81.0,72.0
11,K. De Bruyne,26,Belgium,89,Manchester City,76,68,80,75,87,...,66.0,57.0,84.0,70.0,85.0,85.0,81.0,85.0,71.0,81.0
12,T. Courtois,25,Belgium,89,Chelsea,46,23,61,45,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,A. Sánchez,28,Chile,89,Arsenal,88,80,90,87,87,...,62.0,56.0,79.0,64.0,85.0,85.0,83.0,86.0,66.0,83.0
14,L. Modrić,31,Croatia,89,Real Madrid CF,75,62,93,94,92,...,78.0,72.0,86.0,80.0,83.0,84.0,76.0,83.0,80.0,76.0
15,G. Bale,27,Wales,89,Real Madrid CF,93,65,77,65,87,...,72.0,67.0,81.0,71.0,87.0,87.0,87.0,87.0,74.0,87.0
16,S. Agüero,29,Argentina,89,Manchester City,90,63,86,91,89,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0
17,G. Chiellini,32,Italy,89,Juventus,68,92,59,64,57,...,78.0,86.0,60.0,76.0,55.0,58.0,59.0,56.0,75.0,59.0
18,G. Buffon,39,Italy,89,Juventus,49,38,55,49,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,P. Dybala,23,Argentina,88,Juventus,88,48,91,85,93,...,55.0,43.0,78.0,55.0,86.0,86.0,83.0,87.0,60.0,83.0
20,J. Oblak,24,Slovenia,88,Atlético Madrid,43,34,67,49,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,A. Griezmann,26,France,88,Atlético Madrid,87,69,90,80,86,...,56.0,48.0,76.0,57.0,85.0,84.0,85.0,86.0,60.0,85.0
22,Thiago,26,Spain,88,FC Bayern Munich,77,57,90,86,92,...,72.0,66.0,85.0,76.0,83.0,83.0,77.0,83.0,75.0,77.0
23,P. Aubameyang,28,Gabon,88,Borussia Dortmund,95,43,77,70,82,...,62.0,52.0,74.0,59.0,84.0,83.0,85.0,84.0,65.0,85.0
24,L. Bonucci,30,Italy,88,Milan,62,82,60,52,75,...,79.0,86.0,75.0,83.0,66.0,66.0,65.0,63.0,76.0,65.0
25,J. Boateng,28,Germany,88,FC Bayern Munich,72,82,58,53,71,...,81.0,85.0,73.0,82.0,66.0,69.0,65.0,65.0,79.0,65.0
26,D. Godín,31,Uruguay,88,Atlético Madrid,62,86,63,58,76,...,79.0,86.0,69.0,80.0,62.0,63.0,64.0,61.0,76.0,64.0
27,M. Hummels,28,Germany,88,FC Bayern Munich,62,66,64,58,77,...,80.0,85.0,77.0,83.0,69.0,70.0,69.0,68.0,78.0,69.0
28,M. Özil,28,Germany,88,Arsenal,75,48,83,70,90,...,52.0,41.0,79.0,57.0,82.0,83.0,76.0,83.0,58.0,76.0
29,H. Lloris,30,France,88,Tottenham Hotspur,65,31,55,54,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17951,M. Hurst,21,Scotland,48,St. Johnstone FC,40,20,45,52,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17952,A. Osmanoski,17,FYR Macedonia,48,SpVgg Unterhaching,68,53,63,58,43,...,47.0,46.0,47.0,47.0,47.0,48.0,46.0,47.0,47.0,46.0
17953,K. Cotter,18,England,48,Luton Town,67,53,64,50,44,...,47.0,44.0,47.0,46.0,45.0,48.0,44.0,46.0,48.0,44.0
17954,T. Robinson,19,England,48,Bradford City,69,26,65,74,48,...,37.0,32.0,41.0,35.0,45.0,47.0,45.0,47.0,39.0,45.0
17955,R. Hughes,18,Scotland,48,Hamilton Academical FC,59,57,62,51,50,...,47.0,48.0,47.0,48.0,46.0,47.0,44.0,46.0,47.0,44.0
17956,Z. Mohammed,17,England,48,Accrington Stanley,62,41,43,60,27,...,44.0,47.0,33.0,41.0,32.0,34.0,34.0,33.0,42.0,34.0
17957,D. Peppard,17,Republic of Ireland,47,Bohemian FC,56,59,52,55,43,...,46.0,45.0,41.0,45.0,39.0,42.0,37.0,40.0,46.0,37.0
17958,C. Rogers,17,Republic of Ireland,47,Bray Wanderers,60,41,46,62,35,...,46.0,47.0,36.0,43.0,35.0,37.0,37.0,35.0,44.0,37.0
17959,N. McLaughlin,18,Scotland,47,Partick Thistle F.C.,69,52,54,72,45,...,43.0,40.0,46.0,44.0,47.0,48.0,46.0,47.0,44.0,46.0
17960,L. Kiely,18,Republic of Ireland,47,Shamrock Rovers,43,47,47,65,47,...,41.0,41.0,45.0,43.0,44.0,45.0,42.0,44.0,41.0,42.0
17961,J. Latibeaudiere,17,England,47,Manchester City,57,45,44,64,30,...,45.0,46.0,35.0,42.0,32.0,35.0,32.0,32.0,43.0,32.0
17962,J. Payne,18,England,47,Barnet,65,43,64,58,33,...,46.0,46.0,35.0,40.0,36.0,39.0,36.0,38.0,45.0,36.0
17963,G. Manley,19,Republic of Ireland,47,Cork City,57,59,58,70,42,...,46.0,48.0,46.0,48.0,42.0,44.0,41.0,42.0,46.0,41.0
17964,P. Phillips,18,Republic of Ireland,47,Cork City,56,51,51,65,41,...,47.0,48.0,46.0,48.0,43.0,44.0,41.0,42.0,46.0,41.0
17965,A. Byrne,18,Republic of Ireland,47,Cork City,58,54,59,77,43,...,46.0,43.0,46.0,46.0,46.0,47.0,44.0,45.0,46.0,44.0
17966,K. Fujikawa,18,Japan,47,Júbilo Iwata,59,55,50,79,48,...,46.0,47.0,46.0,47.0,43.0,45.0,40.0,44.0,46.0,40.0
17967,K. Egan,19,England,47,Exeter City,63,51,57,65,35,...,46.0,46.0,37.0,41.0,38.0,42.0,37.0,42.0,46.0,37.0
17968,T. Brownsword,17,England,47,Morecambe,55,47,49,59,30,...,45.0,46.0,32.0,40.0,32.0,34.0,33.0,32.0,43.0,33.0
17969,F. Prohart,18,Austria,47,Wolfsberger AC,62,27,69,71,46,...,33.0,27.0,41.0,31.0,48.0,47.0,46.0,49.0,35.0,46.0
17970,A. Kilgour,19,England,47,Bristol Rovers,52,56,60,51,42,...,43.0,46.0,38.0,43.0,37.0,38.0,38.0,37.0,42.0,38.0
17971,R. White,18,England,47,Bolton Wanderers,51,33,51,69,44,...,33.0,32.0,42.0,33.0,49.0,46.0,52.0,47.0,34.0,52.0
17972,A. Conway,19,Republic of Ireland,47,Galway United,60,44,47,54,28,...,46.0,45.0,41.0,43.0,42.0,44.0,42.0,44.0,46.0,42.0
17973,T. Sawyer,18,England,46,Grimsby Town,65,43,57,51,42,...,45.0,42.0,45.0,43.0,46.0,47.0,45.0,47.0,46.0,45.0
17974,J. Keeble,18,England,46,Grimsby Town,66,40,45,48,34,...,46.0,45.0,34.0,41.0,33.0,35.0,33.0,34.0,44.0,33.0
17975,T. Käßemodel,28,Germany,46,FC Erzgebirge Aue,25,52,40,52,46,...,37.0,38.0,45.0,42.0,42.0,42.0,41.0,41.0,38.0,41.0
17976,A. Kelsey,17,England,46,Scunthorpe United,24,16,38,26,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17977,B. Richardson,47,England,46,Wycombe Wanderers,25,44,35,44,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17978,J. Young,17,Scotland,46,Swindon Town,66,26,60,77,41,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
17979,J. Lundstram,18,England,46,Crewe Alexandra,57,46,58,74,43,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
17980,L. Sackey,18,Ghana,46,Scunthorpe United,48,52,49,47,32,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [6]:
overall_score_df = players_df[['Name', 'Club', 'Nationality', 'Preferred Positions', 'Overall']].copy()
overall_score_df['Preferred Positions'] = overall_score_df['Preferred Positions'].apply(lambda x: x.split(' ', 1)[0]).replace(positions_dict)

team = 'Brazil'
overall_score_df[overall_score_df['Nationality'] == team].head(14).groupby(['Nationality', 'Preferred Positions']).mean()

                                   Overall
Nationality Preferred Positions
Brazil      Attack               87.333333
            Defense              85.250000
            Midfield             84.666667

In [7]:
epl2018 = pd.read_csv('resources/leagues/epl2018.csv')
bundesliga2018 = pd.read_csv('resources/leagues/bundesliga2018.csv')
seriea2018 = pd.read_csv('resources/leagues/seriea2018.csv')
laliga2018 = pd.read_csv('resources/leagues/laliga2018.csv')
epl2018.head()

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,0,E0,11/08/17,Arsenal,Leicester,4,3,H,2,2,...,2.32,21,-1.00,1.91,1.85,2.10,2.02,1.49,4.73,7.25
1,1,E0,12/08/17,Brighton,Man City,0,2,A,0,0,...,2.27,20,1.50,1.95,1.91,2.01,1.96,11.75,6.15,1.29
2,2,E0,12/08/17,Chelsea,Burnley,2,3,A,0,3,...,2.23,20,-1.75,2.03,1.97,1.95,1.90,1.33,5.40,12.25
3,3,E0,12/08/17,Crystal Palace,Huddersfield,0,3,A,0,2,...,1.72,18,-0.75,2.10,2.05,1.86,1.83,1.79,3.56,5.51
4,4,E0,12/08/17,Everton,Stoke,1,0,H,1,0,...,1.76,19,-0.75,1.94,1.90,2.01,1.98,1.82,3.49,5.42

In [8]:
results_dict = {'H': 2, "D": 1, "A": 0}
cols = ['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']
test_df = epl2018[cols].rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals', 'FTR': 'Results'}).copy()
test_df['Results'] = test_df['Results'].replace(results_dict)
test_df

           HomeTeam        AwayTeam  HomeGoals  AwayGoals  Results
0           Arsenal       Leicester          4          3        2
1          Brighton        Man City          0          2        0
2           Chelsea         Burnley          2          3        0
3    Crystal Palace    Huddersfield          0          3        0
4           Everton           Stoke          1          0        2
5       Southampton         Swansea          0          0        1
6           Watford       Liverpool          3          3        1
7         West Brom     Bournemouth          1          0        2
8        Man United        West Ham          4          0        2
9         Newcastle       Tottenham          0          2        0
10      Bournemouth         Watford          0          2        0
11          Burnley       West Brom          0          1        0
12        Leicester        Brighton          2          0        2
13        Liverpool  Crystal Palace          1          0        2
14      Southampton        West Ham          3          2        2
15            Stoke         Arsenal          1          0        2
16          Swansea      Man United          0          4        0
17     Huddersfield       Newcastle          1          0        2
18        Tottenham         Chelsea          1          2        0
19         Man City         Everton          1          1        1
20      Bournemouth        Man City          1          2        0
21   Crystal Palace         Swansea          0          2        0
22     Huddersfield     Southampton          0          0        1
23       Man United       Leicester          2          0        2
24        Newcastle        West Ham          3          0        2
25          Watford        Brighton          0          0        1
26          Chelsea         Everton          2          0        2
27        Liverpool         Arsenal          4          0        2
28        Tottenham         Burnley          1          1        1
29        West Brom           Stoke          1          1        1
..              ...             ...        ...        ...      ...
350         Swansea         Chelsea          0          1        0
351      Man United         Arsenal          2          1        2
352        West Ham        Man City          1          4        0
353       Tottenham         Watford          2          0        2
354        Brighton      Man United          1          0        2
355     Bournemouth         Swansea          1          0        2
356         Everton     Southampton          1          1        1
357       Leicester        West Ham          0          2        0
358           Stoke  Crystal Palace          1          2        0
359         Watford       Newcastle          2          1        2
360       West Brom       Tottenham          1          0        2
361         Arsenal         Burnley          5          0        2
362         Chelsea       Liverpool          1          0        2
363        Man City    Huddersfield          0          0        1
364         Swansea     Southampton          0          1        0
365         Chelsea    Huddersfield          1          1        1
366       Leicester         Arsenal          3          1        2
367        Man City        Brighton          3          1        2
368       Tottenham       Newcastle          1          0        2
369        West Ham      Man United          0          0        1
370         Burnley     Bournemouth          1          2        0
371  Crystal Palace       West Brom          2          0        2
372    Huddersfield         Arsenal          0          1        0
373       Liverpool        Brighton          4          0        2
374      Man United         Watford          1          0        2
375       Newcastle         Chelsea          3          0        2
376     Southampton        Man City          0          1        0
377         Swansea           Stoke          1          2        0
378       Tottenham       Leicester          5          4        2
379        West Ham         Everton          3          1        2

[380 rows x 5 columns]

In [9]:
player_overall_df = players_df[['Name', 'Club', 'Nationality', 'Preferred Positions', 'Overall']].copy()
player_overall_df['Preferred Positions'] = player_overall_df['Preferred Positions'].apply(lambda x: x.split(' ', 1)[0]).replace(positions_dict)

In [10]:
def get_team_stats(team, type='Club', no_of_players=13, return_df=False):
    mask = overall_score_df[type] == team
    groupby_cols = [type, 'Preferred Positions']
    team_stats_df = player_overall_df[mask].head(no_of_players).groupby(groupby_cols).mean().round(0)
    if return_df == True:
        return team_stats_df
    else:
        df = team_stats_df.reset_index().pivot(type, 'Preferred Positions')
        attack = df['Overall'].values[0][0]
        mid = df['Overall'].values[0][1]
        defense = df['Overall'].values[0][2]
        return [attack, mid, defense]

In [11]:
get_team_stats('Brazil', type='Nationality', return_df=False)

[87.0, 86.0, 85.0]

In [12]:
get_team_stats('Chelsea')

[86.0, 85.0, 84.0]

In [21]:
team_cols = ['HomeTeam', 'AwayTeam']
epl2018[team_cols] = epl2018[team_cols].replace(epl_team_dict)
bundesliga2018[team_cols] = bundesliga2018[team_cols].replace(bundesliga_team_dict)
seriea2018[team_cols] = seriea2018[team_cols].replace(seriea_teams_dict)
laliga2018[team_cols] = laliga2018[team_cols].replace(laliga_team_dict)

In [22]:
seriea2018['HomeTeam'].drop_duplicates().sort_values()

2             Atalanta
10    Benevento Calcio
3              Bologna
24            Cagliari
13       Chievo Verona
4              Crotone
18      Ferrara (SPAL)
15          Fiorentina
11               Genoa
1        Hellas Verona
5                Inter
0             Juventus
6                Lazio
16               Milan
17              Napoli
12                Roma
7            Sampdoria
8             Sassuolo
19              Torino
9              Udinese
Name: HomeTeam, dtype: object

In [23]:
results_dict = {'H': 'HomeWin', "D": 'Draw', "A": 'AwayWin'}
cols = ['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']

league_results_df = pd.concat([epl2018, bundesliga2018, seriea2018, laliga2018])[cols]
league_results_df.rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals', 'FTR': 'Result'}, inplace=True)
league_results_df['Result'] = league_results_df['Result'].replace(results_dict)
league_results_df['Goal diff'] = league_results_df['HomeGoals'] - league_results_df['AwayGoals']

league_results_df.reset_index(drop=True, inplace=True)
league_results_df

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Result,Goal diff
0,Arsenal,Leicester City,4,3,HomeWin,1
1,Brighton & Hove Albion,Manchester City,0,2,AwayWin,-2
2,Chelsea,Burnley,2,3,AwayWin,-1
3,Crystal Palace,Huddersfield Town,0,3,AwayWin,-3
4,Everton,Stoke City,1,0,HomeWin,1
5,Southampton,Swansea City,0,0,Draw,0
6,Watford,Liverpool,3,3,Draw,0
7,West Bromwich Albion,Bournemouth,1,0,HomeWin,1
8,Manchester United,West Ham United,4,0,HomeWin,4
9,Newcastle United,Tottenham Hotspur,0,2,AwayWin,-2
10,Bournemouth,Watford,0,2,AwayWin,-2
11,Burnley,West Bromwich Albion,0,1,AwayWin,-1
12,Leicester City,Brighton & Hove Albion,2,0,HomeWin,2
13,Liverpool,Crystal Palace,1,0,HomeWin,1
14,Southampton,West Ham United,3,2,HomeWin,1
15,Stoke City,Arsenal,1,0,HomeWin,1
16,Swansea City,Manchester United,0,4,AwayWin,-4
17,Huddersfield Town,Newcastle United,1,0,HomeWin,1
18,Tottenham Hotspur,Chelsea,1,2,AwayWin,-1
19,Manchester City,Everton,1,1,Draw,0
20,Bournemouth,Manchester City,1,2,AwayWin,-1
21,Crystal Palace,Swansea City,0,2,AwayWin,-2
22,Huddersfield Town,Southampton,0,0,Draw,0
23,Manchester United,Leicester City,2,0,HomeWin,2
24,Newcastle United,West Ham United,3,0,HomeWin,3
25,Watford,Brighton & Hove Albion,0,0,Draw,0
26,Chelsea,Everton,2,0,HomeWin,2
27,Liverpool,Arsenal,4,0,HomeWin,4
28,Tottenham Hotspur,Burnley,1,1,Draw,0
29,West Bromwich Albion,Stoke City,1,1,Draw,0
...,...,...,...,...,...,...
1416,RC Celta de Vigo,RC Deportivo de La Coruña,1,1,Draw,0
1417,Girona CF,SD Eibar,1,4,AwayWin,-3
1418,Villarreal CF,Valencia CF,1,0,HomeWin,1
1419,Atlético Madrid,RCD Espanyol,0,2,AwayWin,-2
1420,FC Barcelona,Real Madrid CF,2,2,Draw,0
1421,UD Las Palmas,Getafe CF,0,1,AwayWin,-1
1422,Málaga CF,Deportivo Alavés,0,3,AwayWin,-3
1423,CD Leganés,Levante UD,0,3,AwayWin,-3
1424,FC Barcelona,Villarreal CF,5,1,HomeWin,4
1425,Sevilla FC,Real Madrid CF,3,2,HomeWin,1
1426,Deportivo Alavés,Athletic Club de Bilbao,3,1,HomeWin,2
1427,Real Betis Balompié,Sevilla FC,2,2,Draw,0
1428,SD Eibar,UD Las Palmas,1,0,HomeWin,1
1429,Getafe CF,Atlético Madrid,0,1,AwayWin,-1
1430,Girona CF,Valencia CF,0,1,AwayWin,-1
1431,RC Deportivo de La Coruña,Villarreal CF,2,4,AwayWin,-2
1432,Real Madrid CF,RC Celta de Vigo,6,0,HomeWin,6
1433,Real Sociedad,CD Leganés,3,2,HomeWin,1
1434,RCD Espanyol,Málaga CF,4,1,HomeWin,3
1435,Levante UD,FC Barcelona,5,4,HomeWin,1
1436,RC Celta de Vigo,Levante UD,4,2,HomeWin,2
1437,UD Las Palmas,Girona CF,1,2,AwayWin,-1
1438,CD Leganés,Real Betis Balompié,3,2,HomeWin,1
1439,Málaga CF,Getafe CF,0,1,AwayWin,-1
1440,Sevilla FC,Deportivo Alavés,1,0,HomeWin,1
1441,Villarreal CF,Real Madrid CF,2,2,Draw,0
1442,Athletic Club de Bilbao,RCD Espanyol,0,1,AwayWin,-1
1443,Atlético Madrid,SD Eibar,2,2,Draw,0
1444,FC Barcelona,Real Sociedad,1,0,HomeWin,1
1445,Valencia CF,RC Deportivo de La Coruña,2,1,HomeWin,1

In [24]:
# Chart this

In [25]:
league_results_df['Result'].value_counts()

HomeWin    655
AwayWin    440
Draw       351
Name: Result, dtype: int64

In [26]:
homeTeam_attack = []
homeTeam_mid = []
homeTeam_def = []
awayTeam_attack = []
awayTeam_mid = []
awayTeam_def = []
data = []


for index, row in league_results_df.iterrows():
    try:
        home_team_stats = get_team_stats(row['HomeTeam'])
        home_attack = home_team_stats[0]
        home_midfield = home_team_stats[1]
        home_defense = home_team_stats[2]

        away_team_stats = get_team_stats(row['AwayTeam'])
        away_attack = away_team_stats[0]
        away_midfield = away_team_stats[1]
        away_defense = away_team_stats[2]
                
        homeTeam_attack.append(home_attack)
        homeTeam_mid.append(home_midfield)
        homeTeam_def.append(home_defense)
        awayTeam_attack.append(away_attack)
        awayTeam_mid.append(away_midfield)
        awayTeam_def.append(away_defense)

        
    except IndexError:
        homeTeam_attack.append(None)
        homeTeam_mid.append(None)
        homeTeam_def.append(None)
        awayTeam_attack.append(None)
        awayTeam_mid.append(None)
        awayTeam_def.append(None)
        continue

In [27]:
data = [homeTeam_attack, 
        homeTeam_mid, 
        homeTeam_def, 
        awayTeam_attack,
        awayTeam_mid, 
        awayTeam_def]

feature_cols = ['homeTeam_attack', 
                'homeTeam_mid', 
                'homeTeam_def', 
                'awayTeam_attack', 
                'awayTeam_mid',
                'awayTeam_def']

home_cols = ['homeTeam_attack', 
                'homeTeam_mid', 
                'homeTeam_def', 
                'awayTeam_attack', 
                'awayTeam_mid',
                'awayTeam_def']

away_cols = ['awayTeam_attack', 
             'awayTeam_mid',
             'awayTeam_def',
             'homeTeam_attack', 
             'homeTeam_mid', 
             'homeTeam_def']

rename_cols = ['A_Team_attack', 
               'A_Team_mid',
               'A_Team_def',
               'B_Team_attack', 
               'B_Team_mid', 
               'B_Team_def']
             

team_ratings_df = pd.DataFrame(data, index=feature_cols)

In [28]:
team_ratings_df = team_ratings_df.transpose()
team_ratings_df['HomeGoals'] = league_results_df['HomeGoals']
team_ratings_df['AwayGoals'] = league_results_df['AwayGoals']
team_ratings_df['result'] = league_results_df['Result']

In [29]:
team_ratings_df.dropna(inplace=True)

In [30]:
team_ratings_df.head()

,homeTeam_attack,homeTeam_mid,homeTeam_def,awayTeam_attack,awayTeam_mid,awayTeam_def,HomeGoals,AwayGoals,result
0,85.0,83.0,83.0,80.0,78.0,78.0,4,3,HomeWin
1,76.0,75.0,75.0,89.0,83.0,85.0,0,2,AwayWin
2,86.0,85.0,84.0,75.0,77.0,75.0,2,3,AwayWin
3,78.0,76.0,79.0,75.0,73.0,74.0,0,3,AwayWin
4,81.0,81.0,82.0,78.0,79.0,77.0,1,0,HomeWin

In [31]:
home_team_df = team_ratings_df[home_cols].copy()
home_team_df.columns = rename_cols
away_team_df = team_ratings_df[away_cols].copy()
away_team_df.columns = rename_cols

X = pd.concat([home_team_df, away_team_df]).reset_index(drop=True)

In [32]:
X.tail()

,A_Team_attack,A_Team_mid,A_Team_def,B_Team_attack,B_Team_mid,B_Team_def
2887,88.0,86.0,88.0,81.0,81.0,80.0
2888,79.0,80.0,79.0,80.0,80.0,81.0
2889,78.0,78.0,78.0,86.0,85.0,83.0
2890,80.0,80.0,80.0,86.0,85.0,86.0
2891,79.0,77.0,77.0,79.0,80.0,80.0

In [33]:
print(X.shape)
X.iloc[[0,1370]]

(2892, 6)

,A_Team_attack,A_Team_mid,A_Team_def,B_Team_attack,B_Team_mid,B_Team_def
0,85.0,83.0,83.0,80.0,78.0,78.0
1370,80.0,78.0,78.0,81.0,81.0,81.0

In [159]:
result_mapping_dict = {'HomeWin': 2, 'Draw': 1, 'AwayWin': 0}
y = pd.DataFrame(league_results_df['Result']).reset_index(drop=True).replace(result_mapping_dict)
y.head()

   Result
0       2
1       0
2       0
3       0
4       2

In [160]:
print(y.shape)

(1446, 1)

# Machine Learning

In [158]:
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=3)

ValueError: Found input variables with inconsistent numbers of samples: [2892, 1446]

In [132]:
# default split is 75% for training and 25% for testing
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(2169, 6)
(2169, 1)
(723, 6)
(723, 1)

In [133]:
# import model
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.neural_network import MLPClassifier

from sklearn import tree

clf = tree.DecisionTreeClassifier(random_state=1)
clf = clf.fit(X_train, y_train)

# instantiate
linreg = LinearRegression()
logreg = LogisticRegression(solver='newton-cg', multi_class='multinomial')
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)

# fit the model to the training data (learn the coefficients)
linreg.fit(X_train, y_train)
logreg.fit(X_train, y_train)
clf.fit(X_train, y_train)

/Users/michaelstrenk/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/michaelstrenk/anaconda3/lib/python3.6/site-packages/sklearn/utils/optimize.py:203: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  "number of iterations.", ConvergenceWarning)
/Users/michaelstrenk/anaconda3/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:912: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(5, 2), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='lbfgs', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

In [134]:
# # print the intercept and coefficients
# print(linreg.intercept_)
# print(linreg.coef_)

# print(logreg.intercept_)
# print(logreg.coef_)

In [135]:
# pair the feature names with the coefficients
# list(zip(feature_cols, logreg.coef_))

In [155]:
# make predictions on the testing set
linreg_y_pred = linreg.predict(X_test)
logreg_y_pred = logreg.predict(X_test)
clf_y_pred = clf.predict(X_test)

In [156]:
# from sklearn import metrics
# print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

In [157]:
linreg_y_pred

array([[1.0393278 ],
       [1.2082783 ],
       [1.18336025],
       [1.55617699],
       [1.58568382],
       [1.255572  ],
       [1.51200574],
       [1.38121535],
       [1.36128621],
       [1.3307164 ],
       [1.11253367],
       [0.88359125],
       [2.03820301],
       [1.7074245 ],
       [0.91317135],
       [0.72609167],
       [2.29110022],
       [0.93050174],
       [1.0677259 ],
       [1.19274524],
       [0.84545925],
       [1.09034248],
       [2.39285159],
       [1.09337401],
       [2.06044256],
       [1.05181594],
       [1.18505785],
       [1.38690169],
       [2.06950716],
       [0.80998645],
       [1.04737458],
       [0.73540779],
       [1.66704929],
       [0.57951061],
       [1.30541073],
       [1.28342889],
       [1.19343825],
       [0.99650977],
       [2.13497165],
       [0.9451404 ],
       [1.85056461],
       [1.31772588],
       [2.26730164],
       [1.65211832],
       [0.78833646],
       [1.31510565],
       [1.1994819 ],
       [0.98601165],
       [0.95204416],
       [1.6403492 ],
       [1.10652693],
       [1.10726127],
       [0.97420753],
       [1.10243184],
       [0.95302478],
       [1.37608728],
       [1.54076941],
       [0.90395317],
       [0.94341898],
       [1.72734923],
       [1.0677259 ],
       [2.24496042],
       [0.676186  ],
       [1.46655632],
       [0.96786483],
       [1.27599482],
       [1.65466705],
       [1.5565883 ],
       [1.66212317],
       [1.0289575 ],
       [1.56443838],
       [0.93668232],
       [1.77111107],
       [0.59557427],
       [2.45439896],
       [1.13062415],
       [1.06614497],
       [1.0854676 ],
       [1.07268024],
       [1.51686477],
       [1.50581909],
       [0.8130162 ],
       [1.92569373],
       [1.22724361],
       [1.5728557 ],
       [1.95478925],
       [1.51580178],
       [1.21664988],
       [1.45559084],
       [1.02809768],
       [1.4138986 ],
       [0.91431728],
       [1.04157542],
       [0.77264099],
       [1.29905699],
       [1.52388754],
       [1.0322531 ],
       [1.23749489],
       [2.04846545],
       [0.35877062],
       [0.50349842],
       [1.05964839],
       [1.41964584],
       [1.0008517 ],
       [1.43496429],
       [2.13497165],
       [1.39520177],
       [1.91854754],
       [1.06038714],
       [1.93645164],
       [1.05273666],
       [0.78833646],
       [1.25347356],
       [1.40161185],
       [1.28437522],
       [1.61039386],
       [0.87455476],
       [1.12638401],
       [1.38952191],
       [2.38169915],
       [1.6929207 ],
       [0.56304005],
       [1.5951706 ],
       [1.67183504],
       [1.1910256 ],
       [0.9819623 ],
       [1.7359091 ],
       [1.25216345],
       [1.08878524],
       [1.60658075],
       [0.98108541],
       [1.17034768],
       [1.51657688],
       [0.9467384 ],
       [1.19127273],
       [1.54076941],
       [1.0719597 ],
       [0.78097387],
       [1.26037966],
       [1.16839911],
       [1.01985834],
       [1.78739777],
       [0.7852202 ],
       [1.5368373 ],
       [1.09356658],
       [1.81005951],
       [1.94907659],
       [1.41456161],
       [2.03322028],
       [0.80824808],
       [0.95204416],
       [1.69148895],
       [1.94164691],
       [1.26867356],
       [0.71486595],
       [1.83233364],
       [1.6149825 ],
       [1.28515032],
       [1.14285458],
       [1.10812493],
       [1.49676057],
       [1.52561337],
       [1.23304896],
       [1.07006002],
       [1.77096618],
       [0.82092868],
       [1.51323113],
       [1.83267774],
       [1.3298176 ],
       [0.96786483],
       [1.64596185],
       [0.88776871],
       [1.91028615],
       [1.39847424],
       [1.30484321],
       [1.10030325],
       [1.12126727],
       [1.77273099],
       [2.30736762],
       [2.31430126],
       [1.50581909],
       [1.17067249],
       [1.32790801],
       [1.30198027],
       [1.78692377],
       [1.05964839],
       [0.91489746],
       [0.69507156],
       [0.66908995],
       [1.90584931],
       [1.08460778],
       [0.73732385],
       [1.32736625],
       [0.93496268],
       [1.42594984],
       [1.03790927],
       [1.20106943],
       [2.07436178],
       [1.24931636],
       [0.93987007],
       [1.03541275],
       [0.71310114],
       [2.31933592],
       [1.67761021],
       [1.1989991 ],
       [1.04766068],
       [1.58235999],
       [1.67183504],
       [1.65653365],
       [1.82483235],
       [1.36440247],
       [1.47918128],
       [1.30509033],
       [1.20803559],
       [2.22725124],
       [1.04680086],
       [1.10247318],
       [1.5017433 ],
       [1.31143744],
       [0.9247114 ],
       [1.73443481],
       [0.80329317],
       [1.20930053],
       [1.37927503],
       [1.08616502],
       [1.32747907],
       [1.67329696],
       [1.19262801],
       [1.0099057 ],
       [1.92569373],
       [1.28437522],
       [0.36855701],
       [2.13669129],
       [1.24386336],
       [1.91986206],
       [1.62459092],
       [1.31143744],
       [1.89216138],
       [1.87126004],
       [2.0639182 ],
       [1.58213491],
       [1.56437101],
       [1.75813806],
       [1.13623955],
       [0.90487567],
       [1.10652693],
       [1.36128621],
       [1.58256935],
       [1.11167207],
       [1.57861531],
       [0.80892346],
       [1.47099401],
       [1.05257426],
       [1.26724622],
       [1.46725374],
       [1.52458496],
       [0.86034944],
       [1.95468318],
       [1.43328861],
       [1.13961547],
       [1.73305939],
       [1.10652693],
       [1.31400312],
       [0.88939041],
       [1.42822763],
       [1.29982178],
       [1.33593538],
       [2.03820301],
       [2.01691859],
       [0.95196179],
       [1.47321971],
       [0.89099282],
       [1.37958868],
       [0.73540779],
       [1.79860418],
       [1.45808296],
       [1.31110823],
       [0.9801348 ],
       [1.6199808 ],
       [1.9877779 ],
       [1.18600417],
       [1.61029207],
       [1.38882271],
       [0.35685456],
       [1.3119135 ],
       [1.37771601],
       [0.6990019 ],
       [0.70573856],
       [1.63252103],
       [1.59289281],
       [0.65839456],
       [1.00403945],
       [1.07104354],
       [1.48866805],
       [1.19434765],
       [0.79112086],
       [0.99610053],
       [0.676186  ],
       [1.40007665],
       [0.89032791],
       [1.8061599 ],
       [0.95527943],
       [1.59422663],
       [0.80824808],
       [1.60868966],
       [1.02213612],
       [1.38121535],
       [2.042216  ],
       [1.34277383],
       [0.70244296],
       [1.28291329],
       [0.80474422],
       [1.02830098],
       [1.13116357],
       [1.05461815],
       [1.34468575],
       [1.30162088],
       [1.13966064],
       [1.73574492],
       [1.60055817],
       [1.13276832],
       [0.64064846],
       [1.08964506],
       [0.62354138],
       [1.88009954],
       [1.74844755],
       [1.01268832],
       [1.22053065],
       [1.44697655],
       [1.07755512],
       [1.12498299],
       [1.70017693],
       [1.28515032],
       [0.88445107],
       [1.09187767],
       [1.32025079],
       [1.25257297],
       [1.96554716],
       [1.15867168],
       [1.37353855],
       [1.50741697],
       [0.87934492],
       [2.30396085],
       [1.41081074],
       [0.59557427],
       [1.84334915],
       [1.27949856],
       [2.06239348],
       [1.24956085],
       [0.66882135],
       [1.8084571 ],
       [1.2844142 ],
       [2.47144324],
       [1.8930212 ],
       [1.05257426],
       [1.87718084],
       [0.46626522],
       [1.07608701],
       [1.19545019],
       [0.97746884],
       [1.85531744],
       [1.06454256],
       [1.80603826],
       [1.63778518],
       [1.19960561],
       [1.23536629],
       [1.00656436],
       [2.05275077],
       [1.6384826 ],
       [1.53245845],
       [1.84808532],
       [1.82483235],
       [1.32479617],
       [2.26730164],
       [2.01531618],
       [1.41964584],
       [1.10275722],
       [1.11167207],
       [0.8791843 ],
       [0.58694291],
       [1.08878524],
       [1.12720307],
       [0.93668232],
       [1.49485098],
       [2.04932527],
       [1.39999193],
       [1.50407563],
       [1.09216997],
       [1.3773284 ],
       [1.29246538],
       [1.98863772],
       [0.90840088],
       [1.57859824],
       [0.90395317],
       [1.98606707],
       [0.80998645],
       [1.16051681],
       [1.05620968],
       [2.2886037 ],
       [0.35685456],
       [1.13961547],
       [2.01128183],
       [0.87455476],
       [1.38530369],
       [1.21097621],
       [0.74518245],
       [1.71902723],
       [1.91028615],
       [1.14211199],
       [1.57955985],
       [1.6929207 ],
       [2.06239348],
       [1.59924187],
       [1.39692141],
       [0.98022559],
       [1.42369341],
       [1.6025657 ],
       [0.70410805],
       [0.42000172],
       [1.89496151],
       [1.06454256],
       [1.7074245 ],
       [1.10897416],
       [1.26144706],
       [1.89496151],
       [1.23313368],
       [0.93052377],
       [1.35875071],
       [0.96593583],
       [1.55441659],
       [1.40177425],
       [0.98783914],
       [1.52966094],
       [1.43562272],
       [0.79112086],
       [1.34637288],
       [1.05620968],
       [1.94164691],
       [1.12638401],
       [1.78737847],
       [1.6211956 ],
       [0.9064004 ],
       [1.37958868],
       [1.46557806],
       [2.43416487],
       [1.08257655],
       [1.36634719],
       [1.31240071],
       [1.19960561],
       [1.78739777],
       [2.61536771],
       [1.01240222],
       [0.77264099],
       [1.32736625],
       [1.38228274],
       [1.23132753],
       [1.39749541],
       [1.79934677],
       [2.01863823],
       [1.38952191],
       [1.67591718],
       [0.93030504],
       [0.8612952 ],
       [1.45559084],
       [1.57642225],
       [0.95302478],
       [0.96867948],
       [2.21997956],
       [1.8173531 ],
       [0.5775013 ],
       [2.4697236 ],
       [0.88359125],
       [1.37407357],
       [1.73443481],
       [0.57938982],
       [1.1714998 ],
       [0.89188693],
       [1.47198992],
       [1.11253189],
       [1.49485098],
       [1.45547802],
       [0.88653187],
       [2.04932527],
       [2.59113769],
       [1.22561488],
       [1.75160457],
       [1.43156897],
       [1.40007665],
       [1.54615079],
       [1.48352114],
       [1.46880217],
       [1.02539096],
       [1.13116357],
       [1.32887127],
       [1.26867356],
       [2.2400193 ],
       [1.48866805],
       [2.11606473],
       [1.0854676 ],
       [1.67669406],
       [0.69507156],
       [1.7049518 ],
       [2.14951941],
       [1.19459037],
       [1.58699393],
       [1.52569368],
       [0.90479799],
       [1.11820734],
       [1.18004261],
       [1.07513628],
       [1.65567383],
       [1.00403945],
       [1.18686399],
       [1.41988856],
       [0.89574399],
       [1.22532258],
       [1.45933067],
       [1.43562272],
       [1.60868966],
       [0.59557427],
       [1.99675337],
       [1.80710566],
       [2.37669964],
       [1.34784981],
       [2.40236469],
       [1.11747563],
       [1.04310014],
       [1.25286527],
       [1.01240222],
       [1.5669349 ],
       [0.60063085],
       [1.32790801],
       [0.91259764],
       [1.38442016],
       [1.15114847],
       [1.63938759],
       [1.45830198],
       [1.95468318],
       [0.43949323],
       [1.03450776],
       [1.77608293],
       [1.31987377],
       [1.28291329],
       [1.17670127],
       [1.12735666],
       [1.19429807],
       [2.40150487],
       [1.52569368],
       [1.2561785 ],
       [1.1994819 ],
       [1.19262801],
       [2.30396085],
       [2.26836961],
       [0.64419118],
       [0.72808653],
       [1.27791762],
       [0.98035989],
       [1.26781374],
       [1.45131819],
       [0.28016821],
       [0.67424624],
       [2.31430126],
       [0.870674  ],
       [2.01531618],
       [1.61378962],
       [0.95052826],
       [2.07164458],
       [2.04254906],
       [1.00570454],
       [1.17934519],
       [1.60145697],
       [1.0296567 ],
       [1.20259197],
       [1.51171786],
       [2.03714002],
       [1.69999042],
       [1.66212317],
       [1.03027202],
       [0.87414345],
       [1.10177576],
       [0.68413374],
       [1.66350684],
       [0.89491668],
       [1.57072475],
       [1.3589908 ],
       [1.62911426],
       [1.41298067],
       [1.75160457],
       [1.24603948],
       [0.64968494],
       [0.99689326],
       [1.54587378],
       [0.89565486],
       [1.32633577],
       [1.81812998],
       [0.93050174],
       [0.67918999],
       [1.26781374],
       [1.5669349 ],
       [2.10517693],
       [1.5728557 ],
       [1.31832976],
       [0.77337917],
       [1.16275561],
       [1.75641842],
       [0.99782017],
       [1.15114847],
       [0.87844612],
       [0.95797059],
       [1.8061599 ],
       [1.31832976],
       [1.19434765],
       [0.98035989],
       [2.01691859],
       [1.69210164],
       [1.26896586],
       [1.39761442],
       [0.99689326],
       [1.58699393],
       [2.04620902],
       [1.69126386],
       [1.28523504],
       [2.54835424],
       [1.49634926],
       [1.06278216],
       [1.05273666],
       [1.41334681],
       [1.03204994],
       [1.69210164],
       [1.771826  ],
       [1.41269456],
       [1.63010398],
       [2.59574397],
       [0.91329505],
       [2.11401203],
       [0.86778352],
       [1.14603173],
       [0.74999631],
       [1.26896586],
       [1.64112608],
       [2.38867675],
       [1.29382123],
       [1.47194858],
       [1.54534993],
       [1.46725374],
       [2.15705761],
       [1.53317115],
       [0.87492033],
       [1.63166121],
       [0.66968117],
       [1.27949856],
       [2.29110022],
       [2.0362802 ],
       [1.86500618],
       [1.08460778],
       [1.29228769],
       [2.56032253],
       [0.82995028],
       [0.95959725],
       [1.31772588],
       [0.88939041],
       [1.32994749],
       [2.05361059],
       [1.26042305],
       [1.17034768],
       [0.87414345],
       [1.03450776],
       [0.67326272],
       [1.91998107],
       [1.33480033],
       [1.05633779],
       [2.0639182 ],
       [1.27698012],
       [0.94890655],
       [1.64809927],
       [1.04310014],
       [1.58568382],
       [0.99016707],
       [1.71379737],
       [0.98108541],
       [2.40150487],
       [2.05275077],
       [1.84808532],
       [1.73408161],
       [2.04846545],
       [0.57489167],
       [1.44392309],
       [1.03541275],
       [1.03282682],
       [1.19130083],
       [1.51286556],
       [1.75160457],
       [1.33630535],
       [1.27791762],
       [0.64653675],
       [1.45205253],
       [0.57489167],
       [0.93059086],
       [1.47037   ],
       [1.39999193],
       [0.94862045],
       [0.84545925],
       [2.1304826 ],
       [0.96626242],
       [1.40451349],
       [1.23536629],
       [1.24751199],
       [2.35096694],
       [0.91579157],
       [1.10505442],
       [1.37095909],
       [1.98606707],
       [2.11401203],
       [1.43664316],
       [1.21106093],
       [1.35184282],
       [1.46841896],
       [1.25471039],
       [0.88176376],
       [2.29199902],
       [2.01703582],
       [1.40435109],
       [1.21493024]])

In [121]:
# import seaborn

In [122]:
# seaborn.distplot(y_pred)
# plt.show()

In [123]:
# seaborn.distplot(test_model_df['real_results'])
# plt.show()

In [124]:
# seaborn.distplot(test_model_df['normalized predictions'])
# plt.show()

In [147]:
ml_data = [linreg_y_pred, logreg_y_pred, clf_y_pred]

In [150]:
test_model_df = pd.DataFrame(ml_data, 
                             index=['lin Reg', 'log Reg', 'clf']
                            )

In [151]:
# test_model_df['predictions'].value_counts()
test_model_df

                                                         0
lin Reg  [[1.0393278033188662], [1.2082783035545361], [...
log Reg  [0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, ...
clf      [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...

In [53]:
# def normalize_test_model(y):
#     if y > (4/3):
#         return 2
#     elif y < (2/3):
#         return 0
#     else:
#         return 1

In [55]:
# counter = 0

# for index, row in test_model_df.iterrows():
#     if row['real_results'] == row['predictions']:
#         counter += 1
#     else:
#         continue
        
        
# counter / len(test_model_df)

In [56]:
# test_model_df['normalized predictions'] = test_model_df['predictions'].apply(normalize_test_model)

In [57]:
# count = 0

# for index, row in test_model_df.iterrows():
#     if row['real_results'] == row['normalized predictions']:
#         count += 1
        
# count / len(test_model_df)

# Poisson

In [167]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

home_team_df = team_ratings_df[home_cols].copy()
home_team_df.columns = rename_cols
away_team_df = team_ratings_df[away_cols].copy()
away_team_df.columns = rename_cols

X = pd.concat([home_team_df, away_team_df]).reset_index(drop=True)

y = pd.DataFrame(pd.concat([team_ratings_df['HomeGoals'], team_ratings_df['AwayGoals']]).reset_index(drop=True), columns=['goals'])

goal_model_data = X.join(y)

goal_model_data.head()

,A_Team_attack,A_Team_mid,A_Team_def,B_Team_attack,B_Team_mid,B_Team_def,goals
0,85.0,83.0,83.0,80.0,78.0,78.0,4
1,76.0,75.0,75.0,89.0,83.0,85.0,0
2,86.0,85.0,84.0,75.0,77.0,75.0,2
3,78.0,76.0,79.0,75.0,73.0,74.0,0
4,81.0,81.0,82.0,78.0,79.0,77.0,1

In [169]:
poisson_model = smf.glm(formula="goals ~ A_Team_attack + A_Team_mid + A_Team_def + B_Team_attack + B_Team_mid + B_Team_def", 
                        data=goal_model_data, 
                        family=sm.families.Poisson()).fit()

poisson_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  goals   No. Observations:                 2892
Model:                            GLM   Df Residuals:                     2885
Model Family:                 Poisson   Df Model:                            6
Link Function:                    log   Scale:                             1.0
Method:                          IRLS   Log-Likelihood:                -4221.6
Date:                Wed, 13 Jun 2018   Deviance:                       3404.4
Time:                        10:35:48   Pearson chi2:                 3.01e+03
No. Iterations:                     5
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept        -1.6821      0.507     -3.317      0.001      -2.676      -0.688
A_Team_attack     0.0434      0.011      3.934      0.000       0.022       0.065
A_Team_mid        0.0020      0.012      0.170      0.865      -0.021       0.025
A_Team_def        0.0259      0.012      2.113      0.035       0.002       0.050
B_Team_attack    -0.0129      0.011     -1.149      0.250      -0.035       0.009
B_Team_mid       -0.0359      0.012     -2.903      0.004      -0.060      -0.012
B_Team_def        0.0020      0.013      0.155      0.877      -0.023       0.027
=================================================================================
"""

In [59]:
# team_data_test1 = {'A_Team_attack': 84,
#                   'A_Team_mid': 84,
#                   'A_Team_def': 85,
#                   'B_Team_attack': 80, 
#                   'B_Team_mid': 78, 
#                   'B_Team_def': 80}


# poisson_model.predict(pd.DataFrame(data=team_data_test1, index=[1]))

1    1.932062
dtype: float64

In [60]:


# team_data_test2 = {'A_Team_attack': 80,
#                   'A_Team_mid': 78,
#                   'A_Team_def': 80,
#                   'B_Team_attack': 84, 
#                   'B_Team_mid': 84, 
#                   'B_Team_def': 85}


# poisson_model.predict(pd.DataFrame(data=team_data_test2, index=[1]))

1    1.090379
dtype: float64

# Running Game Simulations

In [170]:
def simulate_goals(game, a_team='A Team', b_team='B Team', verbose=False):
    a_goals = 0
    b_goals = 0
    outcome = 0

    random_event = np.random.random()
    counter = 0


    for index, row in pd.DataFrame(data=game).iterrows():
        for x in range(len(row)):
            counter += row[x]
            
            a_goals = index
            b_goals = x
            
            if counter > random_event:
                break
        if counter > random_event:
            break
    
    if verbose == True:
        print('Random float: {}'.format(random_event))
        print('{} goals: {}'.format(a_team, str(a_goals)))
        print('{} goals: {}\n'.format(b_team, str(b_goals)))
    
    return a_goals, b_goals


def show_game_summary(game, a_team='A Team', b_team='B Team', verbose=False):
    a_team_odds = np.sum(np.tril(game, -1))
    b_team_odds = np.sum(np.triu(game, 1))
    draw_odds = np.sum(np.diag(game))
    
    if verbose == True:
        print('{} chance of Win: {}%'.format(a_team, round(a_team_odds*100, 2)))
        print('{} chance of Win: {}%'.format(b_team, round(b_team_odds*100, 2)))
        print('Odds of a draw: {}%'.format(round(draw_odds*100, 2)))
    
    a_goals, b_goals = simulate_goals(game, a_team, b_team, verbose=verbose)
    
    return a_team_odds, b_team_odds, draw_odds, a_goals, b_goals


def simulate_match(foot_model, a_team, b_team, type='Club', max_goals=9, verbose=False):
    a_team_stats = get_team_stats(a_team, type=type)
    b_team_stats = get_team_stats(b_team, type=type)
    
    data1 = {'A_Team_attack': a_team_stats[0],
              'A_Team_mid': a_team_stats[1],
              'A_Team_def': a_team_stats[2],
              'B_Team_attack': b_team_stats[0], 
              'B_Team_mid': b_team_stats[1], 
              'B_Team_def': b_team_stats[2]}
    
    data2 = {'A_Team_attack': b_team_stats[0],
              'A_Team_mid': b_team_stats[1],
              'A_Team_def': b_team_stats[2],
              'B_Team_attack': a_team_stats[0], 
              'B_Team_mid': a_team_stats[1], 
              'B_Team_def': a_team_stats[2]}
        
    a_goals_avg = foot_model.predict(pd.DataFrame(data=data1, index=[1])).values[0]
    b_goals_avg = foot_model.predict(pd.DataFrame(data=data2, index=[1])).values[0]
    
    team_pred = [[poisson.pmf(i, team_avg) for i in range(0, max_goals+1)] for team_avg in [a_goals_avg, b_goals_avg]]
    game = (np.outer(np.array(team_pred[0]), np.array(team_pred[1])))
    show_game_summary(game, a_team, b_team, verbose=verbose)
    return game

In [171]:
game = simulate_match(poisson_model, 'Belgium', 'Germany', type='Nationality')
show_game_summary(game, 'Belgium', 'Germany', verbose=True)

Belgium chance of Win: 33.21%
Germany chance of Win: 42.5%
Odds of a draw: 24.29%
Random float: 0.22017988971807123
Belgium goals: 0
Germany goals: 3

(0.3320872363735382, 0.42498530193176426, 0.24291869883834877, 0, 3)

In [64]:
simulate_goals(game)

(3, 0)

## Getting the world cup squad Stats

In [65]:
get_team_stats('Belgium', type='Nationality', return_df=True)

                                 Overall
Nationality Preferred Positions
Belgium     Attack                  86.0
            Defense                 86.0
            Midfield                84.0

In [66]:
get_team_stats('Sweden', type='Nationality', return_df=True)

                                 Overall
Nationality Preferred Positions
Sweden      Attack                  80.0
            Defense                 78.0
            Midfield                80.0

In [67]:
schedule_df = pd.read_csv('resources/worldcup_match_schedule.csv')
schedule_df.head()

     a_team        b_team
0    Russia  Saudi Arabia
1     Egypt       Uruguay
2  Portugal         Spain
3   Morocco          Iran
4    France     Australia

In [68]:
def get_bulk_team_stats(schedule):


    a_team_attack = []
    a_team_mid = []
    a_team_def = []
    b_team_attack = []
    b_team_mid = []
    b_team_def = []
    data = []


    for index, row in schedule.iterrows():
        try:
            a_team_stats = get_team_stats(row['a_team'], type='Nationality')
            a_attack = a_team_stats[0][0]
            a_midfield = a_team_stats[0][1]
            a_defense = a_team_stats[0][2]

            b_team_stats = get_team_stats(row['b_team'], type='Nationality')
            b_attack = b_team_stats[0][0]
            b_midfield = b_team_stats[0][1]
            b_defense = b_team_stats[0][2]

            if len(a_team_stats[0]) != 3 or len(b_team_stats[0]) != 3:
                a_team_attack.append(None)
                a_team_mid.append(None)
                a_team_def.append(None)
                b_team_attack.append(None)
                b_team_mid.append(None)
                b_team_def.append(None)
            else:            
                a_team_attack.append(a_attack)
                a_team_mid.append(a_midfield)
                a_team_def.append(a_defense)
                b_team_attack.append(b_attack)
                b_team_mid.append(b_midfield)
                b_team_def.append(b_defense)


        except IndexError:
            a_team_attack.append(None)
            a_team_mid.append(None)
            a_team_def.append(None)
            b_team_attack.append(None)
            b_team_mid.append(None)
            b_team_def.append(None)
            continue

    data = [a_team_attack, 
            a_team_mid, 
            a_team_def, 
            b_team_attack,
            b_team_mid, 
            b_team_def]

    rename_cols = ['A_Team_attack', 
                   'A_Team_mid',
                   'A_Team_def',
                   'B_Team_attack', 
                   'B_Team_mid', 
                   'B_Team_def']


    return pd.DataFrame(data, index=rename_cols).transpose()

In [69]:
# mask = overall_score_df['Nationality'] == 'Serbia'
# groupby_cols = ['Nationality', 'Preferred Positions']
# player_overall_df[mask].head(13).groupby(groupby_cols).mean().round(0)

In [70]:
def get_game_summary(df):

    a_team_odds = []
    b_team_odds = []
    draw_odds = []
    a_goals_count = []
    b_goals_count = []

    for index, row in schedule_df.iterrows():
        a_team = row[0]
        b_team = row[1]

        game = simulate_match(poisson_model, a_team, b_team, type='Nationality')
        a_team_probability, b_team_probability, draw_probability, a_goals, b_goals  = show_game_summary(game)

        a_team_odds.append(a_team_probability)
        b_team_odds.append(b_team_probability)
        draw_odds.append(draw_probability)
        a_goals_count.append(a_goals)
        b_goals_count.append(b_goals)
        
    
    df['a_team_chances'] = pd.Series(a_team_odds)
    df['b_team_chances'] = pd.Series(b_team_odds)
    df['draw_chances'] = pd.Series(draw_odds)
    df['a_goals'] = pd.Series(a_goals_count)
    df['b_goals'] = pd.Series(b_goals_count)
    
    return df

In [71]:
def calculate_stage_winner(df):
    a_team_points = []
    b_team_points = []

    for index, row in group_stage_results_df.iterrows():
        win = 3
        loss = 0
        draw = 1
        if row['a_goals'] == row['b_goals']:
            a_team_points.append(draw)
            b_team_points.append(draw)
        elif row['a_goals'] > row['b_goals']:
            a_team_points.append(win)
            b_team_points.append(loss)
        elif row['a_goals'] < row['b_goals']:
            a_team_points.append(loss)
            b_team_points.append(win)


        df['a_points'] = pd.Series(a_team_points)
        df['b_points'] = pd.Series(b_team_points)
        
    return df

group_stage_results_df = get_game_summary(schedule_df)
group_stage_results_df = calculate_stage_winner(group_stage_results_df)
group_stage_results_df

,a_team,b_team,a_team_chances,b_team_chances,draw_chances,a_goals,b_goals,a_points,b_points
0,Russia,Saudi Arabia,0.554290,0.202677,0.243023,2,0,3,0
1,Egypt,Uruguay,0.128553,0.675456,0.195929,2,3,0,3
2,Portugal,Spain,0.311893,0.449925,0.238170,1,2,0,3
3,Morocco,Iran,0.632917,0.147130,0.219929,2,1,3,0
4,France,Australia,0.783094,0.075025,0.141530,3,1,3,0
5,Peru,Denmark,0.210984,0.542639,0.246369,1,2,0,3
6,Argentina,Iceland,0.823846,0.058962,0.116335,1,0,3,0
7,Croatia,Nigeria,0.597850,0.175881,0.226247,3,0,3,0
8,Brazil,Switzerland,0.611717,0.175833,0.212408,1,0,3,0
9,Costa Rica,Serbia,0.214069,0.543399,0.242522,1,3,0,3
10,Germany,Mexico,0.657188,0.150520,0.192194,2,0,3,0
11,Sweden,Korea Republic,0.518825,0.238300,0.242864,1,0,3,0
12,Belgium,Panama,0.923147,0.015909,0.057690,3,1,3,0
13,Tunisia,England,0.078672,0.768211,0.152904,1,5,0,3
14,Poland,Senegal,0.349494,0.396617,0.253885,1,3,0,3
15,Colombia,Japan,0.516199,0.240412,0.243379,1,0,3,0
16,Russia,Egypt,0.559110,0.205155,0.235720,0,1,0,3
17,Uruguay,Saudi Arabia,0.668340,0.128277,0.203340,1,1,1,1
18,Portugal,Morocco,0.623699,0.167780,0.208472,2,1,3,0
19,Iran,Spain,0.029581,0.889751,0.078491,0,5,0,3
20,France,Peru,0.798459,0.070222,0.130769,1,0,3,0
21,Denmark,Australia,0.528053,0.215381,0.256560,1,1,1,1
22,Argentina,Croatia,0.481416,0.286253,0.232313,3,0,3,0
23,Nigeria,Iceland,0.484665,0.246092,0.269240,2,1,3,0
24,Brazil,Costa Rica,0.780784,0.077885,0.140939,5,0,3,0
25,Serbia,Switzerland,0.362511,0.370869,0.266617,2,1,3,0
26,Germany,Sweden,0.672681,0.142287,0.184901,2,2,1,1
27,Korea Republic,Mexico,0.228819,0.528535,0.242635,0,2,0,3
28,Belgium,Tunisia,0.830861,0.050144,0.118455,5,1,3,0
29,England,Panama,0.887484,0.027621,0.083513,7,0,3,0
30,Poland,Colombia,0.369895,0.374531,0.255570,1,0,3,0
31,Japan,Senegal,0.223569,0.539651,0.236766,1,4,0,3
32,Uruguay,Russia,0.489589,0.258490,0.251915,2,1,3,0
33,Saudi Arabia,Egypt,0.357711,0.365192,0.277096,4,1,3,0
34,Iran,Portugal,0.044405,0.850849,0.103763,1,1,1,1
35,Spain,Morocco,0.690533,0.126969,0.182378,4,1,3,0
36,Denmark,France,0.163342,0.633073,0.203524,1,1,1,1
37,Australia,Peru,0.364066,0.353009,0.282924,1,0,3,0
38,Nigeria,Argentina,0.119134,0.697792,0.182971,2,1,3,0
39,Iceland,Croatia,0.098119,0.738521,0.163164,2,5,0,3
40,Serbia,Brazil,0.171910,0.622105,0.205926,2,3,0,3
41,Switzerland,Costa Rica,0.542487,0.210987,0.246517,0,0,1,1
42,Korea Republic,Germany,0.072676,0.792767,0.134065,1,1,1,1
43,Mexico,Sweden,0.384883,0.360991,0.254122,3,2,3,0
44,England,Belgium,0.287742,0.474514,0.237731,1,1,1,1
45,Panama,Tunisia,0.195317,0.514835,0.289847,1,1,1,1
46,Japan,Poland,0.241997,0.507767,0.250229,1,1,1,1
47,Senegal,Colombia,0.397563,0.354153,0.248279,2,1,3,0

In [72]:
cols = {'a_team': 'Team', 'a_goals': 'Goals', 'a_points': 'Points',
        'b_team': 'Team', 'b_goals': 'Goals', 'b_points': 'Points'}

a_team_group_results_df = group_stage_results_df[['a_team', 'a_goals', 'a_points']].rename(columns=cols)
b_team_group_results_df = group_stage_results_df[['b_team', 'b_goals', 'b_points']].rename(columns=cols)

scoreboard_df = pd.concat([a_team_group_results_df, b_team_group_results_df]).reset_index(drop=True)
scoreboard_df = scoreboard_df.merge(pd.read_csv('resources/worldcup_country_groups.csv'), on='Team', how='left')
scoreboard_df = scoreboard_df.groupby(['Group', 'Team']).sum().reset_index()
scoreboard_df = scoreboard_df.sort_values(['Group', 'Points', 'Goals'], ascending=[True, False, False]).reset_index(drop=True)
scoreboard_df

   Group            Team  Goals  Points
0      A         Uruguay      6       7
1      A    Saudi Arabia      5       4
2      A           Egypt      4       3
3      A          Russia      3       3
4      B           Spain     11       9
5      B        Portugal      4       4
6      B         Morocco      4       3
7      B            Iran      2       1
8      C          France      5       7
9      C         Denmark      4       5
10     C       Australia      3       4
11     C            Peru      1       0
12     D         Croatia      8       6
13     D       Argentina      5       6
14     D         Nigeria      4       6
15     D         Iceland      3       0
16     E          Brazil      9       9
17     E          Serbia      7       6
18     E      Costa Rica      1       1
19     E     Switzerland      1       1
20     F          Mexico      5       6
21     F         Germany      5       5
22     F          Sweden      5       4
23     F  Korea Republic      1       1
24     G         England     13       7
25     G         Belgium      9       7
26     G         Tunisia      3       1
27     G          Panama      2       1
28     H         Senegal      9       9
29     H          Poland      3       4
30     H        Colombia      2       3
31     H           Japan      2       1

In [ ]:
round_of_16_games = [(0, 5), (8, 13),
                     (16, 21), (24, 29),
                     (4, 1), (12, 9),
                     (20, 17), (28, 25)]

round_of_8_games = [(0, 1), (2, 3),
                     (4, 5), (6, 7)]

round_of_4_games = [(0, 1), (2, 3)]

round_of_2_games = [(0, 1)]

def get_team_penalties(team):
    mask = players_df['Nationality'] == team
    return pd.to_numeric(players_df[mask]['Penalties'].head(), errors='coerce').mean()

def simulate_penalties(a_team, b_team):
    a_pen = get_team_penalties(a_team)
    b_pen = get_team_penalties(b_team)
    
    if a_pen == b_pen:
        winner = a_team
    elif a_pen > b_pen:
        winner = a_team
    elif a_pen < b_pen:
        winner = b_team
    
    return winner

def get_knockout_winner(round_results_df):
    winners = []
    
    for index, row in round_results_df.iterrows():
        if row['a_goals'] == row['b_goals']:
            winner = simulate_penalties(row[0], row[1])
        elif row['a_goals'] > row['b_goals']:
            winner = row[0]
        elif row['a_goals'] < row['b_goals']:
            winner = row[1]
            
        winners.append(winner)
        
    round_results_df['Winner'] = pd.Series(winners)
    
    return round_results_df
    

def simulate_knockout_stage(df, schedule_tuples):
    a_team_lists = []
    b_team_lists = []

    a_team_odds = []
    b_team_odds = []
    draw_odds = []
    a_goals_count = []
    b_goals_count = []
    
    
    for match in schedule_tuples:
        a_team = df.iloc[match[0]]['Team']
        b_team = df.iloc[match[1]]['Team']
        a_team_lists.append(a_team)
        b_team_lists.append(b_team)

        game = simulate_match(poisson_model, a_team, b_team, type="Nationality")
        a_team_probability, b_team_probability, draw_probability, a_goals, b_goals  = show_game_summary(game)

        a_team_odds.append(a_team_probability)
        b_team_odds.append(b_team_probability)
        draw_odds.append(draw_probability)
        a_goals_count.append(a_goals)
        b_goals_count.append(b_goals)

    round_results_df = pd.DataFrame([a_team_lists, b_team_lists]).transpose()
    round_results_df = get_game_summary(round_results_df)
    round_results_df = get_knockout_winner(round_results_df)
    
    df = pd.DataFrame(round_results_df['Winner']).rename(columns={'Winner': 'Team'})    
    
    return df

In [ ]:
def simulate_World_Cup(n_simulations=None, verbose=False):
    world_cup_winners = []
    n = 0
    while n < n_simulations:
        try:
            group_stage_results_df = get_game_summary(schedule_df)
            group_stage_results_df = calculate_stage_winner(group_stage_results_df)

            cols = {'a_team': 'Team', 'a_goals': 'Goals', 'a_points': 'Points',
                    'b_team': 'Team', 'b_goals': 'Goals', 'b_points': 'Points'}

            a_team_group_results_df = group_stage_results_df[['a_team', 'a_goals', 'a_points']].rename(columns=cols)
            b_team_group_results_df = group_stage_results_df[['b_team', 'b_goals', 'b_points']].rename(columns=cols)

            scoreboard_df = pd.concat([a_team_group_results_df, b_team_group_results_df]).reset_index(drop=True)
            scoreboard_df = scoreboard_df.merge(pd.read_csv('resources/worldcup_country_groups.csv'), on='Team', how='left')
            scoreboard_df = scoreboard_df.groupby(['Group', 'Team']).sum().reset_index()
            scoreboard_df = scoreboard_df.sort_values(['Group', 'Points', 'Goals'], ascending=[True, False, False])

            df_8 = simulate_knockout_stage(scoreboard_df, round_of_16_games)
            df_4 = simulate_knockout_stage(df_8, round_of_8_games)
            df_2 = simulate_knockout_stage(df_4, round_of_4_games)
            world_cup_winner = simulate_knockout_stage(df_2, round_of_2_games).iloc[0].item()

            world_cup_winners.append(world_cup_winner)
            
            if verbose == True:
                print(group_stage_results_df)
                print(scoreboard_df)
                print(df_8)
                print(df_4)
                print(df_2)
                print(pd.Series(world_cup_winners).value_counts())
                
            print('The winner of World Cup 2018 simulation {}/{} is {}'.format(n+1, n_simulations, world_cup_winner))
            

            n += 1
        except:
            print('Exception occured')
            continue
        
    return pd.Series(world_cup_winners).value_counts()

In [ ]:
# world_cup_results = simulate_World_Cup(1000, verbose=False)

In [ ]:
world_cup_results